<div class="layout-px-spacing">

    <div class="seperator-header">
        <h4 class="">MANAGE EXPERTS REQUESTS</h4>
    </div>


    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <table id="zero-config" class="table style-1 dt-table-hover non-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Category</th>
                                <th class="text-center dt-no-sorting">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php
                          $users = getallUserAccountData("WHERE `account_type` = 'pending'");
                          foreach ($users as $user) {
                          ?>
                            <tr id="expert_<?= $user['user_id'] ?>">
                                <td>
                                  <?= $user['username'] ?>
                                </td>
                                <td class="user-name">
                                  <a href="#">
                                    <?= $user['name'] ?>
                                  </a>
                                </td>
                                <td><?= $user['email'] ?></td>
                                <td><?= $user['phone_number'] ?></td>
                                <td><?= getCategorySingleData($user['cat_id'])['title'] ?></td>
                                <td class="text-center">

                                  <div class="btn-group">
                                      <button type="button" class="btn btn-dark btn-sm">Open</button>
                                      <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference5" style="will-change: transform;">
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="editModal('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" > <i class="fa fa-pencil"></i> View Details</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="AcceptExpert('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" ><i class="fa fa-trash"></i> Accept Request</a>
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="RejectExpert('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" ><i class="fa fa-trash"></i> Reject Request</a>
                                      </div>
                                  </div>

                                </td>
                            </tr>
                            <?php
                              }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<a href="javascript:void(0)" id="showmd" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false"></a>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Expert Form Displays</h5>
                          <br>
                            <div class="row" id="update_data_cont">



                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Ignore</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>

  var webSiteUrl = "<?= $sh['config']['site_url'] ?>";

  // edit modal display
  function editModal(user_id,admin_id){

      $("#showmd").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=experts&s=get_single_expert_data&user_id='+user_id+'&admin_id='+admin_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#update_data_cont").html(data);

          }

      });

  }


  // Accept Expert
  function AcceptExpert(user_id,admin_id){

      swal({
        title: 'Expert Request Acceptance!',
        text: "Are you sure you want to accept this expert request?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Accept',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=experts&s=approve_expert_request&user_id='+user_id+'&admin_id='+admin_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#expert_"+user_id).fadeOut();

                      sureNotify(1,data.message);

                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });



  }

  // Reject Expert
  function RejectExpert(user_id,admin_id){

      swal({
        title: 'Expert Request Rejection!',
        text: "Are you sure you want to reject this expert request?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Reject',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=experts&s=reject_expert_request&user_id='+user_id+'&admin_id='+admin_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#expert_"+user_id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });



  }





</script>
