<div class="hero_single inner_pages background-image" data-background="url(img/hero_general.jpg)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.7)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10 col-md-8">
            <h1><?= $sh['page_profile']['page_title'] ?></h1>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>
  <!-- /hero_single -->


  <!-- /bg_gray -->
  <div class="container margin_60_40">
      <div class="main_title version_2">
        <span><em></em></span>
        <h2><?= $sh['page_profile']['page_title'] ?></h2>
        <p><?= $sh['page_profile']['page_description'] ?></p>
      </div>

      <!-- /list_articles -->
    </div>
    <!-- /container -->
