<main>
  <div class="hero_single inner_pages background-image" data-background="url(<?= $sh['config']['site_url']."/".$sh['config']['contact_banner'] ?>)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10 col-md-8">
            <h1>Contact <?= $sh['config']['siteName'] ?></h1>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>
  <!-- /hero_single -->

  <div class="bg_gray">
      <div class="container margin_60_40">
          <div class="row justify-content-center">
              <div class="col-lg-4">
                  <div class="box_contacts">
                      <i class="icon_lifesaver"></i>
                      <h2>Help Center</h2>
                      <a href="#0"><?= $sh['config']['contact_phone'] ?></a> - <a href="#0"><?= $sh['config']['siteEmail'] ?></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="box_contacts">
                      <i class="icon_pin_alt"></i>
                      <h2>Address</h2>
                      <div><?= $sh['config']['contact_address'] ?></div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="box_contacts">
                      <i class="icon_cloud-upload_alt"></i>
                      <h2>Submissions</h2>
                      <a href="#0"><?= $sh['config']['contact_phone'] ?></a> - <a href="#0"><?= $sh['config']['contact_email'] ?></a>
                  </div>
              </div>
          </div>
          <!-- /row -->
      </div>
      <!-- /container -->
  </div>
  <!-- /bg_gray -->

  <div class="container margin_60_40">
      <h5 class="mb_5">Drop Us a Line</h5>
      <div class="row">
          <div class="col-lg-4 col-md-6 add_bottom_25">
              <div id="message-contact"></div>
          <form method="post" id="sendRealContact" autocomplete="off">
            <div class="form-group">
                <input required class="form-control" type="text" placeholder="Name" id="name_contact" name="name_contact">
            </div>

            <?php if($sh['loggedin'] == true): ?>
              <div class="form-group">
                  <input class="form-control" value="<?= $sh['user']['email'] ?>" type="hidden" placeholder="Email" id="email_contact" name="email_contact">
              </div>
            <?php else: ?>
              <div class="form-group">
                  <input required class="form-control" type="email" placeholder="Email" id="email_contact" name="email_contact">
              </div>
            <?php endif; ?>

            <div class="form-group">
                <input required class="form-control" type="text" placeholder="Subject" id="subject_contact" name="subject_contact">
            </div>

            <div class="form-group">
                <textarea required class="form-control" style="height: 150px;" placeholder="Message" id="message_contact" name="message_contact"></textarea>
            </div>

            <div class="form-group">
                <button class="btn_1 full-width disable_btn" type="submit" id="">Submit</button>
            </div>
        </form>
      </div>
          <div class="col-lg-8 col-md-6 add_bottom_25">
              <iframe class="map_contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39714.47749917409!2d-0.13662037019554393!3d51.52871971170425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondra%2C+Regno+Unito!5e0!3m2!1sit!2ses!4v1557824540343!5m2!1sit!2ses" allowfullscreen></iframe>
          </div>
      </div>
  </div>
  <!-- /container -->

</main>
