<div class="container margin_60_40">
   <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="box_general write_review">
        <h1 class="add_bottom_15">Write a review for "<?= GetSingleProfessioanlDataByCol('title',$sh['user_profile']['professional']) ?>. <?= $sh['user_profile']['name'] ?>"</h1>
        <label class="d-block add_bottom_15">Overall rating <div class="" id="show"></div> </label>
        <form class="" id="myform" method="post">

          <div class="col-lg-12">
            <div class="" id="errs" role="alert"></div>
          </div>

          <div class="row">

            <?php $r_cats = getAllReviewCategoryData("status = 1");
              foreach ($r_cats as $rc) { ?>
                <div class="col-md-3 add_bottom_25">
                   <input type="text" class="js-range-slider" id="myval" data-orientation="horizontal" name="r_cat[<?= add_to_String($rc['title']) ?>]" value="" />
                   <div class="add_bottom_15"><?= $rc['title'] ?></div>
                </div>
            <?php  } ?>


          </div>
          <input type="hidden" name="user_id" value="<?= $sh['user']['user_id'] ?>">
          <input type="hidden" name="reciever_username" value="<?= $_GET['u'] ?>">
          <div class="form-group">
            <label>Title of your review</label>
            <input required name="title" class="form-control" type="text" placeholder="If you could say it in one sentence, what would you say?">
          </div>
          <div class="form-group">
            <label>Your review</label>
            <textarea required name="review" class="form-control" style="height: 180px;" placeholder="Write your review to help others learn about this online business"></textarea>
          </div>

          <button type="submit" id="myform_btn" class="btn_1 disable_btn">Submit review</a>


        </form>
      </div>
    </div>
</div>
<!-- /row -->
</div>
<!-- /container -->
