<div class="layout-px-spacing">
  <div class="action-btn layout-top-spacing mb-5">

      <button id="add-list" data-toggle="modal" data-target="#addListModal"  class="btn btn-primary">Add Form</button>
  </div>


  <div class="row layout-top-spacing" id="cancel-row">

      <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
          <div class="widget-content widget-content-area br-6">
              <table id="zero-config" class="table dt-table-hover" style="width:100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Status</th>
                          <th>Page Type</th>
                          <th class="no-content">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    <?php
                        $forms = getAllForms();
                        foreach ($forms as $form) {
                     ?>
                      <tr id="form_<?= $form['id'] ?>">
                          <td><?= $form['title'] ?></td>
                          <td><?= $form['description'] ?></td>
                          <td class="text-center">
                            <?php if($form['status'] == 1){ ?>
                            <span class="shadow-none badge badge-primary">Active</span>
                          <?php }else{ ?>
                            <span class="shadow-none badge badge-warning">In-active</span>
                          <?php } ?>
                          </td>
                          <td><?= getPageTypeValue('name',$form['page_type']) ?></td>
                          <td>
                            <div class="dropdown custom-dropdown">
                               <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <!-- <svg> ... </svg> -->Click Me
                               </a>

                               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                   <a class="dropdown-item" href="form-builder-editor?id=<?= $form['id'] ?>">Edit</a>
                                   <a class="dropdown-item" href="javascript:void(0);">Change Status</a>
                                   <a class="dropdown-item" id="deleteForm" data-id="<?= $form['id'] ?>" href="javascript:void(0);">Delete</a>
                               </div>
                           </div>
                          </td>
                      </tr>
                    <?php } ?>
                  </tbody>
                  <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Page Type</th>
                        <th>Actions</th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>

  </div>

  <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form id="addNewForm" method="post">
              <div class="modal-body">
                  <div class="compose-box">
                      <div class="compose-content" id="addListModalTitle">
                          <h5 class="add-list-title">New Form</h5>

                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="list-title">
                                          <input type="hidden" name="user_id" value="<?= $sh['user']['user_id']; ?>">
                                          <input id="formName" type="text" placeholder="Form Name" class="form-control" name="form_name" required>
                                      </div>
                                      <br>
                                  </div>

                                  <div class="col-md-12">
                                    <div class="list-title">
                                      <select name="page_type" class="form-control" required>
                                        <?php
                                          $pageType = getPageFormType();
                                          foreach ($pageType as $pg) { ?>
                                          <option value="<?= $pg['id'] ?>" <?= ($pg['id'] == checkifPageTypeIsUsed($pg['id']) ) ? 'disabled' : '' ?>><?= $pg['name'] ?> </option>
                                        <?php } ?>
                                      </select>
                                    </div>
                                  </div>
                              </div>

                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                  <button type="submit" id="addNewFormBtn" class="btn btn-primary waves-effect">Add Form</button>
              </div>
              </form>
          </div>
      </div>
  </div>

  <script>

    var webSiteUrl = "<?= $sh['config']['site_url'] ?>";
    // Add new form
    var add_form = $('form#addNewForm');
    add_form.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=form_builder&s=create_form',
        beforeSend: function() {
            loader(800,0);
            add_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
        },
        success: function(data) {

            loader(0,300);

            add_form.find('.waves-effect').prop('disabled', false).text('Add Form');

            if (data.status == 200) {

                sureNotify(1,data.message);

                setTimeout(function () {
                  location.href = webSiteUrl + "/admin-cp/form-builder?id="+data.form_id
                }, 300);

            }else{

                sureNotify(0,data.message);

            }

        }
    });


    // delete form
    $('#zero-config #deleteForm').on('click', function () {
      var $this = $(this);

      var form_id = $this.data("id");

      swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          padding: '2em'
        }).then(function(result) {
          if (result.value) {

            loader(800,0);

            $.post(Sh_Ajax_Requests_File() + '?f=form_builder&s=delete_form', {id: form_id}, function(data, textStatus, xhr) {
                $this.text('DELETE');

                loader(800,400);

                if (data.status == 200) {

                    $this.closest('tr').remove();
                    sureNotify(1,data.message);
                    setTimeout(function () {
                      location.reload(true);
                    }, 300);

                }else{

                    sureNotify(0,data.message);

                }

            });


          }
        });
    });

  </script>

</div>
