<div class="layout-px-spacing">

    <div class="seperator-header">
        <h4 class="">All <?= $sh['lang']['professionals'] ?></h4>
    </div>

    <div class="action-btn layout-top-spacing mb-5">
        <button id="add-list" data-toggle="modal" data-target="#addUserModal"  class="btn btn-primary">Add New <?= $sh['lang']['professional'] ?></button>
    </div>

    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <table id="zero-config" class="table style-1 dt-table-hover non-hover">
                        <thead>
                            <tr>
                                <th class=""> Record no. </th>
                                <th>Title</th>
                                <th>Users Attached</th>
                                <th class="">Status</th>
                                <th class="text-center dt-no-sorting">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php
                            $professionals = getAllProfessionalData();

                            foreach ($professionals as $pro) {
                          ?>
                            <tr id="pro_<?= $pro['id'] ?>">
                                <td> <?= $pro['id'] ?></td>
                                <td class="user-name"><?= ucfirst($pro['title']) ?></td>
                                <td><?= $pro['user_count'] ?></td>
                                <td>
                                    <div class="d-flex">
                                        <span class="shadow-none badge badge-<?= ($pro['status'] == 1 ) ? 'success' : 'danger' ?>"><?= ($pro['status'] == 1) ? 'Active' : 'In-Active' ?></span>
                                    </div>
                                </td>
                                <td class="text-center">

                                    <a href="javascript:void(0);" onclick="editModal('<?= $pro['id'] ?>','<?= $sh['user']['user_id'] ?>')" >
                                      <i class="fa fa-pencil"></i> Edit
                                    </a>
                                    &nbsp;&nbsp;

                                    <a href="javascript:void(0);" onclick="deleteProfessional('<?= $pro['id'] ?>','<?= $sh['user']['user_id'] ?>')">
                                      <i class="fa fa-trash"></i> Delete
                                    </a>

                                </td>
                            </tr>
                          <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>



<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="addNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="addListModalTitle">
                        <h5 class="add-list-title">New <?= $sh['lang']['professional'] ?> Form</h5>
                          <br>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="list-title">
                                        <input type="hidden" name="user_id" value="<?= $sh['user']['user_id']; ?>">
                                        <input id="formName" type="text" placeholder="Professional Title" class="form-control" name="title" required>
                                    </div>
                                    <br>
                                </div>


                                <div class="col-md-12">
                                  <div class="list-title">
                                    <select name="status" class="form-control" required>
                                        <option value="">Select Status</option>
                                        <option value="1" >Active</option>
                                        <option value="0" >In-Active</option>
                                    </select>
                                  </div>
                                </div>


                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="addNewFormBtn" class="btn btn-primary waves-effect">Add <?= $sh['lang']['professional'] ?></button>
            </div>
            </form>
        </div>
    </div>
</div>

<a href="javascript:void(0)" id="showmd" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false"></a>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Update <?= $sh['lang']['professional'] ?> Form</h5>
                          <br>
                            <div class="row" id="professional_data" >



                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="editNewFormBtn" class="btn btn-primary waves-effect">Update <?= $sh['lang']['professional'] ?></button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>

  // run_waitMe($('#container #addNewForm'), 1, 'win8');
  var webSiteUrl = "<?= $sh['config']['site_url'] ?>";
  // Add new form
  var add_form = $('form#addNewForm');
  add_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=general&s=add_professionals',
      beforeSend: function() {
          loader(800,0);
          add_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          add_form.find('.waves-effect').prop('disabled', false).text('Add Form');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/professional-plugin"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });



  // edit modal display

  function editModal(pro_id,user_id){

      $("#showmd").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=general&s=get_professional&pro_id='+pro_id+'&user_id='+user_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#professional_data").html(data);

          }

      });

  }



  // Update new form
  var edit_form = $('form#editNewForm');
  edit_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=general&s=update_professional',
      beforeSend: function() {
          loader(800,0);
          edit_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          edit_form.find('.waves-effect').prop('disabled', false).text('Update <?= $sh['lang']['professional'] ?>');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/professional-plugin"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // delete Professional
  function deleteProfessional(id,user_id){

      swal({
        title: "<?= $sh['lang']['professional'] ?> Deletion!",
        text: "Are you sure you want to delete this <?= $sh['lang']['professional'] ?>?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=general&s=delete_professional&pro_id='+id+'&user_id='+user_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#pro_"+id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });


  }






</script>
