

<style media="screen">
.filepond--drop-label {
  color: #4c4e53;
  font-size: 12px !important;
}

.filepond--label-action {
text-decoration-color: #babdc0;
}

.filepond--panel-root {
background-color: #edf0f4;
}

.filepond--root{
  max-width: 20em;
  margin: 0 auto;
}


</style>
<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Website Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="site-settings-alert"></div>
                  <div class="form-group form-float">
                      <div class="form-line">
                          <input type="file" class="filepond" id="site_logo" name="site_logo" accept="image/png, image/jpeg, image/gif"/>
                          <label class="form-label">Logo Setting</label>
                      </div>
                  </div>
                    <form class="site-settings" method="POST">

                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="siteTitle" name="siteTitle" class="form-control" value="<?php echo $sh['config']['siteTitle']; ?>">
                                <label class="form-label">Site Title</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="siteName" name="siteName" class="form-control" value="<?php echo $sh['config']['siteName']; ?>">
                                <label class="form-label">Site Name</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="siteEmail" name="siteEmail" class="form-control" value="<?php echo $sh['config']['siteEmail']; ?>">
                                <label class="form-label">Site E-mail</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="siteKeywords" name="siteKeywords" class="form-control" value="<?php echo $sh['config']['siteKeywords']; ?>">
                                <label class="form-label">Site Keywords</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea name="siteDesc" id="siteDesc" class="form-control" cols="30" rows="5"><?php echo $sh['config']['siteDesc']; ?></textarea>
                                <label class="form-label">Site Description</label>
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="site_footer" name="site_footer" class="form-control" value="<?php echo $sh['config']['site_footer']; ?>">
                                <label class="form-label">Site Footer</label>
                            </div>
                        </div>


                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>E-mail Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="email-settings-alert"></div>
                    <form class="email-settings" method="POST">
                        <label for="smtp_or_mail">Server Type</label>
                        <div class="form-group">
                            <input type="radio" name="smtp_or_mail" id="smtp_or_mail-enabled" value="smtp" <?php echo ($sh['config']['smtp_or_mail'] == 'smtp') ? 'checked': '';?>>
                            <label for="smtp_or_mail-enabled">SMTP Server</label>
                            <input type="radio" name="smtp_or_mail" id="smtp_or_mail-disabled" value="mail" <?php echo ($sh['config']['smtp_or_mail'] == 'mail') ? 'checked': '';?>>
                            <label for="smtp_or_mail-disabled" class="m-l-20">Server Mail (Default)</label>
                        </div>
                        <br>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="smtp_host" name="smtp_host" class="form-control" value="<?php echo $sh['config']['smtp_host'];?>">
                                <label class="form-label">SMTP Host</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="smtp_username" name="smtp_username" class="form-control" value="<?php echo $sh['config']['smtp_username'];?>">
                                <label class="form-label">SMTP Username</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="password" id="smtp_password" name="smtp_password" class="form-control" value="<?php echo $sh['config']['smtp_password'];?>">
                                <label class="form-label">SMTP Password</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="smtp_port" name="smtp_port" class="form-control" value="<?php echo $sh['config']['smtp_port'];?>">
                                <label class="form-label">SMTP Port</label>
                            </div>
                        </div>
                        <label for="smtp_encryption">SMTP Encryption</label>
                        <div class="form-group">
                            <input type="radio" name="smtp_encryption" id="smtp_encryption-enabled" value="tls" <?php echo (strtolower($sh['config']['smtp_encryption']) == 'tls') ? 'checked': '';?>>
                            <label for="smtp_encryption-enabled">TLS</label>
                            <input type="radio" name="smtp_encryption" id="smtp_encryption-disabled" value="ssl" <?php echo (strtolower($sh['config']['smtp_encryption']) == 'ssl') ? 'checked': '';?>>
                            <label for="smtp_encryption-disabled" class="m-l-20">SSL</label>
                        </div>
                        <span class="help-block">After clicking "Test message", a test message will be sent to your account email address.</span>
                        <span class="help-block" style="color:red;">Please save the form before testing the server.</span>
                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">

                        <div class="form-group mt-2">
                          <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                          <button type="button" class="btn btn-warning m-t-15 waves-effect" onclick="Sh_TestMessage();">Test E-mail Server</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
          <div class="statbox widget box box-shadow">
              <div class="widget-header">
                  <div class="row">
                      <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                          <h4>Partners Logo</h4>
                      </div>
                  </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="partner-settings-alert"></div>

                  <form class="partner-settings" method="POST">

                    <div class="form-group form-float mb-3">
                        <div class="form-line">
                            <input type="file" class="filepond" id="partner1_image" name="partner1_image" accept="image/png, image/jpeg, image/gif"/>
                            <label class="form-label">Partner 1 Image</label>
                        </div>
                    </div>

                    <div class="form-group form-float mb-3">
                        <div class="form-line">
                            <input type="file" class="filepond" id="partner2_image" name="partner2_image" accept="image/png, image/jpeg, image/gif"/>
                            <label class="form-label">Partner 2 Image</label>
                        </div>
                    </div>


                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">

                  </form>
              </div>
          </div>
      </div>

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>API Keys & Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="api-settings-alert"></div>
                    <form class="api-settings" method="POST">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="google_map_api" name="google_map_api" class="form-control" value="<?php echo $sh['config']['google_map_api']?>">
                                <label class="form-label">Google Map API</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea name="googleAnalytics" id="googleAnalytics" class="form-control" cols="30" rows="5"><?php echo $sh['config']['googleAnalytics']; ?></textarea>
                                <label class="form-label">Google Analytics Code</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea name="headerScript" id="headerScript" class="form-control" cols="30" rows="5"><?php echo $sh['config']['headerScript']; ?></textarea>
                                <label class="form-label">Header Script</label>
                            </div>
                        </div>
                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


<script>

  function Sh_TestMessage() {
    $('form.email-settings').find('.btn-warning').text('Please wait..');
    $.get(Sh_Ajax_Requests_File(), {f:'admin_setting', s: 'test_message'}, function (data) {
        if (data.status == 200) {
            alert('Message sent!');
        } else {
            alert('Message failed to sent, error: ' + data.error);
        }
        $('form.email-settings').find('.btn-warning').text('Test E-mail Server');
    });
  }

  $(function() {

    // Site Settings
    var form_site_settings = $('form.site-settings');
    form_site_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_site_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_site_settings.find('button').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.site-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.site-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    var form_api_settings = $('form.api-settings');
    form_api_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_api_settings.find('.waves-effect').text('Please wait..');

        },
        beforeSubmit : function(arr, $form, options){
          arr.splice(3, 1);
          arr.push({name:'googleAnalytics_en', value:btoa($('#googleAnalytics').val())})
       },
        success: function(data) {
            if (data.status == 200) {
                form_api_settings.find('.waves-effect').text('Save');
                $('.api-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.api-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    var form_email_settings = $('form.email-settings');
    form_email_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_email_settings.find('.btn-primary').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_email_settings.find('.btn-primary').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.email-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.email-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    var form_homepage_settings = $('form.homepage-settings');
    form_homepage_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_homepage_settings.find('.btn-primary').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_homepage_settings.find('.btn-primary').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.homepage-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.homepage-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });



  });

</script>

<script type="text/javascript">
  FilePond.registerPlugin(
    // encodes the file as base64 data
    FilePondPluginFileEncode,

    // validates files based on input type
    FilePondPluginFileValidateType,

    // corrects mobile image orientation
    FilePondPluginImageExifOrientation,

    // previews the image
    FilePondPluginImagePreview,

    // resizes the image to fit a certain size
    // FilePondPluginImageResize,

    // applies crop and resize information on the client
    FilePondPluginImageTransform,

    FilePondPluginFilePoster,

    FilePondPluginImageEdit

  );

  FilePond.create(
    document.getElementById('site_logo'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageCropAspectRatio: '1:1',
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      stylePanelLayout: 'compact circle',
      styleLoadIndicatorPosition: 'center bottom',
      styleButtonRemoveItemPosition: 'center bottom',
      styleButtonEditItemPosition: 'center bottom',
      allowMultiple: false,
      <?php if($sh['config']['site_logo'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['site_logo'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['site_logo'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['site_logo'] ?>',
                  },
              },

          },
      ]
    <?php endif; ?>
    }
  );

  FilePond.setOptions({
    server: {
      timeout: 7000,
      process: {
          url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_site_logo',
          method: 'POST',
          withCredentials: false,
          onload: (response) => {
              var json = (response);
              var obj = JSON.parse(json);
              var status = obj.status;
              if (status == 200) {

                $("html, body").animate({ scrollTop: 0 }, 150);

                setTimeout(function () {
                  window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                }, 1000);

                $('.site-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

              }
          },
          onerror: (response) => response.data,
          ondata: (formData) => {
              formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
              return formData;
          },
      },
      remove: (source, load, error) => {

        const request = new XMLHttpRequest();
        request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_logo_image&img=' + source);

        request.onload = function () {
          if (request.status == 200) {

            $("html, body").animate({ scrollTop: 0 }, 150);

            setTimeout(function () {
                $('.site-settings-alert').removeClass('alert alert-success').empty();
            }, 2000);

            $('.site-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Logo Picture Deleted");

            load(request.message);
          } else {

            $('.site-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

            error('oh no');
          }
        };

        request.send();
      }

    }
  });


  // partner 1 image
  FilePond.create(
    document.getElementById('partner1_image'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      allowMultiple: false,
      <?php if($sh['config']['partner1_image'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['partner1_image'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['partner1_image'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['partner1_image'] ?>',
                  },
              },

          },
      ],
    <?php endif; ?>
      server: {
        timeout: 7000,
        process: {
            url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_partner1_image',
            method: 'POST',
            withCredentials: false,
            onload: (response) => {
                var json = (response);
                var obj = JSON.parse(json);
                var status = obj.status;
                if (status == 200) {

                  $("html, body").animate({ scrollTop: 0 }, 150);

                  setTimeout(function () {
                    window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                  }, 1000);

                  $('.partner-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

                }
            },
            onerror: (response) => response.data,
            ondata: (formData) => {
                formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
                return formData;
            },
        },
        remove: (source, load, error) => {

          const request = new XMLHttpRequest();
          request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_partner1_image&img=' + source);

          request.onload = function () {
            if (request.status == 200) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              setTimeout(function () {
                  $('.partner-settings-alert').removeClass('alert alert-success').empty();
              }, 2000);

              $('.partner-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Partner 1 image Deleted");

              load(request.message);
            } else {

              $('.partner-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

              error('oh no');
            }
          };

          request.send();
        }

      }
    }
  );


  // partner 2 image

  FilePond.create(
    document.getElementById('partner2_image'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      allowMultiple: false,
      <?php if($sh['config']['partner2_image'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['partner2_image'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['partner2_image'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['partner2_image'] ?>',
                  },
              },

          },
      ],
    <?php endif; ?>
      server: {
        timeout: 7000,
        process: {
            url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_partner2_image',
            method: 'POST',
            withCredentials: false,
            onload: (response) => {
                var json = (response);
                var obj = JSON.parse(json);
                var status = obj.status;
                if (status == 200) {

                  $("html, body").animate({ scrollTop: 0 }, 150);

                  setTimeout(function () {
                    window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                  }, 1000);

                  $('.partner-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

                }
            },
            onerror: (response) => response.data,
            ondata: (formData) => {
                formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
                return formData;
            },
        },
        remove: (source, load, error) => {

          const request = new XMLHttpRequest();
          request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_partner2_image&img=' + source);

          request.onload = function () {
            if (request.status == 200) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              setTimeout(function () {
                  $('.partner-settings-alert').removeClass('alert alert-success').empty();
              }, 2000);

              $('.partner-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Partner 2 image Deleted");

              load(request.message);
            } else {

              $('.partner-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

              error('oh no');
            }
          };

          request.send();
        }

      }
    }
  );

</script>
