<div class="" id="form-field">
                                  <form id="form-data" method="post" enctype="multipart/form-data">

                                      <div>
                                          <div id="question-field" class="row">
                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="0">
                                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                  <div id="card_body" class="card-body">
                                                      <div id="f_title" class="row align-items-center d-flex">
                                                          <div class="col-sm-8">
                                                                <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 1">
                                                                <!-- <p class="question-text m-0" contenteditable="true" title="Write your field name here">Write your field name here</p> -->
                                                          </div>
                                                          <div class="col-sm-4">
                                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                                  <option value="text">Text Field</option>
                                                                  <option value="email">Email Field</option>
                                                                  <option value="number">Number</option>
                                                                  <option value="p">Long Text</option>
                                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                                  <option value="file">File upload</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                      <hr class="border-dark">
                                                      <div id="t_title" class="row ">
                                                          <div class="form-group choice-field col-md-12">
                                                              <input type="text" id="text_field" class="form-control col-sm-12 bulderInputs" name="edit_field_name_1" value="" placeholder="Write your answer here">
                                                              <!-- <textarea name="" id="text_area" class="form-control col-sm-12" data-rowid="1" cols="30" rows="5" placeholder="Write your answer here"></textarea> -->
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card-footer">
                                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                                          <div class="form-check">
                                                              <input class="form-check-input req-item" type="checkbox" value="">
                                                              <label class="form-check-label req-chk" for="">
                                                                  * Required
                                                              </label>
                                                          </div>
                                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                      </div>
                                                  </div>
                                              </div>
                                          
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="1">
                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                  <div class="card-body">
                                      <div id="f_title" class="row align-items-center d-flex">
                                          <div class="col-sm-8">
                                              <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 2">
                                          </div>
                                          <div class="col-sm-4">
                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                  <option value="text">Text Field</option>
                                                  <option value="email">Email Field</option>
                                                  <option value="number">Number</option>
                                                  <option value="p">paragraph</option>
                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                  <option value="file">File upload</option>
                                              </select>
                                          </div>
                                      </div>
                                      <hr class="border-dark">
                                      <div class="row ">
                                          <div class="form-group choice-field col-md-12"><input type="email" id="email_field" data-editname="" class="form-control col-sm-12 bulderInputs" placeholder="write your answer here" name="edit_field_name_2"></div>
                                      </div>
                                  </div>
                                  <div class="card-footer">
                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input req-item" type="checkbox" value="">
                                              <label class="form-check-label req-chk" for="">
                                                  * Required
                                              </label>
                                          </div>
                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="2">
                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                  <div class="card-body">
                                      <div id="f_title" class="row align-items-center d-flex">
                                          <div class="col-sm-8">
                                              <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 3">
                                          </div>
                                          <div class="col-sm-4">
                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                  <option value="text">Text Field</option>
                                                  <option value="email">Email Field</option>
                                                  <option value="number">Number</option>
                                                  <option value="p">paragraph</option>
                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                  <option value="file">File upload</option>
                                              </select>
                                          </div>
                                      </div>
                                      <hr class="border-dark">
                                      <div class="row ">
                                          <div class="form-group choice-field col-md-12"><input type="number" id="number_field" data-editname="bdjbjdfbe" class="form-control col-sm-12 bulderInputs" placeholder="write your answer here" name="edit_field_name_3"></div>
                                      </div>
                                  </div>
                                  <div class="card-footer">
                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input req-item" type="checkbox" value="">
                                              <label class="form-check-label req-chk" for="">
                                                  * Required
                                              </label>
                                          </div>
                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="3">
                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                  <div class="card-body">
                                      <div id="f_title" class="row align-items-center d-flex">
                                          <div class="col-sm-8">
                                              <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 4">
                                          </div>
                                          <div class="col-sm-4">
                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                  <option value="text">Text Field</option>
                                                  <option value="email">Email Field</option>
                                                  <option value="number">Number</option>
                                                  <option value="p">paragraph</option>
                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                  <option value="file">File upload</option>
                                              </select>
                                          </div>
                                      </div>
                                      <hr class="border-dark">
                                      <div class="row ">
                                          <div class="form-group choice-field col-md-12"><textarea cols="30" rows="5" id="text_area" data-editname="" placeholder="Write your answer here" class="form-control col-sm-12 bulderInputs" name="edit_field_name_4"></textarea></div>
                                      </div>
                                  </div>
                                  <div class="card-footer">
                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input req-item" type="checkbox" value="">
                                              <label class="form-check-label req-chk" for="">
                                                  * Required
                                              </label>
                                          </div>
                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="4">
                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                  <div class="card-body">
                                      <div id="f_title" class="row align-items-center d-flex">
                                          <div class="col-sm-8">
                                              <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 5">
                                          </div>
                                          <div class="col-sm-4">
                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                  <option value="text">Text Field</option>
                                                  <option value="email">Email Field</option>
                                                  <option value="number">Number</option>
                                                  <option value="p">paragraph</option>
                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                  <option value="file">File upload</option>
                                              </select>
                                          </div>
                                      </div>
                                      <hr class="border-dark">
                                      <div class="row ">
                                          <div class="form-group choice-field col-md-12"><div class="row w-100"><div class="col-sm-1 rem-on-display" onclick="$(this).closest('.row').remove()"><button class="btn btn-sm btn-default" type="button"><span class="fa fa-times" aria-hidden="true"></span></button></div><div class="col-sm-11 d-flex align-items-center"><div class="form-check q-fc formRadio"><input class="form-check-input inptclass bulderInputs" type="radio" data-editname="" data-optid="1" value="Enter Option 1" name="edit_field_name_5"><label class="form-check-label radioLabel" contenteditable="true" title="Enter option here">Enter Option 1</label></div></div></div><div class="row w-100"><div class="col-sm-1 rem-on-display" onclick="$(this).closest('.row').remove()"><button class="btn btn-sm btn-default" type="button"><span class="fa fa-times" aria-hidden="true"></span></button></div><div class="col-sm-11 d-flex align-items-center"><div class="form-check q-fc formRadio"><input class="form-check-input inptclass bulderInputs" type="radio" data-editname="" data-optid="2" value="Enter Option 2" name="edit_field_name_5"><label class="form-check-label radioLabel" contenteditable="true" title="Enter option here">Enter Option 2</label></div></div></div><button type="button" class="add_radio btn btn-sm btn-default border"><i class="fa fa-plus" aria-hidden="true"></i> Add option</button></div>
                                      </div>
                                  </div>
                                  <div class="card-footer">
                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input req-item" type="checkbox" value="">
                                              <label class="form-check-label req-chk" for="">
                                                  * Required
                                              </label>
                                          </div>
                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="5">
                                  <span class="item-move"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                  <div class="card-body">
                                      <div id="f_title" class="row align-items-center d-flex">
                                          <div class="col-sm-8">
                                              <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 6">
                                          </div>
                                          <div class="col-sm-4">
                                              <select title="question choice type" name="choice" class="form-control choice-option">
                                                  <option value="text">Text Field</option>
                                                  <option value="email">Email Field</option>
                                                  <option value="number">Number</option>
                                                  <option value="p">paragraph</option>
                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                  <option value="file">File upload</option>
                                              </select>
                                          </div>
                                      </div>
                                      <hr class="border-dark">
                                      <div class="row ">
                                          <div class="form-group choice-field col-md-12"><input type="file" name="edit_field_name_6" data-editname="" id="imgfile_field" class="form-control-file bulderInputs"></div>
                                      </div>
                                  </div>
                                  <div class="card-footer">
                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                          <div class="form-check">
                                              <input class="form-check-input req-item" type="checkbox" value="">
                                              <label class="form-check-label req-chk" for="">
                                                  * Required
                                              </label>
                                          </div>
                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                                
                              </div>
                                      </div>

                                      <div class="d-flex w-100 justify-content-center" id="form-buidler-action">
                                          <button class="btn btn-default border mr-1" type="button" id="add_q-item"><i class="fa fa-plus" aria-hidden="true"></i> Add Form</button>
                                          <button class="btn btn-default border ml-1" type="button" id="save_form"><i class="fa fa-save" aria-hidden="true"></i> Save Form</button>
                                      </div>

                                  </form>
                              </div>