<div class="" id="form-field">
                                   <form id="edit-form-data" method="post" enctype="multipart/form-data">

                                       <div>


                                           <div id="question-field" class="row ui-sortable highlight">

                                                                                            <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="1">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 1">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option selected="" value="text">Text Field</option>
                                                                   <option value="email">Email Field</option>
                                                                   <option value="number">Number</option>
                                                                   <option value="p">Paragraph</option>
                                                                   <option value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                               <input type="text" id="text_field" data-editname="edit_field_name_1" class="form-control col-sm-12 bulderInputs" name="edit_field_name_1" value="" placeholder="Write your answer here">

                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="2">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Full Name">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option value="text">Text Field</option>
                                                                   <option selected="" value="email">Email Field</option>
                                                                   <option value="number">Number</option>
                                                                   <option value="p">Paragraph</option>
                                                                   <option value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                               <input type="email" id="email_field" data-editname="full_name" class="form-control col-sm-12 bulderInputs" placeholder="write your answer here" name="full_name">

                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="3">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 2">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option value="text">Text Field</option>
                                                                   <option value="email">Email Field</option>
                                                                   <option selected="" value="number">Number</option>
                                                                   <option value="p">Paragraph</option>
                                                                   <option value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                               <input type="number" id="number_field" data-editname="edit_field_name_2" class="form-control col-sm-12 bulderInputs" placeholder="write your answer here" name="edit_field_name_2">

                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="4">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Gender">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option value="text">Text Field</option>
                                                                   <option value="email">Email Field</option>
                                                                   <option value="number">Number</option>
                                                                   <option value="p">Paragraph</option>
                                                                   <option selected="" value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                                                                                                <div class="row w-100">
                                                                   <div class="col-sm-1 rem-on-display" onclick="$(this).closest('.row').remove()">
                                                                     <button class="btn btn-sm btn-default" type="button">
                                                                       <span class="fa fa-times" aria-hidden="true"></span>
                                                                     </button>
                                                                   </div>
                                                                   <div class="col-sm-11 d-flex align-items-center">
                                                                     <div class="form-check q-fc formRadio">
                                                                       <input class="form-check-input inptclass bulderInputs" type="radio" data-editname="gender" data-optid="1" value="male" name="gender">
                                                                       <label class="form-check-label radioLabel" contenteditable="true" title="Enter option here">Male</label>
                                                                     </div>
                                                                   </div>
                                                                 </div>
                                                                                                                               <div class="row w-100">
                                                                   <div class="col-sm-1 rem-on-display" onclick="$(this).closest('.row').remove()">
                                                                     <button class="btn btn-sm btn-default" type="button">
                                                                       <span class="fa fa-times" aria-hidden="true"></span>
                                                                     </button>
                                                                   </div>
                                                                   <div class="col-sm-11 d-flex align-items-center">
                                                                     <div class="form-check q-fc formRadio">
                                                                       <input class="form-check-input inptclass bulderInputs" type="radio" data-editname="gender" data-optid="2" value="female" name="gender">
                                                                       <label class="form-check-label radioLabel" contenteditable="true" title="Enter option here">Female</label>
                                                                     </div>
                                                                   </div>
                                                                 </div>
                                                                                                                            <button type="button" class="add_radio btn btn-sm btn-default border"><i class="fa fa-plus" aria-hidden="true"></i> Add option</button>
                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="5">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Other Description">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option value="text">Text Field</option>
                                                                   <option value="email">Email Field</option>
                                                                   <option value="number">Number</option>
                                                                   <option selected="" value="p">Paragraph</option>
                                                                   <option value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                               <textarea cols="30" rows="5" id="text_area" data-editname="other_description" placeholder="Write your answer here" class="form-control col-sm-12 bulderInputs" name="other_description"></textarea>

                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="6">
                                                   <span class="item-move ui-sortable-handle"><i class="fa fa-braille" aria-hidden="true"></i></span>
                                                   <div id="card_body" class="card-body">
                                                       <div id="f_title" class="row align-items-center d-flex">
                                                           <div class="col-sm-8">
                                                                 <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 6">
                                                           </div>
                                                           <div class="col-sm-4">
                                                               <select title="question choice type" name="choice" class="form-control choice-option">
                                                                   <option value="text">Text Field</option>
                                                                   <option value="email">Email Field</option>
                                                                   <option value="number">Number</option>
                                                                   <option selected="" value="p">Paragraph</option>
                                                                   <option value="radio">Mupliple choice (single answer)</option>
                                                                   <option value="file">File upload</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                       <hr class="border-dark">
                                                       <div id="t_title" class="row ">
                                                           <div class="form-group choice-field col-md-12">
                                                             
                                                               <textarea cols="30" rows="5" id="text_area" data-editname="edit_field_name_6" placeholder="Write your answer here" class="form-control col-sm-12 bulderInputs" name="edit_field_name_6"></textarea>

                                                             
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="card-footer">
                                                       <div class="w-100 d-flex justify-content-between align-items-center">
                                                           <div class="form-check">
                                                               <input class="form-check-input req-item" type="checkbox" value="">
                                                               <label class="form-check-label req-chk" for="">
                                                                   * Required
                                                               </label>
                                                           </div>
                                                           <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                       </div>
                                                   </div>
                                               </div>

                                                                                          </div>



                                       </div>

                                       <div class="d-flex w-100 justify-content-center" id="form-buidler-action">
                                           <button class="btn btn-default border mr-1" type="button" id="add_q-item"><i class="fa fa-plus" aria-hidden="true"></i> Add Form</button>
                                           <button class="btn btn-default border ml-1" type="button" id="update_form"><i class="fa fa-save" aria-hidden="true"></i> Update Form</button>
                                       </div>

                                   </form>
                               </div>