<div class="layout-px-spacing">

    <div class="seperator-header">
        <h4 class="">ALL USERS</h4>
    </div>


    <div class="d-xl-flex d-lg-flex justify-content-xl-between justify-content-lg-between mb-4 col-sm-12">

			<div class="input-group col-xl-3 col-lg-3 mb-3" id="options_s">

					<div class="form-group">
						<select name="" class="form-control" id="bulkAct" disabled>
							<option><a class="dropdown-item btn bg-orange dropdown-toggle" href="javascript:void(0)" data-toggle="modal" data-target="#ii" data-backdrop="static" data-keyboard="false" id="bulk_action"><b>Bulk Actions</b></a></option>
							<option class="options"  value="ChangeStatus" class="dropdown-item" href="javascript:void(0)" id="attachedTagtoContactsAc">Change Account Status</option>
              <option class="options"  value="MakeAccountAdmin" class="dropdown-item" href="javascript:void(0)" id="attachedTagtoContactsAc">Make Admin Access</option>
							<option class="options"  value="RemoveAccountAdminAccess" class="dropdown-item" href="javascript:void(0)" id="DeleteCTSfromPipeandCont">Remove Admin Access</option>
              <option class="options"  value="MakeExpertRole" class="dropdown-item" href="javascript:void(0)" id="DeleteCTSfromPipeandCont">Make Expert / Add Expert Role</option>
              <option class="options"  value="RemoveExpertRole" class="dropdown-item" href="javascript:void(0)" id="DeleteCTSfromPipeandCont">Remove From Expert Role</option>
              <option class="options"  value="PromoteAccount" class="dropdown-item" href="javascript:void(0)" id="DeleteCTSfromPipeandCont">Promote Account</option>
              <option class="options"  value="RemovePromoteAccount" class="dropdown-item" href="javascript:void(0)" id="DeleteCTSfromPipeandCont">Remove Promote From Account</option>
						</select>
					</div>

				</div>

			<div class="lftcn">

				<div class="d-flex justify-content-between p-0 m-0">

					<div class="">
            <button id="add-list" data-toggle="modal" data-target="#addUserModal"  class="btn btn-primary">Add New User</button>
          </div>
				</div>
		    </div>

	  </div>

    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <table id="zero-config" class="table style-1 dt-table-hover non-hover">
                        <thead>
                            <tr>
                                <th>
                                  <input type="checkbox" id="select_all">
                									<input type="hidden" name="rec_user_id" id="con_list_user_id" value="<?= $user_id?>">
                                </th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Category</th>
                                <th class="">Role</th>
                                <th class="">Account</th>
                                <th class="">Verification</th>
                                <th class="text-center dt-no-sorting">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php
                          $users = getallUserAccountData("WHERE `account_type` = 'experts' OR `account_type` = 'user'");
                          foreach ($users as $user) {
                          ?>
                            <tr id="user_<?= $user['user_id'] ?>">
                                <td><input type="checkbox" class="cts_checkbox" data-cts-id="<?= $user['id']; ?>" id="select_<?= $user['id'] ?>"></td>
                                <td class="user-name">
                                  <a href="#">
                                    <?= $user['name'] ?>
                                  </a>
                                  <?php if($user['promote_account'] == 1): ?>
                                  <span class="badge badge-success"> <i class="fa fa-check"></i> </span>
                                  <?php endif; ?>
                                </td>
                                <td class=""><?= $user['username'] ?></td>
                                <td><?= $user['email'] ?></td>
                                <td><?= $user['phone_number'] ?></td>
                                <td><?= getCategorySingleData($user['cat_id'])['title'] ?></td>
                                <td>
                                  <div class="d-flex">
                                      <span class="lshadow-none badge badge-<?= ($user['admin'] == '1') ? 'success' : '' ?>">
                                        <?= ($user['admin'] == '1') ? 'Admin' : '' ?>
                                      </span>
                                      &nbsp;&nbsp;
                                      <span class="lshadow-none badge badge-<?= ($user['account_type'] == 'experts') ? 'primary' : 'secondary' ?>">
                                        <?= ($user['account_type'] == 'experts') ? 'Experts' : 'User' ?>
                                      </span>
                                  </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <span class="lshadow-none badge badge-<?= ($user['active'] == '1') ? 'success' : ( ($user['active'] == '2') ? 'danger' : 'warning') ?>">
                                          <?= ($user['active'] == '1') ? 'Active' : ( ($user['active'] == '2') ? 'Deleted' : 'In-Active' )?>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <span class="lshadow-none badge badge-<?= ($user['verified'] == '1') ? 'success' : 'warning' ?>"><?= ($user['verified'] == '1') ? 'Approved' : 'Not Approved' ?></span>
                                    </div>
                                </td>
                                <td class="text-center">

                                  <div class="btn-group">
                                      <button type="button" class="btn btn-dark btn-sm">Open</button>
                                      <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference5" style="will-change: transform;">
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="editModal('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" > <i class="fa fa-pencil"></i> Quick Edit</a>
                                          <a class="dropdown-item" href="../<?= $user['username'] ?>" ><i class="fa fa-id-card"></i> View User Page</a>
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="singlePromoteAccount('<?= $user['user_id'] ?>')" ><i class="fa fa-id-card"></i> Promote To Popular</a>
                                          <div class="dropdown-divider"></div>
                                          <?php if ($sh['user']['user_id'] != $user['user_id']) { ?>
                                          <a class="dropdown-item" href="javascript:void(0);" onclick="deleteUser('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" ><i class="fa fa-trash"></i> Delete Account</a>
                                          <?php } ?>

                                          <?php if($user['account_type'] == "experts"){ ?>
                                            <a class="dropdown-item" href="javascript:void(0);" onclick="editExpertModal('<?= $user['user_id'] ?>','<?= $sh['user']['user_id'] ?>')" > <i class="fa fa-pencil"></i> View Details</a>
                                          <?php } ?>
                                      </div>
                                  </div>

                                </td>
                            </tr>
                            <?php
                              }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>



<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="addNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="addListModalTitle">
                        <h5 class="add-list-title">New User Form</h5>
                          <br>
                            <div class="row">

                              <div class="col-md-12">
                                <div class="list-title">
                                  <select name="cat_id" class="form-control" required>
                                    <option value="" >Select Category</option>
                                    <?php
                                      $cats = getAllCategoryData('status = 1');
                                      foreach ($cats as $cat) {
                                     ?>
                                    <option value="<?= $cat['id'] ?>" ><?= $cat['title'] ?></option>
                                    <?php } ?>

                                  </select>
                                </div>
                              </div>


                              <div class="col-md-6">
                                <div class="list-title">
                                  <select name="professional" class="form-control" required>
                                      <option value="">Select Professional</option>
                                      <?php
                                        $prof = getAllProfessionalData('status = 1');
                                        foreach ($prof as $pro) {
                                       ?>
                                       <option value="<?= $pro['id'] ?>" ><?= $pro['title'] ?></option>
                                      <?php } ?>
                                  </select>
                                </div>
                              </div>

                                <div class="col-md-6">
                                    <div class="list-title">
                                        <input type="hidden" name="user_id" value="<?= $sh['user']['user_id']; ?>">
                                        <input autocomplete="off" autofocus required type="hidden" value="<?= "user_".Sh_GenerateKey(4, 6, false, false, true, false) ?>" class="form-control" name="username" id="user_n">
                                        <input id="formName" type="text" placeholder="User First Name" class="form-control" name="first_name">
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <div class="list-title">
                                        <input id="formName" type="text" placeholder="User Last Name" class="form-control" name="last_name">
                                    </div>
                                    <br>
                                </div>

                                <div class="col-md-6">
                                    <div class="list-title">
                                        <input id="formName" type="text" placeholder="User Email Address" class="form-control" name="email" required>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <div class="list-title">
                                        <input id="formName" type="text" placeholder="User Phone Number" class="form-control" name="phone_num" required>
                                    </div>
                                    <br>
                                </div>


                                <div class="col-md-6">
                                  <div class="list-title">
                                    <select name="status" class="form-control" required>
                                        <option value="">Select Status</option>
                                        <option value="1" >Active</option>
                                        <option value="0" >In-Active</option>
                                    </select>
                                  </div>
                                </div>


                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="addNewFormBtn" class="btn btn-primary waves-effect">Add User</button>
            </div>
            </form>
        </div>
    </div>
</div>

<a href="javascript:void(0)" id="showmd" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false"></a>
<a href="javascript:void(0)" id="showbulkEdit" data-toggle="modal" data-target="#BulkStatusModal" data-backdrop="static" data-keyboard="false"></a>

<a href="javascript:void(0)" id="showExpmd" data-toggle="modal" data-target="#editExpUserModal" data-backdrop="static" data-keyboard="false"></a>

<div class="modal fade" id="editExpUserModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Expert Form Displays</h5>
                          <br>
                            <div class="row" id="show_expert_data_cont">



                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Ignore</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="BulkStatusModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="updateBulkStatus" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Update Account(s) Status</h5>
                          <br>
                            <div class="row" id="">
                              <div class="col-md-12">
                                <p class="my-3 text-center alert alert-warning">
                                  <input type="hidden" id="conts_id" name="conts_id">
                                  <span id="tNum"></span> Account Status are about to be changed
                                </p>
                              </div>
                              <div class="col-md-12">
                                <div class="list-title">
                                  <select name="status" class="form-control" required>
                                      <option value="">Select Status</option>
                                      <option value="1" >Active</option>
                                      <option value="0" >In-Active</option>
                                  </select>
                                </div>
                              </div>

                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="editNewFormBtn" class="btn btn-primary waves-effect">Update Account Status</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Update User Form</h5>
                          <br>
                            <div class="row" id="update_data_cont">



                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="editNewFormBtn" class="btn btn-primary waves-effect">Update User</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
  
  var webSiteUrl = "<?= $sh['config']['site_url'] ?>";
  // Add new form
  var add_form = $('form#addNewForm');
  add_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=register&s=admin_register_user',
      beforeSend: function() {
          loader(800,0);
          add_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          add_form.find('.waves-effect').prop('disabled', false).text('Add User');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/manage-users"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // edit modal display
  function editModal(user_id,admin_id){

      $("#showmd").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=register&s=get_single_user_data&user_id='+user_id+'&admin_id='+admin_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#update_data_cont").html(data);

          }

      });

  }

  // edit modal display
  function editExpertModal(user_id,admin_id){

      $("#showExpmd").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=experts&s=get_single_expert_data&user_id='+user_id+'&admin_id='+admin_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#show_expert_data_cont").html(data);

          }

      });

  }


  // Update new form
  var edit_form = $('form#editNewForm');
  edit_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=register&s=update_user_data',
      beforeSend: function() {
          loader(800,0);
          edit_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          edit_form.find('.waves-effect').prop('disabled', false).text('Update User');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/manage-users"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // delete User
  function deleteUser(user_id,admin_id){

      swal({
        title: 'User Account Deletion!',
        text: "Are you sure you want to delete this User Account?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=register&s=delete_user_account&user_id='+user_id+'&admin_id='+admin_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#user_"+user_id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });



  }

  // can not delete account
  function CantdeleteUser(){
    swal({
      title: 'Invalid Action!',
      text: "Sorry You can not delete your account!",
      type: 'warning',
      padding: '2em'
    })
  }




  //
  //
  //
  // BULK SCRIPT
  //
  //
  //

  // GET ACTION SELECTED VALUE
  $("#options_s").on("change", "#bulkAct", function () {

     var ct = $(this).find('option:selected').val();

      var post_arr = getContactsId();
      var keys = getContactsId().length;

      if(keys > 0){

        if(ct == "ChangeStatus"){
            chnageProfileStatus()
        }else if(ct == "MakeAccountAdmin"){
            MakeAccountAdminAccess();
        }else if (ct == "RemoveAccountAdminAccess") {
            RemoveAccountAdminAccess();
        }else if (ct == "MakeExpertRole") {
            MakeExpertRole();
        }else if (ct == "RemoveExpertRole") {
            RemoveExpertRole();
        }else if (ct == "PromoteAccount") {
            PromoteAccount();
        }else if (ct == "RemovePromoteAccount") {
            RemovePromoteAccount();
        }

      }else{
        sureNotify(0,"Please Selete at least one user");
      }


      $('#bulkAct').prop('selectedIndex',0);

  });

  // Check if checkboxs is check all is active
    $(document).on('click', '#select_all', function() {
  		$(".cts_checkbox").prop("checked", this.checked);

  		if ($('.cts_checkbox:checked').length > 0){
  		    $('#bulkAct').prop('disabled', false);
  		}else{
  		    $('#bulkAct').prop('disabled', 'disabled');
  		}

	  });

    // Activate check all if all checkboxes are selected
	$(document).on('click', '.cts_checkbox', function() {

		if ($('.cts_checkbox:checked').length == $('.cts_checkbox').length) {
			$('#select_all').prop('checked', true);
		} else {
			$('#select_all').prop('checked', false);
		}

		if ($('.cts_checkbox:checked').length > 0){
		    $('#bulkAct').prop('disabled', false);
		}else{
		    $('#bulkAct').prop('disabled', 'disabled');
		}

	});

  function getContactsId(){

      let cts_ids = [];
    	$(".cts_checkbox:checked").each(function() {
    		cts_ids.push($(this).data('cts-id'));
    	});

    	return cts_ids;
  }

  function processedUserList(){
    let post_arr = getContactsId();
    let ctLgt = getContactsId().length;

    let selected_ids = post_arr.join(",");

    return [selected_ids,ctLgt];
  }


  // BULK CHANGE ACCOUNT STATUS
  function chnageProfileStatus(){
    let pUsers = processedUserList();

    $("#tNum").text(pUsers[1]);
    $("#conts_id").val(pUsers[0]);
    $("#showbulkEdit").trigger("click");

  }

  // make account admin access
  function MakeAccountAdminAccess(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Admin Access Request!',
      text: "Are you sure you want to give admin access to "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Give Access',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=make_account_admin_access&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }

  // Remove account admin access
  function RemoveAccountAdminAccess(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Admin Access Removal Request!',
      text: "Are you sure you want to remove admin access to "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Remove Access',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=remove_account_admin_access&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }
  // Update new form

  // make expert role request
  function MakeExpertRole(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Expert Access Request!',
      text: "Are you sure you want to give expert access to "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Give Access',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=make_account_expert_access&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });


  }

  // remove expert role request
  function RemoveExpertRole(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Expert Access Request!',
      text: "Are you sure you want to restrict expert access to "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Restrict Access',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=remove_account_expert_access&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }


  function singlePromoteAccount(user_id){

    swal({
      title: 'Account Promotion Request!',
      text: "Are you sure you want to promote this Expert Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Promote Account',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=promote_account&conts_id='+user_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }

  // Promote account
  function PromoteAccount(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Account Promotion Request!',
      text: "Are you sure you want to promote "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Promote Account',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=promote_account&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }

  // Remove Promotion from account
  function RemovePromoteAccount(){

    let ct_id = processedUserList()[1];
    let us_id = processedUserList()[0];

    swal({
      title: 'Remove Account Promotion Request!',
      text: "Are you sure you want to remove promote from "+ct_id+" User Account(s)?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Remove Promote',
      padding: '2em'
    }).then(function(result) {

      if (result.value) {

        $.ajax({
            url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=remove_promote_account&conts_id='+us_id,
            beforeSend: function() {
                loader(800,0);
            },
            success: function(data){

              loader(0,300)

                if(data.status == 200){

                    setTimeout(function () {
                      location.href = webSiteUrl + "/admin-cp/manage-users"
                    }, 300);

                    sureNotify(1,data.message);

                }else{
                    // Error
                    sureNotify(0,data.message);

                }

            }
        });

      }

    });

  }

  let update_act_status_form = $('form#updateBulkStatus');
  update_act_status_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=bulk_actions&s=bulk_status_update',
      beforeSend: function() {
          loader(800,0);
          update_act_status_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {
          loader(0,300)
          update_act_status_form.find('.waves-effect').prop('disabled', false).text('update Account Status');

          if(data.status == 200){

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/manage-users"
              }, 300);

              sureNotify(1,data.message);

          }else{
              // Error
              sureNotify(0,data.message);
          }

      }

  });

</script>
