

<style media="screen">
.filepond--drop-label {
  color: #4c4e53;
  font-size: 12px !important;
}

.filepond--label-action {
text-decoration-color: #babdc0;
}

.filepond--panel-root {
background-color: #edf0f4;
}

.filepond--root{
  max-width: 20em;
  margin: 0 auto;
}


</style>
<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Banner Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="banner-settings-alert"></div>

                    <form class="banner-settings" method="POST">

                      <div class="form-group form-float mb-3">
                          <div class="form-line">
                              <input type="file" class="filepond" id="banner_image" name="banner_image" accept="image/png, image/jpeg, image/gif"/>
                              <label class="form-label">Banner Image</label>
                          </div>
                      </div>

                      <div class="form-group form-float">
                          <div class="form-line">
                              <input type="text" id="home_banner_title" name="home_banner_title" class="form-control" value="<?php echo $sh['config']['home_banner_title']; ?>">
                              <label class="form-label">Banner Title</label>
                          </div>
                      </div>

                      <div class="form-group form-float">
                          <div class="form-line">
                              <input type="text" id="home_banner_description" name="home_banner_description" class="form-control" value="<?php echo $sh['config']['home_banner_description']; ?>">
                              <label class="form-label">Banner Description</label>
                          </div>
                      </div>

                      <label for="login_type_system">
                        Show Search Input
                      </label>
                      <div class="form-group">
                          <input type="radio" name="homepage_search_input" id="homepage_search_input-enabled" value="1" <?php echo ($sh['config']['homepage_search_input'] == 1) ? 'checked': '';?> >
                          <label for="homepage_search_input-enabled">Active</label>
                          <input type="radio" name="homepage_search_input" id="homepage_search_input-disabled" value="0" <?php echo ($sh['config']['homepage_search_input'] == 0) ? 'checked': '';?> >
                          <label for="homepage_search_input-disabled" class="m-l-20">In-Active</label>
                      </div>


                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>

                    </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-6 col-sm-6 col-6">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Category Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="category-settings-alert"></div>

                    <form class="category-settings" method="POST">

                      <div class="form-group form-float">
                          <div class="form-line">
                              <input type="text" id="category_title" name="category_title" class="form-control" value="<?php echo $sh['config']['category_title']; ?>">
                              <label class="form-label">Category Title</label>
                          </div>
                      </div>

                      <div class="form-group form-float">
                          <div class="form-line">
                              <input type="text" id="category_description" name="category_description" class="form-control" value="<?php echo $sh['config']['category_description']; ?>">
                              <label class="form-label">Category Description</label>
                          </div>
                      </div>

                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>

                    </form>
                </div>
            </div>
        </div>


    </div>

    <div class="row layout-top-spacing">

      <div id="basic" class="col-lg-6 col-sm-6 col-6">
          <div class="statbox widget box box-shadow">
              <div class="widget-header">
                  <div class="row">
                      <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                          <h4>Professional Settings</h4>
                      </div>
                  </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="professional-settings-alert"></div>

                  <form class="professional-settings" method="POST">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="expert_title" name="expert_title" class="form-control" value="<?php echo $sh['config']['expert_title']; ?>">
                            <label class="form-label">Professional/Experts Title</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="expert_description" name="expert_description" class="form-control" value="<?php echo $sh['config']['expert_description']; ?>">
                            <label class="form-label">Professional/Experts Description</label>
                        </div>
                    </div>

                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>

                  </form>
              </div>
          </div>
      </div>

      <div id="basic" class="col-lg-6 col-sm-6 col-6">
          <div class="statbox widget box box-shadow">
              <div class="widget-header">
                  <div class="row">
                      <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                          <h4>How we work Settings</h4>
                      </div>
                  </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="work-settings-alert"></div>

                  <form class="work-settings" method="POST">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="work_link" name="work_link" class="form-control" value="<?php echo $sh['config']['work_link']; ?>">
                            <label class="form-label">Youtube Video Link</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="work_title" name="work_title" class="form-control" value="<?php echo $sh['config']['work_title']; ?>">
                            <label class="form-label">How we Work Title</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="work_description" name="work_description" class="form-control" value="<?php echo $sh['config']['work_description']; ?>">
                            <label class="form-label">How we work Description</label>
                        </div>
                    </div>

                    <div class="row">

                      <!-- step 1 -->
                      <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_1_title" name="work_step_1_title" class="form-control" value="<?php echo $sh['config']['work_step_1_title']; ?>">
                                <label class="form-label">Step 1 Title</label>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_1_desc" name="work_step_1_desc" class="form-control" value="<?php echo $sh['config']['work_step_1_desc']; ?>">
                                <label class="form-label">Step 1 Description</label>
                            </div>
                        </div>
                      </div>

                      <!-- step 2 -->
                      <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_2_title" name="work_step_2_title" class="form-control" value="<?php echo $sh['config']['work_step_2_title']; ?>">
                                <label class="form-label">Step 2 Title</label>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_2_desc" name="work_step_2_desc" class="form-control" value="<?php echo $sh['config']['work_step_2_desc']; ?>">
                                <label class="form-label">Step 2 Description</label>
                            </div>
                        </div>
                      </div>

                      <!-- step 3 -->
                      <div class="col-md-4">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_3_title" name="work_step_3_title" class="form-control" value="<?php echo $sh['config']['work_step_3_title']; ?>">
                                <label class="form-label">Step 3 Title</label>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="work_step_3_desc" name="work_step_3_desc" class="form-control" value="<?php echo $sh['config']['work_step_3_desc']; ?>">
                                <label class="form-label">Step 3 Description</label>
                            </div>
                        </div>
                      </div>


                    </div>

                    <label for="login_type_system">
                      Show Search Button
                    </label>
                    <div class="form-group">
                        <input type="radio" name="show_work_button" id="show_work_button-enabled" value="1" <?php echo ($sh['config']['show_work_button'] == 1) ? 'checked': '';?> >
                        <label for="show_work_button-enabled">Active</label>
                        <input type="radio" name="show_work_button" id="show_work_button-disabled" value="0" <?php echo ($sh['config']['show_work_button'] == 0) ? 'checked': '';?> >
                        <label for="show_work_button-disabled" class="m-l-20">In-Active</label>
                    </div>

                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>

                  </form>
              </div>
          </div>
      </div>

    </div>

</div>


<script>

  $(function() {

    // Banner Settings
    var form_banner_settings = $('form.banner-settings');
    form_banner_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_banner_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_banner_settings.find('button').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.banner-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.banner-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    // Category Settings
    var form_category_settings = $('form.category-settings');
    form_category_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_category_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_category_settings.find('button').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.category-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.category-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    // Professional Settings
    var form_professional_settings = $('form.professional-settings');
    form_professional_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_professional_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_professional_settings.find('button').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.professional-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.professional-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    // Work Settings
    var form_work_settings = $('form.work-settings');
    form_work_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_work_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_work_settings.find('button').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.work-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.work-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });


  });

</script>

<script type="text/javascript">
  FilePond.registerPlugin(
    // encodes the file as base64 data
    FilePondPluginFileEncode,

    // validates files based on input type
    FilePondPluginFileValidateType,

    // corrects mobile image orientation
    FilePondPluginImageExifOrientation,

    // previews the image
    FilePondPluginImagePreview,

    // resizes the image to fit a certain size
    // FilePondPluginImageResize,

    // applies crop and resize information on the client
    FilePondPluginImageTransform,

    FilePondPluginFilePoster,

    FilePondPluginImageEdit

  );

  FilePond.create(
    document.getElementById('site_logo'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageCropAspectRatio: '1:1',
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      stylePanelLayout: 'compact circle',
      styleLoadIndicatorPosition: 'center bottom',
      styleButtonRemoveItemPosition: 'center bottom',
      styleButtonEditItemPosition: 'center bottom',
      allowMultiple: false,
      <?php if($sh['config']['site_logo'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['site_logo'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['site_logo'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['site_logo'] ?>',
                  },
              },

          },
      ]
    <?php endif; ?>
    }
  );

  FilePond.setOptions({
    server: {
      timeout: 7000,
      process: {
          url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_site_logo',
          method: 'POST',
          withCredentials: false,
          onload: (response) => {
              var json = (response);
              var obj = JSON.parse(json);
              var status = obj.status;
              if (status == 200) {

                $("html, body").animate({ scrollTop: 0 }, 150);

                setTimeout(function () {
                  window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                }, 1000);

                $('.site-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

              }
          },
          onerror: (response) => response.data,
          ondata: (formData) => {
              formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
              return formData;
          },
      },
      remove: (source, load, error) => {

        const request = new XMLHttpRequest();
        request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_logo_image&img=' + source);

        request.onload = function () {
          if (request.status == 200) {

            $("html, body").animate({ scrollTop: 0 }, 150);

            setTimeout(function () {
                $('.site-settings-alert').removeClass('alert alert-success').empty();
            }, 2000);

            $('.site-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Logo Picture Deleted");

            load(request.message);
          } else {

            $('.site-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

            error('oh no');
          }
        };

        request.send();
      }

    }
  });

  FilePond.create(
    document.getElementById('banner_image'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      allowMultiple: false,
      <?php if($sh['config']['banner_image'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['banner_image'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['banner_image'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['banner_image'] ?>',
                  },
              },

          },
      ],
    <?php endif; ?>
      server: {
        timeout: 7000,
        process: {
            url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_banner_image',
            method: 'POST',
            withCredentials: false,
            onload: (response) => {
                var json = (response);
                var obj = JSON.parse(json);
                var status = obj.status;
                if (status == 200) {

                  $("html, body").animate({ scrollTop: 0 }, 150);

                  setTimeout(function () {
                    window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                  }, 1000);

                  $('.homepage-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

                }
            },
            onerror: (response) => response.data,
            ondata: (formData) => {
                formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
                return formData;
            },
        },
        remove: (source, load, error) => {

          const request = new XMLHttpRequest();
          request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_banner_image&img=' + source);

          request.onload = function () {
            if (request.status == 200) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              setTimeout(function () {
                  $('.homepage-settings-alert').removeClass('alert alert-success').empty();
              }, 2000);

              $('.homepage-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Banner image Deleted");

              load(request.message);
            } else {

              $('.homepage-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

              error('oh no');
            }
          };

          request.send();
        }

      }
    }
  );

</script>
