Contact Message from <b><?= $sh['mail_data']['name_contact'] ?></b>

<h3>Subject:</h3><?= $sh['mail_data']['subject_contact'] ?><br><br>
<br><br>

Here are the details of the contact message:<br>
From Name: <?php echo $sh['mail_data']['name_contact']; ?><br>
Email: <?php echo $sh['mail_data']['email_contact']; ?><br>
Message: <?php echo $sh['mail_data']['message_contact']; ?><br>

Yours securely,<br>
Team <?php echo $sh['config']['siteName']?>
