Hi <?php echo $sh['p_data']['email']; ?>,<br><br>

<?= $sh['mail_data']['name'] ?> Sent you a contact message<br><br>

<h3>Subject:</h3><?= $sh['mail_data']['subject'] ?><br><br>
<br><br>

Here are the details of the contact message:<br>
From Name: <?php echo $sh['mail_data']['name']; ?><br>
Email: <?php echo $sh['mail_data']['email']; ?><br>
Message: <?php echo $sh['mail_data']['message']; ?><br>

Yours securely,<br>
Team <?php echo $sh['config']['siteName']?>
