Hi <?= $sh['expert_user']['first_name']." ".$sh['expert_user']['last_name'] ?>,<br><br>

<p>We are sorry to let you know that we the company won't be able to proceed with your application as an expert</p>
<p>You can re-apply anytime. Thanks</p>

Yours securely,<br>
Team <?php echo $sh['config']['siteName']?>
