Hello <?php echo $sh['recover']['username'];?>,
<br>
<br>
To reset your password <a href="<?php echo $sh['recover']['link']; ?>">Click Here</a>
<br><br>
<?php echo $sh['config']['siteName'];?> Team,
<br>
Regards,
