

<div class="container margin_detail">
    <div class="row">

      <?php
        if ($sh['config']['user_must_login_activities'] == 1) {

          if ($sh['loggedin'] == true) {

            $col_details_size = "col-xl-8 col-lg-7";
            $col_cont_size = "col-xl-4 col-lg-5";
            $full_details = 1;
            $show_contact_form = 1;

          }else {

            $col_details_size = "col-xl-12 col-lg-12";
            $col_cont_size = "";
            $full_details = 0;
            $show_contact_form = 0;

          }

        }else {

          $col_details_size = "col-xl-8 col-lg-7";
          $col_cont_size = "col-xl-4 col-lg-5";
          $full_details = 1;
          $show_contact_form = 1;

        }

        $totalNoRatings = ReviewAndRating('total_ratings',$sh['user_profile']['user_id']);
        $totalRatings = ReviewAndRating('total_by_all_r_cat',$sh['user_profile']['user_id']);

        if ($totalRatings > 0 && $totalRatings < 4.9) {
          $reviewWord = $sh['lang']['review_rating_poor'];
        }elseif ($totalRatings == 0 || $totalNoRatings == 0) {
          $reviewWord = $sh['lang']['no_review_rating'];
        }elseif ($totalRatings > 4.9 && $totalRatings < 7.5) {
          $reviewWord = $sh['lang']['review_rating_superb'];
        }elseif ($totalRatings > 7.5) {
          $reviewWord = $sh['lang']['review_rating_excellent'];
        }

      ?>

        <div class="<?= $col_details_size ?>">
            <div class="box_general">

              <style media="screen">


              .filepond--drop-label {
                color: #4c4e53;
                font-size: 12px !important;
              }

              .filepond--label-action {
              text-decoration-color: #babdc0;
              }

              .filepond--panel-root {
              background-color: #edf0f4;
              }

              .filepond--root{
                max-width: 20em;
  	            margin: 0 auto;
              }



              </style>


                <div class="main_info_wrapper">

                  <div class="col-lg-12 mb-2">
                    <div class="mymessg" id="showMsg"></div>
                    <?php if (Sh_IsAdmin() && $sh['user_profile']['user_id'] != $sh['user']['user_id'] ) { ?>
                      <div class="alert alert-danger">
                        <h6>You are accessing this user account as an admin</h6>
                      </div>
                    <?php } ?>

                    <?php if (Sh_IsAdmin() && $sh['user_profile']['active'] == 0) { ?>
                    <div class="alert alert-danger">
                      <h5>This account is in-active / disabled </h5>
                    </div>
                    <?php } ?>

                  </div>

                    <div class="main_info clearfix">
                        <div class="user_thumb">
                            <figure>

                              <?php if($sh['user_profile']['user_id'] == $sh['user']['user_id']): ?>

                              <input type="file" class="filepond" id="profile_img" name="profile_img" accept="image/png, image/jpeg, image/gif"/>

                              <?php else: ?>
                                <img src="<?= $sh['user_profile']['avatar'] ?>" alt="">
                              <?php endif;?>

                            </figure>

                            <?php if ($sh['user_profile']['mood_status'] == '1') { ?>
                              <em class="online">
                                <i class="icon_check_alt green_color"></i> Online
                              </em>
                            <?php }elseif ($sh['user_profile']['mood_status'] == '2') { ?>
                              <em class="online">
                                <i class="icon_minus_alt blue_color"></i> Busy
                              </em>
                            <?php }elseif ($sh['user_profile']['mood_status'] == '3') { ?>
                              <em class="online">
                                <i class="icon_stop_alt purple_color"></i> Do not disturb
                              </em>
                            <?php }elseif ($sh['user_profile']['mood_status'] == '4') { ?>
                              <em class="online">
                                <i class="icon_stop_alt pink_color"></i> Be right back
                              </em>
                            <?php }elseif ($sh['user_profile']['mood_status'] == '5') { ?>
                              <em class="online">
                                <i class="icon_clock brown_color"></i> Appear away
                              </em>
                            <?php }elseif ($sh['user_profile']['mood_status'] == '6') { ?>
                              <em class="">
                                <i class="icon_close_alt red_color"></i> Offline
                              </em>
                            <?php } ?>


                        </div>
                        <div class="user_desc">
                            <h3><?= GetSingleProfessioanlDataByCol('title',$sh['user_profile']['professional']) ?>. <?= $sh['user_profile']['name'] ?></h3>
                            <p><?= $sh['user_profile']['address'] ?></p>
                            <ul class="tags">
                                <?php $specials = explode(',',$sh['user_profile']['speciality']);
                                foreach ($specials as $spec) { ?>
                                <li><a href="#0"><?= $spec ?></a></li>
                              <?php } ?>
                            </ul>
                        </div>
                        <div class="score_in">
                            <div class="rating">
                                <div class="score"><span><?= $reviewWord ?><em><?= $totalNoRatings ?> Reviews</em></span><strong><?= ($totalRatings > 0) ? $totalRatings : 0 ?></strong></div>
                            </div>

                        </div>
                    </div>
                    <!-- /main_info_wrapper -->
                    <hr>
                    <h4>About me</h4>
                    <?php if($sh['loggedin'] == true): ?>
                    <p><?= $sh['user_profile']['about'] ?></p>
                    <?php else: ?>
                    <p><?= "ddf" ?></p>

                    <?php if($sh['config']['login_type_system'] == 1){ ?>
                      <a href="#sign-in-dialog" id="sign-in" class="btn_access">Log In To Read More</a>
                    <?php }else{ ?>
                      <a href="login" class="btn_access">Log In To Read More</a>
                    <?php } ?>

                    <?php endif; ?>
                </div>
                <!-- /main_info -->
            </div>
            <!-- /box_general -->
            <?php if ($full_details == 1): ?>
            <div class="box_general">
                <div class="tabs_detail">
                    <ul class="nav nav-tabs" role="tablist">

                        <?php if ($sh['user_profile']['account_type'] == "experts" || Sh_IsAdmin() ) { ?>
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Other info</a>
                        </li>
                        <?php } ?>

                        <?php if ( $sh['user_profile']['account_type'] == "experts" || Sh_IsAdmin() ) { ?>
                        <li class="nav-item">
                            <a id="tab-E" href="#pane-E" class="nav-link" data-toggle="tab" role="tab">Data Update</a>
                        </li>
                       <?php } ?>

                        <?php if ( $sh['user_profile']['user_id'] == $sh['user']['user_id'] || Sh_IsAdmin() ) { ?>
                        <li class="nav-item">
                            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Profile Update</a>
                        </li>
                       <?php } ?>

                      <?php if ( $sh['user_profile']['user_id'] == $sh['user']['user_id'] || Sh_IsAdmin() ) { ?>
                      <li class="nav-item">
                          <a id="tab-D" href="#pane-D" class="nav-link" data-toggle="tab" role="tab">Social Profile</a>
                      </li>
                      <?php } ?>

                      <?php if ($sh['user_profile']['account_type'] == "experts" || Sh_IsAdmin()) { ?>
                        <?php if ($sh['config']['user_rating_system'] == 1) { ?>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Reviews</a>
                        </li>
                        <?php } ?>
                      <?php } ?>

                    </ul>
                    <div class="tab-content" role="tablist">

                        <?php if ($sh['user']['account_type'] == "experts" || Sh_IsAdmin() ) { ?>
                        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                            <div class="card-header" role="tab" id="heading-A">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                                        Other info
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body info_content">
                                    <div class="indent_title_in">
                                        <i class="icon_document_alt"></i>
                                        <h3>Expertises</h3>
                                        <p>Expertise Data.</p>
                                    </div>
                                    <div class="wrapper_indent">
                                        <p><?= $sh['user_profile']['expert_desc'] ?></p>
                                        <div class="services_list clearfix">
                                            <ul>
                                              <?php
                                                $expertises = json_decode($sh['user_profile']['expertise_data'],true);
                                                $lenghtChecker = count($expertises);

                                                if ($lenghtChecker > 0) {

                                                  foreach ($expertises as $expkey) {
                                            ?>
                                              <?php foreach ($expkey as $rkey => $rvalue) { ?>
                                                <li>
                                                  <?= $rvalue[0] ?>
                                                  <?php if($rvalue[1] != ""): ?>
                                                  <strong><?= $rvalue[1] ?></strong>
                                                  <?php endif; ?>
                                                </li>
                                              <?php
                                                    }
                                                  }

                                                }
                                               ?>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  End wrapper indent -->
                                    <hr>
                                    <div class="indent_title_in">
                                        <i class="icon_document_alt"></i>
                                        <h3>Professional Association</h3>
                                        <p>All Professional Associaltion Data.</p>
                                    </div>
                                    <div class="wrapper_indent">
                                        <p><?= $sh['user_profile']['professional_desc'] ?></p>
                                        <h6>Professionals</h6>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="bullets">
                                                  <?php

                                                    $professionals = json_decode($sh['user_profile']['professional_data'],true);
                                                    $lenghtCheckerP = count($professionals);

                                                  if ($lenghtCheckerP > 0) {

                                                    foreach ($professionals as $expkey) {
                                                  ?>
                                                    <li><?= $expkey ?></li>
                                                  <?php
                                                    }
                                                  }

                                                  ?>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /row-->
                                    </div>
                                    <!--  End wrapper indent -->
                                    <hr>
                                    <div class="indent_title_in">
                                        <i class="icon_document_alt"></i>
                                        <h3>Previous Work</h3>
                                        <p>All Previous Works.</p>
                                    </div>
                                    <div class="wrapper_indent add_bottom_25">
                                        <p><?= $sh['user_profile']['previous_work_desc'] ?></p>
                                        <ul class="bullets">
                                          <?php

                                            $previousWorks = json_decode($sh['user_profile']['previous_work_data'],true);
                                            $lenghtCheckerPW = count($previousWorks);

                                          if ($lenghtCheckerPW > 0) {

                                            foreach ($previousWorks as $expkey) {
                                          ?>
                                          <?php foreach ($expkey as $rkey => $rvalue) { ?>

                                            <?php if($rvalue[0] != ""): ?>
                                            <li>
                                              <a href="<?= ($rvalue[1] != "") ? $rvalue[1] : '#' ?>">
                                                <strong><?= $rvalue[0] ?></strong>
                                              </a>
                                            </li>
                                          <?php endif; ?>

                                          <?php } }
                                          }

                                          ?>
                                        </ul>
                                    </div>
                                    <!--  End wrapper indent -->
                                </div>
                            </div>
                        </div>
                        <?php } ?>


                        <?php if ($sh['user']['account_type'] == "experts" || Sh_IsAdmin()) { ?>
                        <div id="pane-E" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-E">
                            <div class="card-header" role="tab" id="heading-E">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-Edit" aria-expanded="true" aria-controls="collapse-E">
                                        Data Update
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-Edit" class="collapse" role="tabpanel" aria-labelledby="heading-E">
                                <div class="card-body info_content">

                                      <!-- Expertise -->
                                      <div class="indent_title_in">
                                          <i class="icon_toolbox_alt"></i>
                                          <h3>Expertise Section</h3>
                                          <p>Your Expertise Data Form.</p>
                                      </div>

                                      <div class="wrapper_indent">
                                        <form class="" id="expertise_form" method="post">

                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <label>Your Expertise Description</label>
                                              <input type="hidden" name="user_id" value="<?= $sh['user_profile']['user_id'] ?>">
                                              <textarea name="expert_desc" id="expert_desc" class="form-control" style="height: 180px;" placeholder="Write Expertise"><?= $sh['user_profile']['expert_desc'] ?></textarea>
                                            </div>
                                          </div>

                                          <div class="" id="dynamic_expertise">

                                            <?php

                                              $expertises = json_decode($sh['user_profile']['expertise_data'],true);
                                              $lenghtChecker = count($expertises);

                                            if ($lenghtChecker > 0) {

                                              foreach ($expertises as $expkey) {
                                            ?>
                                            <div class="row" id="expertise-data">
                                              <?php foreach ($expkey as $rkey => $rvalue) { ?>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input name="expertise[title][]" id="expertise_title" value="<?= $rvalue[0] ?>" class="form-control" type="text" placeholder="Expertise Title">
                                                </div>
                                              </div>

                                              <div class="col-md-4">
                                                <div class="form-group">
                                                  <input name="expertise[duration][]" id="expertise_duration" value="<?= $rvalue[1] ?>" class="form-control" type="text" placeholder="Expertise Duration">
                                                </div>
                                              </div>
                                            <?php } ?>
                                              <div class="col-md-2">
                                                <div class="form-group">
                                                  <button id="add_experts_btn" class="btn_1 remove-expertise" type="button">
                                                    <i class="icon_close_alt"></i>
                                                  </button>
                                                </div>
                                              </div>

                                            </div>
                                          <?php
                                              }

                                            }else { ?>
                                              <div class="row" id="expertise-data">

                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <input name="expertise[title][]" id="expertise_title" value="" class="form-control" type="text" placeholder="Expertise Ttile">
                                                  </div>
                                                </div>

                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <input name="expertise[duration][]" id="expertise_duration" value="" class="form-control" type="text" placeholder="Expertise Duration">
                                                  </div>
                                                </div>

                                                <div class="col-md-2">
                                                  <div class="form-group">
                                                    <button id="add_experts_btn" class="btn_1 remove-expertise" type="button">
                                                      <i class="icon_close_alt"></i>
                                                    </button>
                                                  </div>
                                                </div>

                                              </div>

                                        <?php    }

                                          ?>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-4">
                                              <button type="button" class="btn_1 full-width" id="add-more-expertise" name="button">Add More</button>
                                            </div>

                                            <div class="col-md-8">
                                              <button type="submit" class="btn_1 full-width disable_btn" id="expertise_form_btn" >Submit Expertise</button>
                                            </div>
                                          </div>



                                        </form>


                                      </div>
                                      <!-- Expertise Secotion Ends -->

                                      <hr>

                                      <!-- Professional Association -->
                                      <div class="indent_title_in">
                                          <i class="icon_toolbox_alt"></i>
                                          <h3>Professional Associaltion Section</h3>
                                          <p>Your Professional Association Data Form.</p>
                                      </div>

                                      <div class="wrapper_indent">
                                        <form class="" id="professional_form" method="post">

                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <label>Your Professional Association Description</label>
                                              <input type="hidden" name="user_id" value="<?= $sh['user_profile']['user_id'] ?>">
                                              <textarea name="professional_desc" id="professional_desc" class="form-control" style="height: 180px;" placeholder="Write Something about your professional association"><?= $sh['user_profile']['professional_desc'] ?></textarea>
                                            </div>
                                          </div>

                                          <div class="" id="dynamic_professional">

                                            <?php

                                              $professionals = json_decode($sh['user_profile']['professional_data'],true);
                                              $lenghtCheckerP = count($professionals);

                                            if ($lenghtCheckerP > 0) {

                                              foreach ($professionals as $expkey) {
                                            ?>
                                            <div class="row" id="professional-data">

                                              <div class="col-md-10">
                                                <div class="form-group">
                                                  <input name="professional[]" id="professional_title" value="<?= $expkey ?>" class="form-control" type="text" placeholder="Professional Association Title">
                                                </div>
                                              </div>

                                              <div class="col-md-2">
                                                <div class="form-group">
                                                  <button id="add_professionals_btn" class="btn_1 remove-professional" type="button">
                                                    <i class="icon_close_alt"></i>
                                                  </button>
                                                </div>
                                              </div>

                                            </div>
                                          <?php
                                              }

                                            }else { ?>
                                              <div class="row" id="professional-data">

                                                <div class="col-md-10">
                                                  <div class="form-group">
                                                    <input name="professional[]" id="professional_title" value="" class="form-control" type="text" placeholder="Professioanl Ttile">
                                                  </div>
                                                </div>

                                                <div class="col-md-2">
                                                  <div class="form-group">
                                                    <button id="add_professionals_btn" class="btn_1 remove-professional" type="button">
                                                      <i class="icon_close_alt"></i>
                                                    </button>
                                                  </div>
                                                </div>

                                              </div>

                                        <?php    }

                                          ?>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-4">
                                              <button type="button" class="btn_1 full-width" id="add-more-professional" name="button">Add More</button>
                                            </div>

                                            <div class="col-md-8">
                                              <button type="submit" class="btn_1 full-width disable_btn" id="professioanl_form_btn" >Submit Professional Association</button>
                                            </div>
                                          </div>



                                        </form>


                                      </div>
                                      <!-- Expertise Secotion Ends -->

                                      <hr>

                                      <!-- Previous Work -->
                                      <div class="indent_title_in">
                                          <i class="icon_toolbox_alt"></i>
                                          <h3>Previous Work Section</h3>
                                          <p>Your Previous Work Data Form.</p>
                                      </div>

                                      <div class="wrapper_indent">
                                        <form class="" id="previous_work_form" method="post">

                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <label>Your Previous Works Experience</label>
                                              <input type="hidden" name="user_id" value="<?= $sh['user_profile']['user_id'] ?>">
                                              <textarea name="previous_work_desc" id="previous_work_desc" class="form-control" style="height: 180px;" placeholder="Write About your previous work experiences"><?= $sh['user_profile']['previous_work_desc'] ?></textarea>
                                            </div>
                                          </div>

                                          <div class="" id="dynamic_previous_work">

                                            <?php

                                              $previousWorks = json_decode($sh['user_profile']['previous_work_data'],true);
                                              $lenghtCheckerPW = count($previousWorks);

                                            if ($lenghtCheckerPW > 0) {

                                              foreach ($previousWorks as $expkey) {
                                            ?>
                                            <div class="row" id="previous_work-data">
                                              <?php foreach ($expkey as $rkey => $rvalue) { ?>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input name="previouswork[title][]" id="previous_work_title" value="<?= $rvalue[0] ?>" class="form-control" type="text" placeholder="Previous Work Name">
                                                </div>
                                              </div>

                                              <div class="col-md-4">
                                                <div class="form-group">
                                                  <input name="previouswork[url][]" id="previous_work_url" value="<?= $rvalue[1] ?>" class="form-control" type="text" placeholder="Previous Work Url">
                                                </div>
                                              </div>
                                            <?php } ?>
                                              <div class="col-md-2">
                                                <div class="form-group">
                                                  <button id="add_previous_work_btn" class="btn_1 remove-previous_work" type="button">
                                                    <i class="icon_close_alt"></i>
                                                  </button>
                                                </div>
                                              </div>

                                            </div>
                                          <?php
                                              }

                                            }else { ?>
                                              <div class="row" id="previous_work-data">

                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <input name="previouswork[title][]" id="previous_work_title" value="" class="form-control" type="text" placeholder="Previous Work Title">
                                                  </div>
                                                </div>

                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <input name="previouswork[url][]" id="previous_work_url" value="" class="form-control" type="text" placeholder="Previous Work URL">
                                                  </div>
                                                </div>

                                                <div class="col-md-2">
                                                  <div class="form-group">
                                                    <button id="add_previous_work_btn" class="btn_1 remove-previous_work" type="button">
                                                      <i class="icon_close_alt"></i>
                                                    </button>
                                                  </div>
                                                </div>

                                              </div>

                                        <?php    }

                                          ?>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-4">
                                              <button type="button" class="btn_1 full-width" id="add-more-previous_work" name="button">Add More</button>
                                            </div>

                                            <div class="col-md-8">
                                              <button type="submit" class="btn_1 full-width disable_btn" id="previous_work_form_btn" >Submit Previous Work</button>
                                            </div>
                                          </div>



                                        </form>


                                      </div>
                                      <!-- Previous Work Section Ends -->

                                      <hr>


                                </div>
                            </div>
                        </div>
                        <?php } ?>

                        <?php if ($sh['user_profile']['user_id'] == $sh['user']['user_id'] || Sh_IsAdmin()) { ?>
                        <div id="pane-C" class="card tab-pane fade <?= ($sh['user_profile']['account_type'] != 'experts') ? 'show active' : '' ?>" role="tabpanel" aria-labelledby="tab-C">
                            <div class="card-header" role="tab" id="heading-C">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-Edit" aria-expanded="true" aria-controls="collapse-C">
                                        Profile Update
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-Edit" class="collapse" role="tabpanel" aria-labelledby="heading-C">
                                <div class="card-body info_content">
                                  <form class="" action="" id="profileform" method="post">

                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <label>Availability Status</label>
                                          <select class="form-control" name="mood_status">
                                              <option <?= ($sh['user_profile']['mood_status'] == '1') ? 'selected' : '' ?> value="1">Availble/Online</option>
                                              <option <?= ($sh['user_profile']['mood_status'] == '2') ? 'selected' : '' ?> value="2">Busy</option>
                                              <option <?= ($sh['user_profile']['mood_status'] == '3') ? 'selected' : '' ?> value="3">Do not disturb</option>
                                              <option <?= ($sh['user_profile']['mood_status'] == '4') ? 'selected' : '' ?> value="4">Be right back</option>
                                              <option <?= ($sh['user_profile']['mood_status'] == '5') ? 'selected' : '' ?> value="5">Appear away</option>
                                              <option <?= ($sh['user_profile']['mood_status'] == '6') ? 'selected' : '' ?> value="6">Offline</option>
                                          </select>
                                        </div>
                                      </div>

                                      <?php if (Sh_IsAdmin()) { ?>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <label>User Category <span class="red_color" >(*Only Admin can edit this*) </span> </label>

                                          <select name="cat_id" class="form-control">
                                            <option value="" >Select Category</option>
                                            <?php
                                              $cats = getAllCategoryData('status = 1');
                                              foreach ($cats as $cat) {
                                             ?>
                                            <option <?= ($sh['user_profile']['cat_id'] == $cat['id']) ? 'selected' : '' ?> value="<?= $cat['id'] ?>" ><?= $cat['title'] ?></option>
                                            <?php } ?>

                                          </select>

                                        </div>
                                      </div>
                                      <?php } ?>

                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>First Name</label>
                                            <input type="hidden" name="user_id" value="<?= $sh['user_profile']['user_id'] ?>">
                                            <input name="first_name" id="first_name" value="<?= $sh['user_profile']['first_name'] ?>" class="form-control" type="text" placeholder="Enter your first name">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Last Name</label>
                                            <input name="last_name" id="last_name" value="<?= $sh['user_profile']['last_name'] ?>" class="form-control" type="text" placeholder="Enter your last name">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Email</label>
                                            <input required name="email" id="email" value="<?= $sh['user_profile']['email'] ?>" class="form-control" type="email" placeholder="Enter your last name">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Phone Number</label>
                                            <input name="phone_number" id="phone_number" value="<?= $sh['user_profile']['phone_number'] ?>" class="form-control" type="text" placeholder="Enter your last name">
                                          </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="form-group">
                                            <label>Address</label>
                                            <input name="address" id="address" value="<?= $sh['user_profile']['address'] ?>" class="form-control" type="text" placeholder="Enter your Home Address">
                                          </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="form-group">
                                            <label>Specialities <span class="noteText">(Seperate with comma)</span></label>
                                            <input name="speciality" id="speciality" value="<?= $sh['user_profile']['speciality'] ?>" class="form-control" type="text" placeholder="Enter your Specialities seperated by comma">
                                          </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="form-group">
                                            <label>About You</label>
                                            <textarea name="about" id="about" class="form-control" style="height: 180px;" placeholder="Write About you"><?= $sh['user_profile']['about'] ?></textarea>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      <button type="submit" class="btn_1 disable_btn" id="profileformBtn" name="button">Update Profile</button>
                                    </div>

                                  </form>

                                </div>
                            </div>
                        </div>
                        <?php } ?>

                        <?php if ($sh['user_profile']['user_id'] == $sh['user']['user_id'] || Sh_IsAdmin()) { ?>
                        <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                            <div class="card-header" role="tab" id="heading-D">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-Edit" aria-expanded="true" aria-controls="collapse-C">
                                        Social Profile
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-Edit" class="collapse" role="tabpanel" aria-labelledby="heading-C">
                                <div class="card-body info_content">
                                  <form class="" action="" id="Socialprofileform" method="post">

                                    <div class="row">
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Facebook Page</label>
                                            <input type="hidden" name="user_id" value="<?= $sh['user_profile']['user_id'] ?>">
                                            <input name="facebook" id="facebook" value="<?= $sh['user_profile']['facebook'] ?>" class="form-control" type="text" placeholder="Enter your Facebook">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Twitter Handle</label>
                                            <input name="twitter" id="twitter" value="<?= $sh['user_profile']['twitter'] ?>" class="form-control" type="text" placeholder="Enter your Twitter">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Instagram Page</label>
                                            <input name="instagram" id="instagram" value="<?= $sh['user_profile']['instagram'] ?>" class="form-control" type="text" placeholder="Enter your Instagram Page">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>LinkedIn Page</label>
                                            <input name="linkedin" id="linkedin" value="<?= $sh['user_profile']['linkedin'] ?>" class="form-control" type="text" placeholder="Enter your LinkedIn">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Google Page</label>
                                            <input name="google" id="google" value="<?= $sh['user_profile']['google'] ?>" class="form-control" type="text" placeholder="Enter your google ">
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label>Personal website Page</label>
                                            <input name="website" id="website" value="<?= $sh['user_profile']['website'] ?>" class="form-control" type="text" placeholder="Enter your Personal website page">
                                          </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      <button type="submit" class="btn_1 disable_btn" id="SocialprofileformBtn" name="button">Social Profile</button>
                                    </div>

                                  </form>

                                </div>
                            </div>
                        </div>
                        <?php } ?>

                        <!-- /tab -->
                        <?php if ($sh['user_profile']['account_type'] == "experts" || Sh_IsAdmin()) { ?>
                          <?php if ($sh['config']['user_rating_system'] == 1) { ?>
                          <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                              <div class="card-header" role="tab" id="heading-B">
                                  <h5>
                                      <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                                          Reviews
                                      </a>
                                  </h5>
                              </div>

                              <?php if($totalNoRatings > 0): ?>
                              <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                                  <div class="card-body reviews">
                                      <div class="row add_bottom_45 d-flex align-items-center">
                                          <div class="col-md-3">
                                              <div id="review_summary">
                                                  <strong><?= $totalRatings ?></strong>
                                                  <em><?= $reviewWord ?></em>
                                                  <small>Based on <?= $totalNoRatings ?> reviews</small>
                                              </div>
                                          </div>

                                          <div class="col-md-9 reviews_sum_details">
                                              <div class="row">
                                                  <div class="col-md-12">

                                                    <div class="row">
                                                      <?php
                                                        $review_cats = getAllReviewCategoryData("status = 1");
                                                        foreach ($review_cats as $r_c_d){ ?>

                                                      <div class="col-lg-6">
                                                        <h6><?= $r_c_d['title'] ?></h6>
                                                        <div class="row">
                                                            <div class="col-xl-10 col-lg-9 col-9">
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style='width: <?= ReviewAndRating("total_by_single_r_cat",$sh["user_profile"]["user_id"],$r_c_d["title"]) * 10 ?>%' aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-2 col-lg-3 col-3"><strong><?= ReviewAndRating("total_by_single_r_cat",$sh['user_profile']['user_id'],$r_c_d['title']) ?></strong></div>
                                                        </div>
                                                        <!-- /row -->
                                                      </div>
                                                      <?php } ?>


                                                    </div>









                                                  </div>




                                              </div>
                                              <!-- /row -->
                                          </div>
                                      </div>
                                      <div id="reviews">

                                        <?php
                                          $reviews = GetAllReviewsByUser_id($sh['user_profile']['user_id']);
                                          foreach ($reviews as $rv) { ?>

                                          <div class="review_card">
                                              <div class="row">
                                                <?php
                                                  $us_data = Sh_UserData($rv['sender_id']);

                                                 ?>
                                                  <div class="col-md-2 user_info">
                                                      <figure><img src="<?= $us_data['avatar'] ?>" alt=""></figure>

                                                      <h5><?= $us_data['first_name'] ?></h5>
                                                  </div>
                                                  <div class="col-md-10 review_content">
                                                      <div class="clearfix add_bottom_15">
                                                          <span class="rating"><?= round(senderReviewDataCalculation($rv['review_cat_records']),1) ?><small>/10</small> <strong>Rating average</strong></span>
                                                          <em>Published <?= dataTimeFetch($rv['date_created']) ?></em>
                                                      </div>
                                                      <h4>"<?= $rv['title'] ?>"</h4>
                                                      <p><?= $rv['review'] ?></p>
                                                      <ul>
                                                          <li><a href="#0"><i class="icon_like"></i><span>Useful</span></a></li>
                                                          <li><a href="#0"><i class="icon_dislike"></i><span>Not useful</span></a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <!-- /row -->
                                          </div>
                                          <!-- /review_card -->
                                        <?php } ?>
                                      </div>
                                      <!-- /reviews -->

                                      <?php if ($sh['user_profile']['user_id'] != $sh['user']['user_id']) { ?>
                                        <p class="text-right"><a href="<?= Sh_Link('review/'.$sh['user_profile']['username']) ?>" class="btn_1">Leave a review</a></p>
                                      <?php } ?>


                                  </div>
                              </div>

                            <?php else: ?>
                              <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body reviews">
                                    <div class="row add_bottom_45 d-flex align-items-center">
                                      <div class="text-center col-lg-12">

                                        <h2 class="" style="margin-top: 10px; margin-bottom: 10px;"><?= $sh['lang']['sorry_no_reviews'] ?></h2>

                                        <?php if ($sh['user_profile']['user_id'] != $sh['user']['user_id']) { ?>
                                        <p class="text-right"><a href="<?= Sh_Link('review/'.$sh['user_profile']['username']) ?>" class="btn_1">Click here to Leave a review</a></p>
                                        <?php } ?>

                                      </div>
                                    </div>

                                  </div>
                              </div>
                            <?php endif; ?>
                          </div>
                          <?php } ?>
                        <?php } ?>
                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /tabs_detail -->
            </div>
            <?php endif; ?>
        </div>
        <!-- /col -->


        <?php if($show_contact_form == 1): ?>
        <div class="<?= $col_cont_size ?>" id="sidebar_fixed">
            <div class="box_booking mobile_fixed">

              <?php if ($sh['user_profile']['user_id'] != $sh['user']['user_id']) { ?>
                <div class="head">
                    <h3>Mail Contact</h3>
                    <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
                </div>
                <!-- /head -->
                <div class="main">

                    <form class="" action="" id="sendContact" method="post">
                      <div class="col-lg-12">
                        <div class="" id="errs">

                        </div>
                      </div>

                      <div class="row">

                        <input type="hidden" name="reciever_id" id="reciever_id" value="<?= $sh['user_profile']['user_id'] ?>">
                        <input type="hidden" class="form-control" name="user_id" value="<?= $sh['user']['user_id'] ?>">

                        <?php if ($sh['loggedin'] == false): ?>

                          <div class="col-lg-12">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Your Full Name" name="name" value="<?= $sh['user']['name'] ?>">
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group">
                              <input type="text" required class="form-control" placeholder="Enter Your Email Address" name="email" value="<?= $sh['user']['email'] ?>">
                            </div>
                          </div>


                        <?php else: ?>

                          <div class="col-lg-12">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Your Full Name" name="name" value="<?= $sh['user']['name'] ?>">
                            </div>
                          </div>
                          <input type="hidden" class="form-control" name="email" value="<?= $sh['user']['email'] ?>">

                        <?php endif; ?>

                        <div class="col-lg-12">
                          <div class="form-group">
                            <input type="text" required class="form-control" placeholder="Enter Contact Subject" name="subject" value="">
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group">
                            <textarea required class="form-control" id="" name="message" style="height: 180px;" placeholder="Enter Message"></textarea>
                          </div>
                        </div>

                      </div>

                      <button type="submit" class="btn_1 disable_btn full-width booking">Contact Me</button>
                    </form>

                </div>

              <?php }else { ?>
                <div class="head">
                    <h3>Contact Messages</h3>
                    <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
                </div>

                <div class="main">
                  <div class="services_list clearfix">
                      <ul>
                        <?php
                          $contsMsgs = GetAllContactMessageByUser($sh['user']['user_id']);

                          foreach ($contsMsgs as $key => $value) {
                            $send_data = Sh_UserData($value['sender_id']);

                          ?>
                          <li><?= $value['message'] ?><strong><small>from</small><?= $send_data['name'] ?></strong></li>
                        <?php } ?>
                      </ul>
                  </div>
                </div>

                <hr>

              <?php } ?>

              <?php if( $sh['user_profile']['user_id'] == $sh['user']['user_id'] && $sh['user']['expert_access_code'] != ""){ ?>
              <div class="">
                <a href="<?= $sh['config']['site_url']."/user-form/experts?mycode=".$sh['user']['expert_access_code'] ?>" class="btn_1 full-width">Become an Expert</a>
              </div>
              <?php } ?>

            </div>
            <!-- /box_booking -->
            <?php if( $sh['user_profile']['user_id'] == $sh['user']['user_id'] && $sh['user']['expert_access_code'] != ""){ ?>
              <div class="btn_reserve_fixed">
                <a href="<?= $sh['config']['site_url']."/user-form/experts?mycode=".$sh['user']['expert_access_code'] ?>" class="btn_1 full-width booking">Become an Expert</a>
              </div>
            <?php } ?>

            <ul class="share-buttons">
                <?php if ($sh['user_profile']['facebook'] != "") { ?>
                  <li><a class="fb-share" href="<?= $sh['user_profile']['facebook'] ?>"><i class="social_facebook"></i></a></li>
                <?php } ?>

                <?php if ($sh['user_profile']['twitter'] != "") { ?>
                <li><a class="twitter-share" href="<?= $sh['user_profile']['twitter'] ?>"><i class="social_twitter"></i></a></li>
                <?php } ?>

                <?php if ($sh['user_profile']['google'] != "") { ?>
                <li><a class="gplus-share" href="<?= $sh['user_profile']['google'] ?>"><i class="social_googleplus"></i></a></li>
                <?php } ?>

                <?php if ($sh['user_profile']['linkedin'] != "") { ?>
                <li><a class="fb-share" href="<?= $sh['user_profile']['linkedin'] ?>"><i class="social_linkedin"></i></a></li>
                <?php } ?>

                <?php if ($sh['user_profile']['instagram'] != "") { ?>
                <li><a class="fb-share" href="<?= $sh['user_profile']['instagram'] ?>"><i class="social_instagram"></i></a></li>
                <?php } ?>

            </ul>
        </div>
        <?php endif; ?>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
