<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <?php if ($_COOKIE['mode'] == 'night') { ?>
    <meta name="theme-color" content="#212121" id="night-mode-meta">
    <?php } ?>

    <meta name="title" content="<?php echo $sh['title'];?>">
    <meta name="description" content="<?php echo $sh['description'];?>">
    <meta name="keywords" content="<?php echo $sh['keywords'];?>">
    <meta name="author" content="Surecoder">
    <title><?php echo $sh['title'];?></title>

    <style media="screen">
      :root {
        --scolor: <?= $sh['config']['secondary_color'] ?>;
        --pcolor: <?= $sh['config']['primary_color'] ?>;
        --tcolor: <?= $sh['config']['text_color'] ?>;
        --bpcolor: <?= $sh['config']['button_primary_color'] ?>;
        --bscolor: <?= $sh['config']['button_secondary_color'] ?>;
      }
    </style>

    <!-- Favicons-->
    <link rel="shortcut icon" href="<?php echo $sh['config']['theme_url'];?>/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/bootstrap_customized.min.css" rel="stylesheet">
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <?php if($sh['page'] == 'home' || $sh['page'] == 'welcome' || $sh['page'] == 'login' || $sh['page'] == 'register'){ ?>
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/home.css" rel="stylesheet">
    <?php } ?>

    <?php if ($sh['page'] == 'pages') { ?>
      <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/help.css" rel="stylesheet">
    <?php } ?>

    <?php if ($sh['page'] == "contact-us") { ?>
      <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/contacts.css" rel="stylesheet">
    <?php } ?>

    <?php if($sh['page'] == 'user-form' || $sh['page'] == 'review'){ ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/review.css" rel="stylesheet">
    <?php } ?>

    <?php if($sh['page'] == 'search-experts'){ ?>
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/listing.css" rel="stylesheet">
    <?php } ?>

    <?php if($sh['page'] == 'timeline'){ ?>
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/detail-page.css" rel="stylesheet">
    <?php } ?>


    <!-- <link rel="stylesheet" href="<?php echo $sh['config']['theme_url'];?>/plugins/newloader/dist/css-loader.css"> -->

    <?php if($sh['page'] == "timeline"){ ?>
      <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
      <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

      <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet" />

      <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet" />
    <?php } ?>

</head>

<body >
  <!-- <div class=""></div> -->
  <style media="screen">
   .alert-success {
     color: #155724;
     background-color: #d4edda;
     border-color: #c3e6cb;
   }
   .alert-danger {
       color: #721c24;
       background-color: #f8d7da;
       border-color: #f5c6cb;
   }
   .my-form-error{
     color: #721c24;
     background-color: #f8d7da;
     border-color: #f5c6cb;
   }
   .alert {
     position: relative;
     padding: 0.75rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: 0.25rem;
   }

   .noteText{
     color: red;
     font-weight: 700;
   }

   .green_color{
     color: green;
   }
   .blue_color{
     color: blue;
   }
   .purple_color{
     color: purple;
   }
   .pink_color{
     color: pink;
   }
   .brown_color{
     color: brown;
   }
   .red_color{
     color: red;
   }


  </style>


  <?php if( $sh['page'] != '404' ){ ?>
  <style>

    .valid {
      color: green;
      font-size: 13px;
      font-weight: 500;
    }

    .elAlign_left {
        text-align: left;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .hidden{
      display: none !important;
    }

    .tag_auth_box .errors {
        margin: 0 0 15px;
        color: #F44336;
        font-size: 15px;
        text-align: center;
    }

     #message_errors {
        margin: 0 0 15px;
        color: #F44336;
        font-size: 16px;
        text-align: center;
    }

    #message_success {
       margin: 0 0 15px;
       color: green;
       font-size: 16px;
       text-align: center;
   }

    .valign{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .tag_auth_animation svg {
        width: 50px;
        height: 50px;
        margin: 0 0 15px;
    }

    .tag_auth_animation {
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1;
        border-radius: 10px;
        justify-content: center;
        flex-direction: column;
    }
  </style>


  <?php
    if ($sh['page'] == 'search-experts') {
      $headerStyle = "header_in";
    }elseif ($sh['page'] == 'user-form' || $sh['page'] == 'review' ||  $sh['page'] == 'timeline') {
      $headerStyle = "header_in shadow";
    }else{
      $headerStyle = "header element_to_stick";
    }

   ?>
  <header class="clearfix <?= $headerStyle ?>">

    <?php echo Sh_LoadPage('header/content'); ?>

	</header>

  <?php } ?>
	<!-- /header -->


	<main class="<?= ($sh['page'] == 'user-form' || $sh['page'] == 'review') ? 'bg_gray' : '' ?>" >
	    <?= $sh['content'] ?>
	</main>
	<!-- /main -->


<?php if($sh['page'] != '404'){ ?>
	<footer>
		<?php echo Sh_LoadPage('footer/content'); ?>
	</footer>
	<!--/footer-->

	<div id="toTop"></div><!-- Back to top button -->

  <!-- Sign In Modal -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide tag_auth_box">
		<div class="modal_header">
			<h3>Sign In</h3>
		</div>

    <div class="valign tag_auth_animation hidden">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg>
      <?php echo $sh['lang']['welcome_back'] ?>
    </div>

		<form id="login_user" method="post">
			<div class="sign-in-wrapper">

        <div class="errors"></div>
				<!-- <a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div> -->
				<div class="form-group">
					<label>Email</label>
					<input autocomplete="off" autofocus required type="email" class="form-control" name="username" id="username">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
          <input type="password" class="form-control" autocomplete="off" name="password" id="password" value="" required>
          <i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<label class="container_check">Remember me
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-right mt-1"><a id="forgot" href="forgot-password">Forgot Password?</a></div>
				</div>
				<div class="text-center">
          <button type="submit" class="btn_1 full-width mb_5 disable_btn tag_wel_btn"><?php echo $sh['lang']['login']?></button>
					Don’t have an account? <a href="">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>

  <!-- Sign In modal end -->

  <!-- Sign Up Modal -->
  <div id="sign-up-dialog" class="zoom-anim-dialog mfp-hide tag_auth_box">
  		<div class="modal_header">
  			<h3>Sign Up</h3>
  		</div>

      <div class="valign tag_auth_animation hidden">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg>
        <?php echo $sh['lang']['successfully_joined_label'] ?>
      </div>

  		<form id="reg_user" method="post">
  			<div class="sign-in-wrapper">

          <div class="de elHeadlineWrapper" id="tmp_subheadline-10287-108" data-de-type="headline" data-de-editing="false" data-title="sub-headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" data-gramm="false" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
             <div class="errors"></div>
             <div class="success"></div>
          </div>
  				<!-- <a href="#0" class="social_bt facebook">Login with Facebook</a>
  				<a href="#0" class="social_bt google">Login with Google</a>
  				<div class="divider"><span>Or</span></div> -->
          <div class="form-group">
            <select name="cat_id" class="form-control">
              <option value="" >Select Category</option>
              <?php
                $cats = getAllCategoryData('status = 1');
                foreach ($cats as $cat) {
                  if ($cat['id'] != '1') {
               ?>
              <option value="<?= $cat['id'] ?>" ><?= $cat['title'] ?></option>
              <?php } } ?>

            </select>
          </div>

          <div class="form-group">
  					<label>Professional</label>
            <select name="professional" class="form-control">
              <?php
                $prof = getAllProfessionalData('status = 1');
                foreach ($prof as $pro) {
               ?>
              <option value="<?= $pro['id'] ?>" ><?= $pro['title'] ?></option>
              <?php } ?>
            </select>
  				</div>

          <div class="form-group">
  					<label>First Name</label>
  					<input autocomplete="off" autofocus required type="text" class="form-control" name="first_name" id="first_name">
  					<i class="icon_group"></i>
  				</div>
          <div class="form-group">
  					<label>Last Name</label>
            <input autocomplete="off" autofocus required type="hidden" value="<?= "user_".Sh_GenerateKey(4, 6, false, false, true, false) ?>" class="form-control" name="username" id="user_n">
  					<input autocomplete="off" autofocus required type="text" class="form-control" name="last_name" id="last_name">
  					<i class="icon_group"></i>
  				</div>
          <div class="form-group">
  					<label>Phone Number</label>
  					<input autocomplete="off" autofocus type="text" class="form-control" name="phone_num" id="phone_num">
  					<i class="icon_phone"></i>
  				</div>
  				<div class="form-group">
  					<label>Email</label>
  					<input autocomplete="off" autofocus required type="email" class="form-control" name="email" id="email">
  					<i class="icon_mail_alt"></i>
  				</div>
  				<div class="form-group">
  					<label>Password</label>
  					<input type="password" class="form-control" autocomplete="off" name="password" id="password" value="" required>
  					<i class="icon_lock_alt"></i>
            <?php if ($sh['config']['password_complexity_system'] == 1) { ?>
							<ul class="list-unstyled helper-text elAlign_left" style="color: red;">
								<li class="length"><?php echo $sh['lang']['least_characters']; ?></li>
								<li class="lowercase"><?php echo $sh['lang']['contain_lowercase']; ?></li>
								<li class="uppercase"><?php echo $sh['lang']['contain_uppercase']; ?></li>
								<li class="special"><?php echo $sh['lang']['number_special']; ?></li>
							</ul>
						<?php } ?>
  				</div>
          <div class="form-group">
  					<label>Confirm Password</label>
  					<input type="password" class="form-control" autocomplete="off" name="confirm_password" id="confirm_password" required>
  					<i class="icon_lock_alt"></i>
  				</div>
  				<div class="text-center">
            <button type="submit" id="reg_btn" class="btn_1 full-width mb_5 disable_btn tag_wel_btn"><?php echo $sh['lang']['register']?></button>
  				</div>
  			</div>
  		</form>
  		<!--form -->
	</div>
	<!-- /Sign Up Modal End-->

	<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/common_scripts.min.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/common_func.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/assets/validate.js"></script>

    <script src="<?= Sh_LoadAdminLink('plugins/jquery.form.js') ?>"></script>

    <!-- thanks to Ryan Grove for operating https://rawgit.com-->
    <script src="https://cdn.rawgit.com/katmore/gpu-loading-overlay/master/src/loadingOverlay.js"></script>
    <script type="text/javascript">
      function Sh_Ajax_Requests_File(){
        return "<?php echo $sh['config']['site_url'].'/requests.php';?>"
      }

      function PageLoaderFunc(type,duration = 500){

          if (type == 1) {
            let PageLoader = loadingOverlay.activate();
          }else {

            let PageLoader = loadingOverlay.activate();

            if (duration > 1000) {

              setTimeout(function() {
                 loadingOverlay.cancel(PageLoader);
              },duration);

            }else {

              loadingOverlay.cancel(PageLoader);

            }

          }

      }

      <?php if ($sh['page'] == "search-experts") { ?>

        function listViaAJAX() {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=users&s=display_experts',
              method: 'POST',
              data: $("#frmSearch").serialize(),
              success: function(resp) {
                $("#expertsList").html(resp);
              }
          })

        }

        listViaAJAX();


        $(".search_by").keypress(function (e) {

            if (e.keyCode == 13 && e.shiftKey) {
                e.preventDefault();
                listViaAJAX();
            } else if (e.keyCode == 13) {
                e.preventDefault();
                listViaAJAX();
            }
        });


        // function sortList() {
        // 	if($("#order-type").val() == 'asc') {
        // 		$("#order-type").val('desc');
        // 		$(".sortable img").attr("src", "images/sort-up.svg");
        // 	} else {
        // 		$("#order-type").val('asc');
        // 		$(".sortable img").attr("src", "images/sort-down.svg");
        // 	}
        // 	listViaAJAX();
        // }
      <?php } ?>
    </script>

    <?php if ($sh['page'] == "timeline") { ?>
      <!-- include FilePond library -->
      <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>

      <!-- include FilePond plugins -->
      <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>

      <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>

      <!-- include FilePond jQuery adapter -->
      <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

      <script type="text/javascript">
        FilePond.registerPlugin(
          // encodes the file as base64 data
          FilePondPluginFileEncode,

          // validates files based on input type
          FilePondPluginFileValidateType,

          // corrects mobile image orientation
          FilePondPluginImageExifOrientation,

          // previews the image
          FilePondPluginImagePreview,

          // crops the image to a certain aspect ratio
          // FilePondPluginImageCrop,

          // resizes the image to fit a certain size
          // FilePondPluginImageResize,

          // applies crop and resize information on the client
          FilePondPluginImageTransform,

          FilePondPluginFilePoster,

          FilePondPluginImageEdit

        );

        FilePond.create(
          document.getElementById('profile_img'),{
            labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
            imagePreviewHeight: 100,
            // imageCropAspectRatio: '1:1',
            // imageResizeTargetWidth: 200,
            // imageResizeTargetHeight: 200,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleButtonRemoveItemPosition: 'center bottom',
            styleButtonEditItemPosition: 'center bottom',
            allowMultiple: false,
            <?php if($sh['user_profile']['avatar_org'] != ""): ?>
            files: [
                {
                    // the server file reference
                    source: '<?= $sh['user_profile']['avatar_org'] ?>',
                    // set type to local to indicate an already uploaded file
                    options: {
                        type: 'local',
                        file: {
                            name: "<?= $sh['user_profile']['avatar_org'] ?>",
                            size: 3001025,
                            type: 'image/jpg',
                        },

                        metadata: {
                            poster: '<?= $sh['user_profile']['avatar'] ?>',
                        },
                    },

                },
            ]
          <?php endif; ?>
          }
        );

        FilePond.setOptions({
          server: {
            timeout: 7000,
            process: {
                url: Sh_Ajax_Requests_File() + '?f=users&s=update_profile_picture',
                method: 'POST',
                withCredentials: false,
                onload: (response) => {
                    var json = (response);
                    var obj = JSON.parse(json);
                    var status = obj.status;
                    if (status == 200) {

                      $("html, body").animate({ scrollTop: 0 }, 150);

                      $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(obj.message);

                      setTimeout(function () {
                        window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                      }, 1000);

                    }else {
                      $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(obj.message);
                    }
                },
                onerror: (response) => response.data,
                ondata: (formData) => {
                    formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
                    return formData;
                },
            },
            remove: (source, load, error) => {

              const request = new XMLHttpRequest();
              request.open('DELETE', Sh_Ajax_Requests_File() + '?f=users&s=remove_profile_picture&img=' + source);

              request.onload = function () {
                if (request.status == 200) {

                  $("html, body").animate({ scrollTop: 0 }, 150);

                  setTimeout(function () {
                    window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                  }, 1000);

                  $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text("Profile Picture Deleted");

                  load(request.message);
                } else {

                  $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

                  error('oh no');
                }
              };

              request.send();
            }

          }
        });



        // update profile data
        $(function() {

          $('#profileform').ajaxForm({
            url: Sh_Ajax_Requests_File() + '?f=users&s=update_profile_data',
            beforeSend: function() {

              $('#profileform').find('.disable_btn').attr("disabled", true);

            },
            success: function(data) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              if (data.status == 200) {

                $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

                setTimeout(function () {
                  window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                }, 1000);

              } else {

                $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

              }

              $('#profileform').find('.disable_btn').attr("disabled", false);

            }
          });

          $('#Socialprofileform').ajaxForm({
            url: Sh_Ajax_Requests_File() + '?f=users&s=update_profile_data',
            beforeSend: function() {

              $('#Socialprofileform').find('.disable_btn').attr("disabled", true);

            },
            success: function(data) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              if (data.status == 200) {

                $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

                setTimeout(function () {
                  window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                }, 1000);

              } else {

                $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

              }

              $('#Socialprofileform').find('.disable_btn').attr("disabled", false);

            }
          });




          //
          //
          // Expertise Dynamic Form
          //
          //

            //add rows when add button is  clicked
            $(document).on('click', '#add-more-expertise', function(e) {

              var clone, expertiseData;
              e.preventDefault();

              expertiseData = $('#dynamic_expertise');

              clone = expertiseData.children('#expertise-data:first').clone(true);
              // clone.append($('<button>').addClass('btn btn-danger js-remove--exam-row').html('Remove'));

              clone.find('input').val('').attr('id', function() {
                return $(this).attr('id') + '_' + (expertiseData.children('#expertise-data').length + 1);
              });


              return expertiseData.append(clone);
            });

            //remove rows when remove button is clicked
           $(document).on('click', '.remove-expertise', function(e) {
             e.preventDefault();
             return $(this).parent().closest("#expertise-data").remove();
           });


           // Process expertise form
           $('#expertise_form').ajaxForm({
             url: Sh_Ajax_Requests_File() + '?f=users&s=update_expertise_data',
             beforeSend: function() {
               PageLoaderFunc(1);
               $('#expertise_form').find('.disable_btn').attr("disabled", true);

             },
             success: function(data) {

               $("html, body").animate({ scrollTop: 0 }, 150);

               if (data.status == 200) {

                 alert("hello")
                 $('#showDataMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

                 setTimeout(function () {
                   window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                 }, 1000);

               } else {

                 alert("redredf")

                 $('#showDataMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

               }

               PageLoaderFunc(0);
               $('#expertise_form').find('.disable_btn').attr("disabled", false);

             }
           });


           //
           //
           //
           // PROFESSIONAL ASSOCIATION
           //
           //
           //
           //
           $(document).on('click', '#add-more-professional', function(e) {

             var clone, expertiseData;
             e.preventDefault();

             expertiseData = $('#dynamic_professional');

             clone = expertiseData.children('#professional-data:first').clone(true);
             // clone.append($('<button>').addClass('btn btn-danger js-remove--exam-row').html('Remove'));

             clone.find('input').val('').attr('id', function() {
               return $(this).attr('id') + '_' + (expertiseData.children('#professional-data').length + 1);
             });


             return expertiseData.append(clone);
           });

           //remove rows when remove button is clicked
          $(document).on('click', '.remove-professional', function(e) {
            e.preventDefault();
            return $(this).parent().closest("#professional-data").remove();
          });


          // Process professional form
          $('#professional_form').ajaxForm({
            url: Sh_Ajax_Requests_File() + '?f=users&s=update_professional_data',
            beforeSend: function() {
              PageLoaderFunc(1);
              $('#professional_form').find('.disable_btn').attr("disabled", true);

            },
            success: function(data) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              if (data.status == 200) {

                $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

                setTimeout(function () {
                  window.location.href = "<?= Sh_Link($_GET['u']) ?>";
                }, 1000);

              } else {

                $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

              }

              PageLoaderFunc(0);
              $('#professional_form').find('.disable_btn').attr("disabled", false);

            }
          });


          //
          //
          //
          // PREVIOUS WORK
          //
          //
          //
          //
          $(document).on('click', '#add-more-previous_work', function(e) {

            var clone, expertiseData;
            e.preventDefault();

            expertiseData = $('#dynamic_previous_work');

            clone = expertiseData.children('#previous_work-data:first').clone(true);
            // clone.append($('<button>').addClass('btn btn-danger js-remove--exam-row').html('Remove'));

            clone.find('input').val('').attr('id', function() {
              return $(this).attr('id') + '_' + (expertiseData.children('#previous_work-data').length + 1);
            });


            return expertiseData.append(clone);
          });

          //remove rows when remove button is clicked
         $(document).on('click', '.remove-previous_work', function(e) {
           e.preventDefault();
           return $(this).parent().closest("#previous_work-data").remove();
         });

         // Process previous work form
         $('#previous_work_form').ajaxForm({
           url: Sh_Ajax_Requests_File() + '?f=users&s=update_previous_work_data',
           beforeSend: function() {

             PageLoaderFunc(1);

             $('#previous_work_form').find('.disable_btn').attr("disabled", true);

           },
           success: function(data) {

             $("html, body").animate({ scrollTop: 0 }, 150);

             if (data.status == 200) {

               $('#showMsg').removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

               setTimeout(function () {
                 window.location.href = "<?= Sh_Link($_GET['u']) ?>";
               }, 1000);

             } else {

               $('#showMsg').removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

             }

             PageLoaderFunc(0);
             $('#previous_work_form').find('.disable_btn').attr("disabled", false);

           }
         });


        });
      </script>
    <?php } ?>



    <?php if($sh['page'] == 'user-form' || $sh['page'] == 'review'){ ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript">

      $(".js-range-slider").ionRangeSlider({
        skin: "round",
        type: "single",
        max: 10,
        min: 0,
      });

      $(".js-range-slider").on("change", function () {
        var $inp = $(this);
        var v = $inp.prop("value");
      });

      $(function() {

        $('#myform').ajaxForm({
          url: Sh_Ajax_Requests_File() + '?f=users&s=review_request',
          beforeSend: function() {

            working = true;
            $('#myform').find('.disable_btn').attr("disabled", true);

          },
          success: function(data) {

            $("html, body").animate({ scrollTop: 0 }, 150);

            if (data.status == 200) {

              $('#myform').find("#errs").removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

              setTimeout(function () {
                window.location.href = data.location;
              }, 1000);

            } else {

              $('#myform').find("#errs").removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

            }

            $('#myform').find('.disable_btn').attr("disabled", false);

          }
        });


      });

    </script>
    <!-- <script src="<?php echo $sh['config']['theme_url'];?>/javascript/specific_review.js"></script> -->
    <?php } ?>

    <?php if($sh['page'] == 'timeline'){ ?>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/sticky_sidebar.min.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/specific_detail.min.js"></script>

    <script type="text/javascript">
    $(function() {



      $('#sendContact').ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=users&s=send_contact_msg',
        beforeSend: function() {
          PageLoaderFunc(1);
          working = true;
          $('#sendContact').find('.disable_btn').attr("disabled", true);

        },
        success: function(data) {

          PageLoaderFunc(0);

          $("html, body").animate({ scrollTop: 0 }, 150);

          if (data.status == 200) {

            $('#sendContact').find("#errs").removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

          } else {

            $('#sendContact').find("#errs").removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

          }

          // $('#sendContact').find('.disable_btn').attr("disabled", false);

        }
      });

    });
    </script>
    <?php } ?>

    <?php if($sh['page'] == 'search-experts'){ ?>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/sticky_sidebar.min.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/specific_listing.min.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/isotope.min.js"></script>
    <script>
		$(window).on("load",function(){
		  var $container = $('.isotope-wrapper');
		  $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
		});
		$('.switch-field').on( 'click', 'input', 'change', function(){
		  var selector = $(this).attr('data-filter');
		  $('.isotope-wrapper').isotope({ filter: selector });
		});
	</script>
  <?php } ?>

    <script>


    <?php if ($sh['config']['password_complexity_system'] == 1) { ?>
        (function(){
        	var helperText = {
        		charLength: document.querySelector('.helper-text .length'),
        		lowercase: document.querySelector('.helper-text .lowercase'),
        		uppercase: document.querySelector('.helper-text .uppercase'),
        		special: document.querySelector('.helper-text .special')
        	};
        	var password = document.querySelector('#password');
        	var pattern = {
        		charLength: function() {
        			if( password.value.length >= 6 ) {
        				return true;
        			}
        		},
        		lowercase: function() {
        			var regex = /^(?=.*[a-z]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		},
        		uppercase: function() {
        			var regex = /^(?=.*[A-Z]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		},
        		special: function() {
        			var regex = /^(?=.*[0-9_\W]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		}
        	};
        	password.addEventListener('keyup', function (){
          	    $('.helper-text').slideDown('slow', function() {

          	    });
        		patternTest( pattern.charLength(), helperText.charLength );
        		patternTest( pattern.lowercase(), helperText.lowercase );
        		patternTest( pattern.uppercase(), helperText.uppercase );
        		patternTest( pattern.special(), helperText.special );
        		if( hasClass(helperText.charLength, 'valid') &&
        			  hasClass(helperText.lowercase, 'valid') &&
        			 	hasClass(helperText.uppercase, 'valid') &&
        			  hasClass(helperText.special, 'valid')
        		) {
        			addClass(password.parentElement, 'valid');
        		}
        		else {
        			removeClass(password.parentElement, 'valid');
        		}
        	});
        	function patternTest(pattern, response) {
        		if(pattern) {
        			addClass(response, 'valid');
        		}
        		else {
        			removeClass(response, 'valid');
        		}
        	}
        	function addClass(el, className) {
        		if (el.classList) {
        			el.classList.add(className);
        		}
        		else {
        			el.className += ' ' + className;
        		}
        	}
        	function removeClass(el, className) {
        		if (el.classList)
        				el.classList.remove(className);
        			else
        				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        	}
        	function hasClass(el, className) {
        		if (el.classList) {
        			console.log(el.classList);
        			return el.classList.contains(className);
        		}
        		else {
        			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
        		}
        	}
        })();
    <?php } ?>

    // LOGIN
    var working = false;
    var $this = $('#login_user');
    var $state = $this.find('.errors');
    var $login_anim = $('.tag_auth_animation');

    // REGISTER
    var $this_reg = $('#reg_user');
    var $state_err = $this_reg.find('.errors');
    var $state2 = $this_reg.find('.success');

    $(function() {

      $('#login_user').ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=login',
        beforeSend: function() {
        working = true;
        PageLoaderFunc(1);
        $this.find('.disable_btn').attr("disabled", true);
        },
        success: function(data) {

          if (data.status == 200 || data.status == 600) {
            $login_anim.removeClass('hidden');
            setTimeout(function () {
              window.location.href = data.location;
            }, 1000);
          } else {
            var errors = data.errors.join("<br>");
            $state.html(errors);
          }
          working = false;
          PageLoaderFunc(0);
        $this.find('.disable_btn').attr("disabled", false);
        }
      });



      $this_reg.ajaxForm({
        		url: Sh_Ajax_Requests_File() + '?f=register&s=register',
        		beforeSend: function() {
        			<?php if ($sh['config']['password_complexity_system'] == 1) { ?>
        				if ($('.helper-text .length').hasClass('valid') && $('.helper-text .lowercase').hasClass('valid') && $('.helper-text .uppercase').hasClass('valid') && $('.helper-text .special').hasClass('valid')) {
        					working = true;
                  PageLoaderFunc(1);
        					$this_reg.find('#reg_btn').html('<i class="fa fa-spin fa-spinner"> </i> Please wait..').attr("disabled", true);
        				}
        				else{
        					$state_err.html("<?php echo($sh['lang']['complexity_requirements']) ?>");
        					$("html, body").animate({ scrollTop: 0 }, 150);
        					return false;
        				}
        			<?php } else{ ?>
        				working = true;
        				$this_reg.find('#reg_btn').html('<i class="fa fa-spin fa-spinner"> </i> Please wait..').attr("disabled", true);
        			<?php } ?>
        		},
            success: function(data) {

        		  if (data.status == 200) {

    		        $("html, body").animate({ scrollTop: 0 }, 150);
    		        $state_err.html("");
    		        $state2.html(data.message);

                $('.tag_auth_animation').removeClass('hidden');

                if (data.typeReg == "autoactive") {
                  setTimeout(function () {
          					window.location.href = data.location;
          				}, 2000);
                }

        			}  else {

        				$this_reg.find('#reg_btn').text('<?php echo $sh['lang']['register']?>').attr("disabled", false);
        				$state_err.html(data.errors);
        				$state2.html("");
        				$("html, body").animate({ scrollTop: 0 }, 150);

        			}
              PageLoaderFunc(0);
        			working = false;
        		}

      });



      $('#submitnewsletter_form').ajaxForm({
    		url: Sh_Ajax_Requests_File() + '?f=subscribe&s=subscribe',
    		beforeSend: function() {
    			working = true;
          PageLoaderFunc(1);
          $('#submitnewsletter_form').find('button').attr("disabled", true);
    		},
    		success: function(data) {
    			if (data.status == 200){

            $('#message_success').text(data.message);
            $('#message_errors').text("");
            setTimeout(function () {
              window.location.href = data.location;
            }, 2000);

    			} else {
            // alert(data.message)
    				$('#submitnewsletter_form').find('button').attr("disabled", false);
    				$('#message_errors').text(data.message);
            $('#message_success').text("");
    			}

          PageLoaderFunc(0);
    			working = false;
    		}
    	});




      //
      //
      //
      //



    });

    </script>
  <?php } ?>

  <?php if($sh['page'] == "contact-us"){ ?>
  <script type="text/javascript">
  // Contact page script
  $('#sendRealContact').ajaxForm({
    url: Sh_Ajax_Requests_File() + '?f=users&s=send_real_contact_msg',
    beforeSend: function() {

      PageLoaderFunc(1);

      working = true;
      $('#sendRealContact').find('.disable_btn').attr("disabled", true);

    },
    success: function(data) {

      PageLoaderFunc(0);

      $("html, body").animate({ scrollTop: 0 }, 150);

      if (data.status == 200) {

        $("#message-contact").removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

      } else {

        $("#message-contact").removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

      }

      // $('#sendContact').find('.disable_btn').attr("disabled", false);

    }
  });
  </script>
  <?php } ?>

  <!-- nfdbjfj -->
  <?php if($sh['page'] == 'user-form'){ ?>
    <script type="text/javascript">

      var functType = "<?= $sh['pg_type'] ?>";
      var working = false;
      var $this2 = $('#'+functType+"_form");


      $(function() {

        $this2.ajaxForm({
          url: Sh_Ajax_Requests_File() + '?f=page_type&s='+functType,
          beforeSend: function() {
            working = true;
            $this2.find('.disable_btn').attr("disabled", true);
          },
          success: function(data) {

            if (data.status == 200) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              $this2.find("#errs").removeClass('alert alert-danger').addClass('alert alert-success').text(data.message);

              // setTimeout(function () {
              //   window.location.href = data.location;
              // }, 1000);

            } else {

              $this2.find("#errs").removeClass('alert alert-success').addClass('alert alert-danger').text(data.message);

            }

            working = false;
            $this2.find('.disable_btn').attr("disabled", false);

          }
        });



      });
    </script>

   <?php } ?>
</body>
</html>
