<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="<?php echo $sh['title'];?>">
    <meta name="description" content="<?php echo $sh['description'];?>">
    <meta name="keywords" content="<?php echo $sh['keywords'];?>">
    <meta name="author" content="Surecoder">
    <title><?php echo $sh['title'];?></title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="<?php echo $sh['config']['theme_url'];?>/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="<?php echo $sh['config']['theme_url'];?>/images/apple-touch-icon-144x144-precomposed.png">


    <!-- BASE CSS -->
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/bootstrap_customized.min.css" rel="stylesheet">
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="<?php echo $sh['config']['theme_url'];?>/stylesheet/account.css" rel="stylesheet">

</head>
<style>

  .valid {
    color: green;
    font-size: 13px;
    font-weight: 500;
  }

  .elAlign_left {
      text-align: left;
  }

  .list-unstyled {
      padding-left: 0;
      list-style: none;
  }

  .hidden{
    display: none !important;
  }

  .tag_auth_box .errors {
      margin: 0 0 15px;
      color: #F44336;
      font-size: 15px;
      text-align: center;
  }

  .valign{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .tag_auth_animation svg {
      width: 50px;
      height: 50px;
      margin: 0 0 15px;
  }

  .tag_auth_animation {
      font-size: 18px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 1;
      border-radius: 10px;
      justify-content: center;
      flex-direction: column;
  }
</style>
<body id="login_bg">

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<div id="login">

    <?= $sh['content'] ?>

  </div>
	<!-- /login -->

	<!-- COMMON SCRIPTS -->
   	<script src="<?php echo $sh['config']['theme_url'];?>/javascript/common_scripts.min.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/common_func.js"></script>
    <script src="<?php echo $sh['config']['theme_url'];?>/javascript/assets/validate.js"></script>

    <script src="<?= Sh_LoadAdminLink('plugins/jquery.form.js') ?>"></script>

    <script>
    function Sh_Ajax_Requests_File(){
      return "<?php echo $sh['config']['site_url'].'/requests.php';?>"
    }

    <?php if ($sh['config']['password_complexity_system'] == 1) { ?>
        (function(){
        	var helperText = {
        		charLength: document.querySelector('.helper-text .length'),
        		lowercase: document.querySelector('.helper-text .lowercase'),
        		uppercase: document.querySelector('.helper-text .uppercase'),
        		special: document.querySelector('.helper-text .special')
        	};
        	var password = document.querySelector('#password');
        	var pattern = {
        		charLength: function() {
        			if( password.value.length >= 6 ) {
        				return true;
        			}
        		},
        		lowercase: function() {
        			var regex = /^(?=.*[a-z]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		},
        		uppercase: function() {
        			var regex = /^(?=.*[A-Z]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		},
        		special: function() {
        			var regex = /^(?=.*[0-9_\W]).+$/;
        			if( regex.test(password.value) ) {
        				return true;
        			}
        		}
        	};
        	password.addEventListener('keyup', function (){
          	    $('.helper-text').slideDown('slow', function() {

          	    });
        		patternTest( pattern.charLength(), helperText.charLength );
        		patternTest( pattern.lowercase(), helperText.lowercase );
        		patternTest( pattern.uppercase(), helperText.uppercase );
        		patternTest( pattern.special(), helperText.special );
        		if( hasClass(helperText.charLength, 'valid') &&
        			  hasClass(helperText.lowercase, 'valid') &&
        			 	hasClass(helperText.uppercase, 'valid') &&
        			  hasClass(helperText.special, 'valid')
        		) {
        			addClass(password.parentElement, 'valid');
        		}
        		else {
        			removeClass(password.parentElement, 'valid');
        		}
        	});
        	function patternTest(pattern, response) {
        		if(pattern) {
        			addClass(response, 'valid');
        		}
        		else {
        			removeClass(response, 'valid');
        		}
        	}
        	function addClass(el, className) {
        		if (el.classList) {
        			el.classList.add(className);
        		}
        		else {
        			el.className += ' ' + className;
        		}
        	}
        	function removeClass(el, className) {
        		if (el.classList)
        				el.classList.remove(className);
        			else
        				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        	}
        	function hasClass(el, className) {
        		if (el.classList) {
        			console.log(el.classList);
        			return el.classList.contains(className);
        		}
        		else {
        			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
        		}
        	}
        })();
    <?php } ?>

    // LOGIN
    var working = false;
    var $this = $('#login_user');
    var $state = $this.find('.errors');
    var $login_anim = $('.tag_auth_animation');


    // REGISTER
    var $this_reg = $('#reg_user');
    var $state2 = $this.find('.success');

    $(function() {

      $('#login_user').ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=login',
        beforeSend: function() {
        working = true;
        $this.find('.disable_btn').attr("disabled", true);
        },
        success: function(data) {
          if (data.status == 200 || data.status == 600) {
            $login_anim.removeClass('hidden');
            setTimeout(function () {
              window.location.href = data.location;
            }, 1000);
          } else {
            var errors = data.errors.join("<br>");
            $state.html(errors);
          }
          working = false;
        $this.find('.disable_btn').attr("disabled", false);
        }
      });




      $this_reg.ajaxForm({
        		url: Sh_Ajax_Requests_File() + '?f=register&s=register',
        		beforeSend: function() {
        			<?php if ($sh['config']['password_complexity_system'] == 1) { ?>
        				if ($('.helper-text .length').hasClass('valid') && $('.helper-text .lowercase').hasClass('valid') && $('.helper-text .uppercase').hasClass('valid') && $('.helper-text .special').hasClass('valid')) {
        					working = true;
        					$this_reg.find('#reg_btn').html('<i class="fa fa-spin fa-spinner"> </i> Please wait..').attr("disabled", true);
        				}
        				else{
        					$state_err.html("<?php echo($sh['lang']['complexity_requirements']) ?>");
        					$("html, body").animate({ scrollTop: 0 }, 150);
        					return false;
        				}
        			<?php } else{ ?>
        				working = true;
        				$this_reg.find('#reg_btn').html('<i class="fa fa-spin fa-spinner"> </i> Please wait..').attr("disabled", true);
        			<?php } ?>
        		},
            success: function(data) {

        		  if (data.status == 200) {

    		        $("html, body").animate({ scrollTop: 0 }, 150);
    		        $state_err.html("");
    		        $state2.html(data.message);

                $('.tag_auth_animation').removeClass('hidden');

                if (data.typeReg == "autoactive") {
                  setTimeout(function () {
          					window.location.href = data.location;
          				}, 2000);
                }


        			}  else {

        				$this_reg.find('#reg_btn').text('<?php echo $sh['lang']['register']?>').attr("disabled", false);
        				$state_err.html(data.errors);
        				$state2.html("");
        				$("html, body").animate({ scrollTop: 0 }, 150);

        			}

        			working = false;
        		}

      });



      $('#forgot-form').ajaxForm({
    		url: Sh_Ajax_Requests_File() + '?f=recover',
    		beforeSend: function() {
    			working = true;
    			$('#forgot-form').find('.disable_btn').attr("disabled", true);
    		},
    		success: function(data) {
    			if (data.status == 200) {
    				$('.tag_auth_animation').removeClass('hidden');
    			} else {
    				$('#forgot-form').find('.disable_btn').attr("disabled", false);
    				$('#forgot-form').find('.errors').html(data.errors);
    			}
    			working = false;
    		}
    	});


      $('#confirm-form').ajaxForm({
    		url: Sh_Ajax_Requests_File() + '?f=confirm_user_unusal_login',
    		beforeSend: function() {
    			working = true;
          $('#confirm-form').find('button').attr("disabled", true);
    		},
    		success: function(data) {
    			if (data.status == 200) {
    				$('.tag_auth_animation').removeClass('hidden');

    				setTimeout(function () {
    					window.location.href = data.location;
    				}, 1000);

    			} else {
    				$('#confirm-form').find('button').attr("disabled", false);
    				$('#confirm-form').find('.errors').html(data.errors);
    			}
    			working = false;
    		}
    	});


      $('#forgot-reset').ajaxForm({
      		url: Sh_Ajax_Requests_File() + '?f=reset_password',
      		beforeSend: function() {
      			<?php if ($sh['config']['password_complexity_system'] == 1) { ?>
      				if ($('.helper-text .length').hasClass('valid') && $('.helper-text .lowercase').hasClass('valid') && $('.helper-text .uppercase').hasClass('valid') && $('.helper-text .special').hasClass('valid')) {
      					working = true;
      					$('#forgot-reset').find('button').attr("disabled", true);
      				}
      				else{
      					$('#forgot-reset').find('.errors').html("<?php echo($sh['lang']['complexity_requirements']) ?>");
      					return false;
      				}
      			<?php } else{ ?>
      				working = true;
      				$('#forgot-reset').find('button').attr("disabled", true);
      			<?php } ?>
      		},
      		success: function(data) {
      			if (data.status == 200 || data.status == 600) {
      				$('.tag_auth_animation').removeClass('hidden');
      				setTimeout(function () {
      					window.location.href = data.location;
      				}, 1000);
      			} else {
      				$('#forgot-reset').find('button').attr("disabled", false);
      				$('#forgot-reset').find('.errors').html(data.errors);
      			}
      			working = false;
      		}
      	});

    });


    </script>

</body>
</html>
