
<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Prevent Login System</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="lock-settings-alert"></div>

                  <form class="lock-settings" method="POST">

                    <label for="prevent_system">
                      Prevent Login System
                    </label>
                    <div class="form-group">
                        <input type="radio" name="prevent_system" id="prevent_system-enabled" value="1" <?php echo ($sh['config']['prevent_system'] == 1) ? 'checked': '';?> >
                        <label for="prevent_system-enabled">Enabled</label>
                        <input type="radio" name="prevent_system" id="prevent_system-disabled" value="0" <?php echo ($sh['config']['prevent_system'] == 0) ? 'checked': '';?> >
                        <label for="prevent_system-disabled" class="m-l-20">Disabled</label>
                    </div>

                    <div class="form-group">
                      <label for="bad_login_limit">Bad Login Limit</label>
                        <div class="input-group mb-4">
                        <input type="text" id="bad_login_limit" name="bad_login_limit" value="<?php echo $sh['config']['bad_login_limit']?>" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="lock_time">Lockout Time (Minutes)</label>
                        <div class="input-group mb-4">
                        <input type="text" id="lock_time" name="lock_time" value="<?php echo $sh['config']['lock_time']?>" class="form-control">
                      </div>
                    </div>

                    <hr>
                    <label for="login_type_system">
                      Login Type System
                    </label>
                    <div class="form-group">
                        <input type="radio" name="login_type_system" id="login_type_system-enabled" value="1" <?php echo ($sh['config']['login_type_system'] == 1) ? 'checked': '';?> >
                        <label for="prevent_system-enabled">Pop Up</label>
                        <input type="radio" name="login_type_system" id="login_type_system-disabled" value="0" <?php echo ($sh['config']['login_type_system'] == 0) ? 'checked': '';?> >
                        <label for="prevent_system-disabled" class="m-l-20">Redirect</label>
                    </div>

                    <label for="register_type_system">
                      Registration Type System
                    </label>
                    <div class="form-group">
                        <input type="radio" name="register_type_system" id="register_type_system-enabled" value="1" <?php echo ($sh['config']['register_type_system'] == 1) ? 'checked': '';?> >
                        <label for="prevent_system-enabled">Pop Up</label>
                        <input type="radio" name="register_type_system" id="register_type_system-disabled" value="0" <?php echo ($sh['config']['register_type_system'] == 0) ? 'checked': '';?> >
                        <label for="prevent_system-disabled" class="m-l-20">Redirect</label>
                    </div>


                    <div class="form-group">
                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary " id="" >Save</button>
                    </div>

                  </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>User Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="user-settings-alert"></div>

                  <form class="user-settings" method="POST">

                    <label for="user_registration">User Registration <span class="black" data-toggle="popover" data-trigger="hover" data-content="Allow users to create accounts"></span></label>
                    <div class="form-group">
                        <input type="radio" name="user_registration" id="user_registration-enabled" value="1" <?php echo ($sh['config']['user_registration'] == 1) ? 'checked': '';?>>
                        <label for="user_registration-enabled">Enabled</label>
                        <input type="radio" name="user_registration" id="user_registration-disabled" value="0" <?php echo ($sh['config']['user_registration'] == 0) ? 'checked': '';?>>
                        <label for="user_registration-disabled" class="m-l-20">Disabled</label>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="user_limit" name="user_limit" class="form-control" value="<?php echo $sh['config']['user_limit']?>">
                            <label class="form-label">Registration Limit For Per IP p/hour </label>
                        </div>
                    </div>
                    <hr>
                    <label for="login_auth">Unusual Login <span class="black" data-toggle="popover" data-trigger="hover" data-content="Send confirmation link when user logins from new location"><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="login_auth" id="login_auth-enabled" value="1" <?php echo ($sh['config']['login_auth'] == 1) ? 'checked': '';?>>
                          <label for="login_auth-enabled">Enabled</label>
                          <input type="radio" name="login_auth" id="login_auth-disabled" value="0" <?php echo ($sh['config']['login_auth'] == 0) ? 'checked': '';?>>
                          <label for="login_auth-disabled" class="m-l-20">Disabled</label>
                      </div>

                      <label for="login_auth">Send Two-factor authentication code to</label>
                      <div class="form-group">
                          <input type="radio" name="two_factor_type" id="two_factor_type-email" value="email" <?php echo ($sh['config']['two_factor_type'] == 'email') ? 'checked': '';?>>
                          <label for="two_factor_type-email">Email</label>
                          <input type="radio" name="two_factor_type" id="two_factor_type-phone" value="phone" <?php echo ($sh['config']['two_factor_type'] == 'phone') ? 'checked': '';?>>
                          <label for="two_factor_type-phone" class="m-l-20">Phone</label>
                          <input type="radio" name="two_factor_type" id="two_factor_type-both" value="both" <?php echo ($sh['config']['two_factor_type'] == 'both') ? 'checked': '';?>>
                          <label for="two_factor_type-both" class="m-l-20">Both</label>
                      </div>
                      <hr>
                      <label for="emailValidation">Account Validation <span class="black" data-toggle="popover" data-trigger="hover" data-content="Send activation link when user has registered"><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="emailValidation" id="emailValidation-enabled" value="1" <?php echo ($sh['config']['emailValidation'] == 1) ? 'checked': '';?>>
                          <label for="emailValidation-enabled">Enabled</label>
                          <input type="radio" name="emailValidation" id="emailValidation-disabled" value="0" <?php echo ($sh['config']['emailValidation'] == 0) ? 'checked': '';?>>
                          <label for="emailValidation-disabled" class="m-l-20">Disabled</label>
                      </div>

                      <hr>
                      <div class="col-xl-12 col-md-12 col-sm-12 pb-2">
                          <h5>User Registration Settings</h5>
                      </div>
                      <div class="form-group">
                        <label for="password_complexity_system">Password complexity requirements<span class="black" data-toggle="popover" data-trigger="hover" data-content="Make Registration Password complexity"><i class="fa fa-question-circle fa-fw"></i></span></label>
                        <div class="form-group">
                            <input type="radio" name="password_complexity_system" id="password_complexity_system-enabled" value="1" <?php echo ($sh['config']['password_complexity_system'] == 1) ? 'checked': '';?>>
                            <label for="password_complexity_system-enabled">Enabled</label>
                            <input type="radio" name="password_complexity_system" id="password_complexity_system-disabled" value="0" <?php echo ($sh['config']['password_complexity_system'] == 0) ? 'checked': '';?>>
                            <label for="password_complexity_system-disabled" class="m-l-20">Disabled</label>
                        </div>


                      </div>


                      <div class="col-xl-12 col-md-12 col-sm-12 pb-2">
                          <h5>User Rating System</h5>
                      </div>
                      <div class="form-group">
                        <label for="user_rating_system">User Rating System Activator<span class="black" data-toggle="popover" data-trigger="hover" data-content="User Rating System Activation"><i class="fa fa-question-circle fa-fw"></i></span></label>
                        <div class="form-group">
                            <input type="radio" name="user_rating_system" id="user_rating_system-enabled" value="1" <?php echo ($sh['config']['user_rating_system'] == 1) ? 'checked': '';?>>
                            <label for="user_rating_system-enabled">Enabled</label>
                            <input type="radio" name="user_rating_system" id="user_rating_system-disabled" value="0" <?php echo ($sh['config']['user_rating_system'] == 0) ? 'checked': '';?>>
                            <label for="user_rating_system-disabled" class="m-l-20">Disabled</label>
                        </div>


                      </div>

                      <div class="form-group">
                        <label for="user_rating_system">Automatic Approved User Reviews/Ratings<span class="black" data-toggle="popover" data-trigger="hover" data-content="Automatic Approved User Reviews/Ratings"><i class="fa fa-question-circle fa-fw"></i></span></label>
                        <div class="form-group">
                            <input type="radio" name="automatic_approve_reviews" id="automatic_approve_reviews-enabled" value="1" <?php echo ($sh['config']['automatic_approve_reviews'] == 1) ? 'checked': '';?>>
                            <label for="automatic_approve_reviews-enabled">Yes</label>
                            <input type="radio" name="automatic_approve_reviews" id="user_rating_system-disabled" value="0" <?php echo ($sh['config']['automatic_approve_reviews'] == 0) ? 'checked': '';?>>
                            <label for="automatic_approve_reviews-disabled" class="m-l-20">No, Manually</label>
                        </div>


                      </div>

                      <div class="form-group">
                        <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                        <button type="submit" class="btn btn-primary " id="" >Save</button>
                      </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>General Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="general-settings-alert"></div>
                  <form class="general-settings" method="POST">
                      <label for="maintenance_mode">Maintenance Mode <span class="black" data-toggle="popover" data-trigger="hover" data-content="Turn the whole site under Maintenance. You can get the site back by visiting /admincp or /admin-cp"><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="maintenance_mode" id="maintenance_mode-enabled" value="1" <?php echo ($sh['config']['maintenance_mode'] == 1) ? 'checked': '';?>>
                          <label for="maintenance_mode-enabled">Enabled</label>
                          <input type="radio" name="maintenance_mode" id="maintenance_mode-disabled" value="0" <?php echo ($sh['config']['maintenance_mode'] == 0) ? 'checked': '';?>>
                          <label for="maintenance_mode-disabled" class="m-l-20">Disabled</label>
                      </div>
                      <label for="useSeoFrindly">SEO Friendly URL <span class="black" data-toggle="popover" data-trigger="hover" data-content="Enable smooth loading to save bandwidths (Recommended for shared hosting)"><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="useSeoFrindly" id="useSeoFrindly-enabled" value="1" <?php echo ($sh['config']['useSeoFrindly'] == 1) ? 'checked': '';?>>
                          <label for="useSeoFrindly-enabled">Enabled</label>
                          <input type="radio" name="useSeoFrindly" id="useSeoFrindly-disabled" value="0" <?php echo ($sh['config']['useSeoFrindly'] == 0) ? 'checked': '';?>>
                          <label for="useSeoFrindly-disabled" class="m-l-20">Disabled</label>
                      </div>
                      <label for="developers_page">Developers (API System) <span class="black" data-toggle="popover" data-trigger="hover" data-content="Show /developers page to all users for API requests."><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="developers_page" id="developers_page-enabled" value="1" <?php echo ($sh['config']['developers_page'] == 1) ? 'checked': '';?>>
                          <label for="developers_page-enabled">Enabled</label>
                          <input type="radio" name="developers_page" id="developers_page-disabled" value="0" <?php echo ($sh['config']['developers_page'] == 0) ? 'checked': '';?>>
                          <label for="developers_page-disabled" class="m-l-20">Disabled</label>
                      </div>
                      <label for="profile_privacy">Welcome Page Users <span class="black" data-toggle="popover" data-trigger="hover" data-content="Allow non logged users to view users profiles in welcome page"><i class="fa fa-question-circle fa-fw"></i></span></label>
                      <div class="form-group">
                          <input type="radio" name="profile_privacy" id="profile_privacy-enabled" value="1" <?php echo ($sh['config']['profile_privacy'] == 1) ? 'checked': '';?>>
                          <label for="profile_privacy-enabled">Enabled</label>
                          <input type="radio" name="profile_privacy" id="profile_privacy-disabled" value="0" <?php echo ($sh['config']['profile_privacy'] == 0) ? 'checked': '';?>>
                          <label for="profile_privacy-disabled" class="m-l-20">Disabled</label>
                      </div>
                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                  </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Colour and Formatting</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="color-settings-alert"></div>

                  <form class="color-settings" method="POST">

                    <label for="prevent_system">
                      Primary Colour
                    </label>
                    <div class="form-group">
                      <input data-coloris type="text" id="primary_color" name="primary_color" value="<?php echo $sh['config']['primary_color']?>" class="form-control">
                    </div>

                    <label for="prevent_system">
                      Secondary Colour
                    </label>
                    <div class="form-group">
                      <input data-coloris type="text" id="secondary_color" name="secondary_color" value="<?php echo $sh['config']['secondary_color']?>" class="form-control">
                    </div>

                    <label for="prevent_system">
                      Text Colour
                    </label>
                    <div class="form-group">
                      <input data-coloris type="text" id="text_color" name="text_color" value="<?php echo $sh['config']['text_color']?>" class="form-control">
                    </div>

                    <label for="prevent_system">
                      Button Primary Colour
                    </label>
                    <div class="form-group">
                      <input data-coloris type="text" id="button_primary_color" name="button_primary_color" value="<?php echo $sh['config']['button_primary_color']?>" class="form-control">
                    </div>

                    <label for="prevent_system">
                      Button Secondary Colour
                    </label>
                    <div class="form-group">
                      <input data-coloris type="text" id="button_secondary_color" name="button_secondary_color" value="<?php echo $sh['config']['button_secondary_color']?>" class="form-control">
                    </div>


                    <div class="form-group">
                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary " id="" >Save</button>
                    </div>

                  </form>
                </div>
            </div>
        </div>
    </div>


</div>


<script>
  $(function() {

    // prevent login Settings
    var form_lock_settings = $('form.lock-settings');
    form_lock_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_lock_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_lock_settings.find('button').text('Save');
                $('.lock-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.lock-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });


    // Color Settings
    var form_color_settings = $('form.color-settings');
    form_color_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_color_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_color_settings.find('button').text('Save');
                $('.color-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.color-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });


    var form_user_settings = $('form.user-settings');
    form_user_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_user_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_user_settings.find('button').text('Save');
                $('.user-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.user-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

    var form_general_settings = $('form.general-settings');
    form_general_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_general_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
            	form_general_settings.find('button').text('Save');
            	$('.general-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
            	setTimeout(function () {
            		$('.general-settings-alert').removeClass('alert alert-success').empty();
            	}, 2000);
            }
        }
    });


  });

</script>
