
<div class="layout-px-spacing">

    <div class="seperator-header">
        <h4 class="">All Pages</h4>
    </div>

    <div class="action-btn layout-top-spacing mb-5">
        <a href="create-page" class="btn btn-primary">Create New Page</a>
    </div>

    <div class="row layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <table id="zero-config" class="table style-1 dt-table-hover non-hover">
                        <thead>
                            <tr>
                                <th class=""> Record no. </th>
                                <th>Page Name</th>
                                <th>Keywords</th>
                                <th class="">Status</th>
                                <th class="text-center dt-no-sorting">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <?php
                            $pages = getAllPageListData();

                            foreach ($pages as $pro) {
                          ?>
                            <tr id="page_<?= $pro['id'] ?>">
                                <td> <?= $pro['id'] ?></td>
                                <td class="user-name"><?= ucfirst($pro['page_title']) ?></td>
                                <td><?= $pro['page_keyword'] ?></td>
                                <td>
                                    <div class="d-flex">
                                        <span class="shadow-none badge badge-<?= ($pro['status'] == 1 ) ? 'success' : 'danger' ?>"><?= ($pro['status'] == 1) ? 'Active' : 'In-Active' ?></span>
                                    </div>
                                </td>
                                <td class="text-center">

                                    <a href="<?= $sh['config']['site_url'].'/admin-cp/edit-page?id='.$pro['id'] ?>" >
                                      <i class="fa fa-pencil"></i> Edit
                                    </a>
                                    &nbsp;&nbsp;

                                      <a href="javascript:void(0);" onclick="deletePage('<?= $pro['id'] ?>','<?= $sh['user']['user_id'] ?>')">
                                        <i class="fa fa-trash"></i> Delete
                                      </a>

                                </td>
                            </tr>
                          <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>






<script>


  // delete Page
  function deletePage(id,user_id){

      swal({
        title: "Page Deletion!",
        text: "Are you sure you want to delete page?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=page_creator&s=delete_page&page_id='+id+'&user_id='+user_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#page_"+id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });


  }


</script>
