.search_trends {
 color:#fff
}
.search_trends h5 {
 font-size:14px;
 font-size:0.875rem;
 display:inline-block;
 color:#fff
}
.search_trends ul {
 list-style:none;
 display:inline-block;
 margin:10px 0 0 0;
 padding:0
}
.search_trends ul li {
 display:inline-block
}
.search_trends ul li:after {
 content:", "
}
.search_trends ul li:last-child:after {
 content:" "
}
.search_trends ul li a {
 color:#fff
}
.search_trends ul li a:hover {
 text-decoration:underline
}
.owl-theme.categories_carousel {
 margin-top:30px
}
.owl-theme.categories_carousel .item a {
 background-color:#fff;
 padding:70px 20px;
 text-align:center;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 -ms-border-radius:8px;
 border-radius:8px;
 position:relative;
 margin-bottom:25px;
 -webkit-box-shadow:0 20px 20px -20px rgba(0,0,0,0.25);
 -moz-box-shadow:0 20px 20px -20px rgba(0,0,0,0.25);
 box-shadow:0 20px 20px -20px rgba(0,0,0,0.25)
}
.owl-theme.categories_carousel .item a h3 {
 font-size:18px;
 font-size:1.125rem;
 margin:0
}
.owl-theme.categories_carousel .item a img {
 height:80px;
 margin:0 auto 10px;
 width:auto
}
.owl-theme.categories_carousel .item a small {
 color:#444
}
.owl-theme.categories_carousel .owl-nav {
 position:absolute;
 top:35%;
 left:0;
 width:100%;
 margin:0 !important
}
.owl-theme.categories_carousel .owl-nav .owl-prev,
.owl-theme.categories_carousel .owl-nav .owl-next {
 width:46px;
 height:46px;
 position:absolute;
 top:0;
 display:block !important
}
.owl-theme.categories_carousel .owl-nav .owl-prev {
 left:-48px
}
.owl-theme.categories_carousel .owl-nav .owl-next {
 right:-48px
}
.owl-theme.categories_carousel .owl-nav .owl-prev i,
.owl-theme.categories_carousel .owl-nav .owl-next i {
 font-size:46px;
 font-size:2.875rem;
 color:#ccc;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out
}
.owl-theme.categories_carousel .owl-nav .owl-prev i:hover,
.owl-theme.categories_carousel .owl-nav .owl-next i:hover {
 color:var(--scolor)
}
.owl-theme.categories_carousel .owl-nav .owl-prev.disabled i,
.owl-theme.categories_carousel .owl-nav .owl-next.disabled i {
 opacity:0
}
.owl-theme.categories_carousel .owl-nav .owl-prev.disabled i:hover,
.owl-theme.categories_carousel .owl-nav .owl-next.disabled i:hover {
 color:#ccc
}
.owl-theme.carousel_pro_home .owl-nav {
 position:absolute;
 top:35%;
 left:0;
 width:100%;
 margin:0 !important
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev,
.owl-theme.carousel_pro_home .owl-nav .owl-next {
 width:46px;
 height:46px;
 position:absolute;
 top:0;
 display:block !important
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev {
 left:-48px
}
.owl-theme.carousel_pro_home .owl-nav .owl-next {
 right:-48px
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev i,
.owl-theme.carousel_pro_home .owl-nav .owl-next i {
 font-size:46px;
 font-size:2.875rem;
 color:#ccc;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev i:hover,
.owl-theme.carousel_pro_home .owl-nav .owl-next i:hover {
 color:var(--scolor)
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev.disabled i,
.owl-theme.carousel_pro_home .owl-nav .owl-next.disabled i {
 opacity:0
}
.owl-theme.carousel_pro_home .owl-nav .owl-prev.disabled i:hover,
.owl-theme.carousel_pro_home .owl-nav .owl-next.disabled i:hover {
 color:#ccc
}
.owl-theme.categories_carousel .item a,
.item_version_2 a {
 display:block
}
.owl-theme.categories_carousel .item a span,
.item_version_2 a span {
 position:absolute;
 right:15px;
 top:15px;
 display:inline-block;
 line-height:36px;
 background-color:#000;
 background-color:rgba(0,0,0,0.4);
 color:#fff;
 font-size:12px;
 font-size:0.75rem;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 width:35px;
 height:35px;
 text-align:center;
 font-weight:500;
 z-index:9
}
.owl-theme.categories_carousel .item a figure,
.item_version_2 a figure {
 position:relative;
 overflow:hidden;
 width:100%;
 height:100%;
 margin:0
}
.owl-theme.categories_carousel .item a figure img,
.item_version_2 a figure img {
 width:100%;
 height:auto;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out;
 -webkit-transform:scale(1.1);
 -moz-transform:scale(1.1);
 -ms-transform:scale(1.1);
 -o-transform:scale(1.1);
 transform:scale(1.1)
}
.owl-theme.categories_carousel .item a:hover figure img,
.item_version_2 a:hover figure img {
 -webkit-transform:scale(1);
 -moz-transform:scale(1);
 -ms-transform:scale(1);
 -o-transform:scale(1);
 transform:scale(1)
}
.item_version_2 a {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 border-radius:5px;
 overflow:hidden;
 margin-bottom:25px
}
@media (max-width: 767px) {
 .item_version_2 a {
  margin-bottom:15px
 }
}
.item_version_2 a:hover {
 -webkit-box-shadow:0 20px 20px -20px rgba(0,0,0,0.5);
 -moz-box-shadow:0 20px 20px -20px rgba(0,0,0,0.5);
 box-shadow:0 20px 20px -20px rgba(0,0,0,0.5)
}
.item_version_2 a .info {
 position:absolute;
 width:100%;
 z-index:9;
 padding:75px 20px 15px 20px;
 color:#fff;
 left:0;
 bottom:0;
 background:transparent;
 background:-webkit-linear-gradient(top, transparent, #000);
 background:linear-gradient(to bottom, transparent, #000);
 box-sizing:border-box
}
.item_version_2 a .info h3 {
 color:#fff;
 font-size:18px;
 font-size:1.125rem;
 margin:0
}
@media (max-width: 575px) {
 .item_version_2 a .info h3 {
  font-size:21px;
  font-size:1.3125rem
 }
}
@media (max-width: 575px) {
 .item_version_2 a .info small {
  font-size:14px;
  font-size:0.875rem
 }
}
.item_version_2 a figure span {
 font-weight:600
}
.header-video {
 position:relative;
 overflow:hidden;
 background-color:lightgray;
 height:700px !important;
 text-align:right
}
@media (max-width: 767px) {
 .header-video {
  text-align:center;
  height:580px
 }
}
.header-video h1,
.header-video h3 {
 color:#fff;
 line-height:1;
 font-size:46px;
 font-size:2.875rem;
 margin:0;
 font-weight:600
}
@media (max-width: 767px) {
 .header-video h1,
 .header-video h3 {
  font-size:36px;
  font-size:2.25rem
 }
}
.header-video p {
 font-size:28px;
 font-size:1.75rem;
 font-weight:300;
 display:block
}
@media (max-width: 767px) {
 .header-video p {
  font-size:21px;
  font-size:1.3125rem
 }
}
#hero_video {
 position:relative;
 background-size:cover;
 color:#fff;
 width:100%;
 height:100%;
 z-index:99
}
video {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 width:100%
}
#hero_video iframe {
 height:100%;
 width:100%
}
.teaser-video {
 width:100%;
 height:auto
}
.header-video--media {
 width:100%;
 height:auto
}
@media (max-width: 1024px) {
 #hero_video {
  background:#ededed url(../img/home_section_1.jpg) center center no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center
 }
 .header-video {
  background:none
 }
}
#carousel-home {
 position:relative
}
#carousel-home .static {
 position:static
}
#carousel-home .cover {
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
 position:absolute;
 left:0;
 top:0;
 bottom:0;
 right:0;
 z-index:2;
 opacity:1 !important
}
#carousel-home .owl-carousel .owl-slide {
 height:660px;
 position:relative
}
@media (max-width: 767px) {
 #carousel-home .owl-carousel .owl-slide {
  height:480px
 }
}
#carousel-home .owl-carousel .owl-slide-animated {
 -webkit-transform:translateX(20px);
 -moz-transform:translateX(20px);
 -ms-transform:translateX(20px);
 -o-transform:translateX(20px);
 transform:translateX(20px);
 opacity:0;
 visibility:hidden;
 -moz-transition:all 0.05s ease;
 -o-transition:all 0.05s ease;
 -webkit-transition:all 0.05s ease;
 -ms-transition:all 0.05s ease;
 transition:all 0.05s ease
}
#carousel-home .owl-carousel .owl-slide-animated.is-transitioned {
 -webkit-transform:none;
 -moz-transform:none;
 -ms-transform:none;
 -o-transform:none;
 transform:none;
 opacity:1;
 visibility:visible;
 -moz-transition:all 0.5s ease;
 -o-transition:all 0.5s ease;
 -webkit-transition:all 0.5s ease;
 -ms-transition:all 0.5s ease;
 transition:all 0.5s ease
}
#carousel-home .owl-carousel .owl-slide-title.is-transitioned {
 transition-delay:0.2s;
 -webkit-transition-delay:0.2s;
 -moz-transition-delay:0.2s;
 -o-transition-delay:0.2s
}
#carousel-home .owl-carousel .owl-slide-subtitle.is-transitioned {
 transition-delay:0.35s;
 -webkit-transition-delay:0.35s;
 -moz-transition-delay:0.35s;
 -o-transition-delay:0.35s
}
#carousel-home .owl-carousel .owl-slide-cta.is-transitioned {
 transition-delay:0.5s;
 -webkit-transition-delay:0.5s;
 -moz-transition-delay:0.5s;
 -o-transition-delay:0.5s
}
#carousel-home .owl-carousel .owl-dots {
 bottom:15px;
 width:100%;
 position:absolute
}
.slide-text {
 padding-top:15px;
 font-size:21px;
 font-size:1.3125rem
}
.slide-text h2,
.slide-text h3 {
 color:#fff;
 line-height:1;
 font-size:46px;
 font-size:2.875rem;
 margin:0 0 10px 0;
 font-weight:600
}
@media (max-width: 767px) {
 .slide-text h2,
 .slide-text h3 {
  font-size:36px;
  font-size:2.25rem
 }
}
.slide-text p {
 font-size:28px;
 font-size:1.75rem;
 line-height:1.3;
 font-weight:300
}
@media (max-width: 767px) {
 .slide-text p {
  font-size:21px;
  font-size:1.3125rem
 }
}
.slide-text.white {
 color:#fff
}
.slide-text.white h2,
.slide-text.white h3 {
 color:#fff
}
#icon_drag_mobile {
 position:absolute;
 right:20px;
 bottom:20px;
 background:url(../img/drag_icon.svg) 0 0 no-repeat;
 width:50px;
 height:30px;
 opacity:0.6;
 z-index:99;
 display:none
}
@media (max-width: 767px) {
 #icon_drag_mobile {
  display:block
 }
}
a.btn_explore {
 background:#fff;
 display:block;
 width:50px;
 height:50px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 line-height:55px;
 text-align:center;
 position:absolute;
 bottom:30px;
 left:50%;
 margin-left:-25px;
 font-size:28px;
 font-size:1.75rem;
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out;
 color:#999
}
@media (max-width: 767px) {
 a.btn_explore {
  display:none
 }
}
a.btn_explore:hover {
 bottom:20px;
 color:var(--scolor)
}
.pulse_bt {
 display:block;
 width:50px;
 height:50px;
 border-radius:50%;
 box-shadow:0 0 0 rgba(255,255,255,0.4);
 animation:pulseanime 2.5s infinite;
 -webkit-animation:pulseanime 2.5s infinite
}
.pulse_bt:hover {
 animation:none
}
@-webkit-keyframes pulseanime {
 0% {
  -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0.4)
 }
 70% {
  -webkit-box-shadow:0 0 0 15px rgba(255,255,255,0)
 }
 100% {
  -webkit-box-shadow:0 0 0 0 rgba(255,255,255,0)
 }
}
@keyframes pulseanime {
 0% {
  -moz-box-shadow:0 0 0 0 rgba(255,255,255,0.4);
  box-shadow:0 0 0 0 rgba(255,255,255,0.4)
 }
 70% {
  -moz-box-shadow:0 0 0 15px rgba(255,255,255,0);
  box-shadow:0 0 0 15px rgba(255,255,255,0)
 }
 100% {
  -moz-box-shadow:0 0 0 0 rgba(255,255,255,0);
  box-shadow:0 0 0 0 rgba(255,255,255,0)
 }
}
.box_about {
 background:#fff;
 padding:45px 45px 30px 75px;
 position:relative;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 -ms-border-radius:8px;
 border-radius:8px
}
@media (max-width: 991px) {
 .box_about {
  padding:30px 30px 5px 55px
 }
}
.box_about strong {
 display:block;
 color:var(--scolor);
 font-size:21px;
 font-size:1.3125rem;
 width:30px;
 height:30px;
 text-align:center;
 position:absolute;
 top:45px;
 left:30px;
 border:2px solid var(--scolor);
 line-height:25px;
 font-weight:500;
 -webkit-border-radius:50px;
 -moz-border-radius:50px;
 -ms-border-radius:50px;
 border-radius:50px
}
@media (max-width: 991px) {
 .box_about strong {
  top:26px;
  left:15px
 }
}
.box_about h2,
.box_about h3 {
 font-weight:500;
 font-size:24px;
 font-size:1.5rem
}
@media (max-width: 991px) {
 .box_about h2,
 .box_about h3 {
  font-size:21px;
  font-size:1.3125rem
 }
}
.box_about p {
 font-size:18px;
 font-size:1.125rem;
 color:#777;
 line-height:1.5
}
@media (max-width: 991px) {
 .box_about p {
  font-size:16px;
  font-size:1rem
 }
}
.box_about p.lead {
 font-size:21px;
 font-size:1.3125rem;
 margin-bottom:15px
}
.box_about .arrow_1,
.box_about .arrow_2 {
 position:absolute;
 top:105%;
 right:0;
 z-index:9
}
@media (max-width: 1199px) {
 .box_about .arrow_1,
 .box_about .arrow_2 {
  display:none
 }
}
.box_about .arrow_2 {
 left:0;
 -moz-transform:scaleX(-1);
 -webkit-transform:scaleX(-1);
 -o-transform:scaleX(-1);
 transform:scaleX(-1);
 -ms-filter:fliph;
 filter:fliph
}
@media (max-width: 991px) {
 .how .add_bottom_45 {
  padding-bottom:25px
 }
}
@media (max-width: 767px) {
 .how_2 figure img {
  width:200px;
  height:auto;
  margin-bottom:25px
 }
}
.how_2 ul {
 list-style:none;
 margin:0 0 20px 0;
 padding:0
}
.how_2 ul li {
 position:relative;
 overflow:hidden;
 margin-bottom:15px
}
.how_2 ul li:before {
 position:absolute;
 content:url(../img/dot.png);
 top:10px;
 left:13px;
 height:70px;
 display:block;
 overflow:hidden
}
.how_2 ul li:last-child {
 margin-bottom:0
}
.how_2 ul li h3 {
 font-size:18px;
 font-size:1.125rem;
 margin-bottom:10px
}
.how_2 ul li h3 span {
 color:var(--scolor);
 margin-right:5px
}
.how_2 ul li p {
 margin-bottom:0;
 padding-left:47px;
 padding-bottom:15px;
 font-size:16px;
 font-size:1rem
}
.list_home ul {
 list-style:none;
 margin:0;
 padding:0
}
.list_home ul li {
 display:inline-block;
 position:relative;
 width:100%
}
.list_home ul li a {
 border:1px solid #ededed;
 -webkit-box-shadow:0 2px 4px rgba(3,27,78,0.06);
 -moz-box-shadow:0 2px 4px rgba(3,27,78,0.06);
 box-shadow:0 2px 4px rgba(3,27,78,0.06);
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -ms-border-radius:5px;
 border-radius:5px;
 padding:15px 15px 15px 225px;
 color:#444;
 margin-bottom:30px;
 min-height:130px;
 display:block
}
@media (max-width: 1199px) {
 .list_home ul li a {
  padding:15px 15px 15px 145px
 }
}
@media (max-width: 575px) {
 .list_home ul li a {
  padding:155px 15px 15px 15px;
  min-height:inherit
 }
}
.list_home ul li a figure {
 -webkit-border-radius:5px 0 0 5px;
 -moz-border-radius:5px 0 0 5px;
 -ms-border-radius:5px 0 0 5px;
 border-radius:5px 0 0 5px;
 width:200px;
 height:130px;
 overflow:hidden;
 position:absolute;
 left:0;
 top:0
}
@media (max-width: 1199px) {
 .list_home ul li a figure {
  width:120px
 }
}
@media (max-width: 575px) {
 .list_home ul li a figure {
  position:absolute;
  width:100%;
  top:0;
  left:0;
  right:0;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  -ms-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  height:150px
 }
}
.list_home ul li a figure img {
 width:200px;
 height:auto;
 position:absolute;
 left:50%;
 top:50%;
 -webkit-transform:translate(-50%, -50%) scale(1.05);
 -moz-transform:translate(-50%, -50%) scale(1.05);
 -ms-transform:translate(-50%, -50%) scale(1.05);
 -o-transform:translate(-50%, -50%) scale(1.05);
 transform:translate(-50%, -50%) scale(1.05);
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out;
 -webkit-backface-visibility:hidden;
 -moz-backface-visibility:hidden;
 -ms-backface-visibility:hidden;
 -o-backface-visibility:hidden;
 backface-visibility:hidden
}
@media (max-width: 575px) {
 .list_home ul li a figure img {
  width:100%;
  max-width:100%
 }
}
.list_home ul li a .score {
 position:absolute;
 top:10px;
 right:10px
}
@media (max-width: 767px) {
 .list_home ul li a .score strong {
  background-color:#fff;
  border:0
 }
}
.list_home ul li a em {
 font-size:12px;
 font-size:0.75rem
}
.list_home ul li a h3 {
 font-size:18px;
 font-size:1.125rem;
 margin-bottom:0
}
.list_home ul li a small {
 font-size:14px;
 font-size:0.875rem;
 color:#777
}
.list_home ul li a ul {
 margin-top:10px
}
.list_home ul li a ul li {
 display:inline-block;
 width:auto;
 margin:0 5px 0 0
}
.list_home ul li a ul li:last-child {
 margin:0
}
.list_home ul li a ul li .ribbon {
 position:static
}
.list_home ul li a:hover {
 -webkit-box-shadow:0 2px 4px rgba(3,27,78,0.06);
 -moz-box-shadow:0 2px 4px rgba(3,27,78,0.06);
 box-shadow:0 2px 4px rgba(3,27,78,0.06)
}
.list_home ul li a:hover img {
 -webkit-transform:translate(-50%, -50%) scale(1);
 -moz-transform:translate(-50%, -50%) scale(1);
 -ms-transform:translate(-50%, -50%) scale(1);
 -o-transform:translate(-50%, -50%) scale(1);
 transform:translate(-50%, -50%) scale(1)
}
.list_home ul li a:hover h3 {
 color:var(--scolor);
 -moz-transition:all 0.3s ease-in-out;
 -o-transition:all 0.3s ease-in-out;
 -webkit-transition:all 0.3s ease-in-out;
 -ms-transition:all 0.3s ease-in-out;
 transition:all 0.3s ease-in-out
}
.call_section {
 background-position:center bottom;
 background-repeat:no-repeat;
 min-height:340px;
 padding:6% 0
}
.call_section.version_2 {
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 background-position:top center;
 padding:8% 0
}
.call_section .box_1 {
 position:relative;
 background-color:#121921;
 color:#fff;
 padding:45px
}
.call_section .box_1 p {
 opacity:0.8;
 font-size:16px;
 font-size:1rem
}
.call_section .box_1 h3 {
 color:#fff
}
.ribbon_promo {
 position:absolute;
 right:-5px;
 top:-5px;
 z-index:1;
 overflow:hidden;
 width:75px;
 height:75px
}
.ribbon_promo span {
 font-size:12px;
 font-size:0.75rem;
 font-weight:bold;
 color:#FFF;
 text-transform:uppercase;
 text-align:center;
 line-height:20px;
 transform:rotate(45deg);
 -webkit-transform:rotate(45deg);
 width:100px;
 display:block;
 background:#79A70A;
 background:linear-gradient(#9BC90D 0%, #79A70A 100%);
 box-shadow:0 3px 10px -5px #000;
 position:absolute;
 top:19px;
 right:-21px
}
.ribbon_promo span::before {
 content:"";
 position:absolute;
 left:0px;
 top:100%;
 z-index:-1;
 border-left:3px solid #79A70A;
 border-right:3px solid transparent;
 border-bottom:3px solid transparent;
 border-top:3px solid #79A70A
}
.ribbon_promo span::after {
 content:"";
 position:absolute;
 right:0px;
 top:100%;
 z-index:-1;
 border-left:3px solid transparent;
 border-right:3px solid #79A70A;
 border-bottom:3px solid transparent;
 border-top:3px solid #79A70A
}
