@font-face{
    font-family:'custom_icons';
    src:url("icon_fonts/font/custom_icons.eot");
    src:url("icon_fonts/font/custom_icons.eot") format("embedded-opentype"),url("icon_fonts/font/custom_icons.woff2") format("woff2"),url("icon_fonts/font/ustom_icons.woff?34716924") format("woff"),url("icon_fonts/font/custom_icons.ttf") format("truetype"),url("icon_fonts/font/custom_icons.svg") format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap
}
[class^="icon-"]:before,[class*=" icon-"]:before{
    font-family:"custom_icons";
    font-style:normal;
    font-weight:normal;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-videocam:before{
    content:'\e800'
}
.icon-chat:before{
    content:'\e801'
}
.icon-dot-3:before{
    content:'\e802'
}
.icon-clock:before{
    content:'\e803'
}
.icon-clock-1:before{
    content:'\e804'
}
.icon-users:before{
    content:'\f064'
}
.icon-calendar-empty:before{
    content:'\f133'
}
.icon-calendar-check-o:before{
    content:'\f274'
}
@font-face{
    font-family:'ElegantIcons';
    src:url("icon_fonts/font/ElegantIcons.eot");
    src:url("icon_fonts/font/ElegantIcons-1.eot") format("embedded-opentype"),url("icon_fonts/font/ElegantIcons.woff") format("woff"),url("icon_fonts/font/ElegantIcons.ttf") format("truetype"),url("icon_fonts/font/ElegantIcons.svg") format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap
}
[data-icon]:before{
    font-family:'ElegantIcons';
    content:attr(data-icon);
    speak:none;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.arrow_up,.arrow_down,.arrow_left,.arrow_right,.arrow_left-up,.arrow_right-up,.arrow_right-down,.arrow_left-down,.arrow-up-down,.arrow_up-down_alt,.arrow_left-right_alt,.arrow_left-right,.arrow_expand_alt2,.arrow_expand_alt,.arrow_condense,.arrow_expand,.arrow_move,.arrow_carrot-up,.arrow_carrot-down,.arrow_carrot-left,.arrow_carrot-right,.arrow_carrot-2up,.arrow_carrot-2down,.arrow_carrot-2left,.arrow_carrot-2right,.arrow_carrot-up_alt2,.arrow_carrot-down_alt2,.arrow_carrot-left_alt2,.arrow_carrot-right_alt2,.arrow_carrot-2up_alt2,.arrow_carrot-2down_alt2,.arrow_carrot-2left_alt2,.arrow_carrot-2right_alt2,.arrow_triangle-up,.arrow_triangle-down,.arrow_triangle-left,.arrow_triangle-right,.arrow_triangle-up_alt2,.arrow_triangle-down_alt2,.arrow_triangle-left_alt2,.arrow_triangle-right_alt2,.arrow_back,.icon_minus-06,.icon_plus,.icon_close,.icon_check,.icon_minus_alt2,.icon_plus_alt2,.icon_close_alt2,.icon_check_alt2,.icon_zoom-out_alt,.icon_zoom-in_alt,.icon_search,.icon_box-empty,.icon_box-selected,.icon_minus-box,.icon_plus-box,.icon_box-checked,.icon_circle-empty,.icon_circle-slelected,.icon_stop_alt2,.icon_stop,.icon_pause_alt2,.icon_pause,.icon_menu,.icon_menu-square_alt2,.icon_menu-circle_alt2,.icon_ul,.icon_ol,.icon_adjust-horiz,.icon_adjust-vert,.icon_document_alt,.icon_documents_alt,.icon_pencil,.icon_pencil-edit_alt,.icon_pencil-edit,.icon_folder-alt,.icon_folder-open_alt,.icon_folder-add_alt,.icon_info_alt,.icon_error-oct_alt,.icon_error-circle_alt,.icon_error-triangle_alt,.icon_question_alt2,.icon_question,.icon_comment_alt,.icon_chat_alt,.icon_vol-mute_alt,.icon_volume-low_alt,.icon_volume-high_alt,.icon_quotations,.icon_quotations_alt2,.icon_clock_alt,.icon_lock_alt,.icon_lock-open_alt,.icon_key_alt,.icon_cloud_alt,.icon_cloud-upload_alt,.icon_cloud-download_alt,.icon_image,.icon_images,.icon_lightbulb_alt,.icon_gift_alt,.icon_house_alt,.icon_genius,.icon_mobile,.icon_tablet,.icon_laptop,.icon_desktop,.icon_camera_alt,.icon_mail_alt,.icon_cone_alt,.icon_ribbon_alt,.icon_bag_alt,.icon_creditcard,.icon_cart_alt,.icon_paperclip,.icon_tag_alt,.icon_tags_alt,.icon_trash_alt,.icon_cursor_alt,.icon_mic_alt,.icon_compass_alt,.icon_pin_alt,.icon_pushpin_alt,.icon_map_alt,.icon_drawer_alt,.icon_toolbox_alt,.icon_book_alt,.icon_calendar,.icon_film,.icon_table,.icon_contacts_alt,.icon_headphones,.icon_lifesaver,.icon_piechart,.icon_refresh,.icon_link_alt,.icon_link,.icon_loading,.icon_blocked,.icon_archive_alt,.icon_heart_alt,.icon_star_alt,.icon_star-half_alt,.icon_star,.icon_star-half,.icon_tools,.icon_tool,.icon_cog,.icon_cogs,.arrow_up_alt,.arrow_down_alt,.arrow_left_alt,.arrow_right_alt,.arrow_left-up_alt,.arrow_right-up_alt,.arrow_right-down_alt,.arrow_left-down_alt,.arrow_condense_alt,.arrow_expand_alt3,.arrow_carrot_up_alt,.arrow_carrot-down_alt,.arrow_carrot-left_alt,.arrow_carrot-right_alt,.arrow_carrot-2up_alt,.arrow_carrot-2dwnn_alt,.arrow_carrot-2left_alt,.arrow_carrot-2right_alt,.arrow_triangle-up_alt,.arrow_triangle-down_alt,.arrow_triangle-left_alt,.arrow_triangle-right_alt,.icon_minus_alt,.icon_plus_alt,.icon_close_alt,.icon_check_alt,.icon_zoom-out,.icon_zoom-in,.icon_stop_alt,.icon_menu-square_alt,.icon_menu-circle_alt,.icon_document,.icon_documents,.icon_pencil_alt,.icon_folder,.icon_folder-open,.icon_folder-add,.icon_folder_upload,.icon_folder_download,.icon_info,.icon_error-circle,.icon_error-oct,.icon_error-triangle,.icon_question_alt,.icon_comment,.icon_chat,.icon_vol-mute,.icon_volume-low,.icon_volume-high,.icon_quotations_alt,.icon_clock,.icon_lock,.icon_lock-open,.icon_key,.icon_cloud,.icon_cloud-upload,.icon_cloud-download,.icon_lightbulb,.icon_gift,.icon_house,.icon_camera,.icon_mail,.icon_cone,.icon_ribbon,.icon_bag,.icon_cart,.icon_tag,.icon_tags,.icon_trash,.icon_cursor,.icon_mic,.icon_compass,.icon_pin,.icon_pushpin,.icon_map,.icon_drawer,.icon_toolbox,.icon_book,.icon_contacts,.icon_archive,.icon_heart,.icon_profile,.icon_group,.icon_grid-2x2,.icon_grid-3x3,.icon_music,.icon_pause_alt,.icon_phone,.icon_upload,.icon_download,.social_facebook,.social_twitter,.social_pinterest,.social_googleplus,.social_tumblr,.social_tumbleupon,.social_wordpress,.social_instagram,.social_dribbble,.social_vimeo,.social_linkedin,.social_rss,.social_deviantart,.social_share,.social_myspace,.social_skype,.social_youtube,.social_picassa,.social_googledrive,.social_flickr,.social_blogger,.social_spotify,.social_delicious,.social_facebook_circle,.social_twitter_circle,.social_pinterest_circle,.social_googleplus_circle,.social_tumblr_circle,.social_stumbleupon_circle,.social_wordpress_circle,.social_instagram_circle,.social_dribbble_circle,.social_vimeo_circle,.social_linkedin_circle,.social_rss_circle,.social_deviantart_circle,.social_share_circle,.social_myspace_circle,.social_skype_circle,.social_youtube_circle,.social_picassa_circle,.social_googledrive_alt2,.social_flickr_circle,.social_blogger_circle,.social_spotify_circle,.social_delicious_circle,.social_facebook_square,.social_twitter_square,.social_pinterest_square,.social_googleplus_square,.social_tumblr_square,.social_stumbleupon_square,.social_wordpress_square,.social_instagram_square,.social_dribbble_square,.social_vimeo_square,.social_linkedin_square,.social_rss_square,.social_deviantart_square,.social_share_square,.social_myspace_square,.social_skype_square,.social_youtube_square,.social_picassa_square,.social_googledrive_square,.social_flickr_square,.social_blogger_square,.social_spotify_square,.social_delicious_square,.icon_printer,.icon_calulator,.icon_building,.icon_floppy,.icon_drive,.icon_search-2,.icon_id,.icon_id-2,.icon_puzzle,.icon_like,.icon_dislike,.icon_mug,.icon_currency,.icon_wallet,.icon_pens,.icon_easel,.icon_flowchart,.icon_datareport,.icon_briefcase,.icon_shield,.icon_percent,.icon_globe,.icon_globe-2,.icon_target,.icon_hourglass,.icon_balance,.icon_rook,.icon_printer-alt,.icon_calculator_alt,.icon_building_alt,.icon_floppy_alt,.icon_drive_alt,.icon_search_alt,.icon_id_alt,.icon_id-2_alt,.icon_puzzle_alt,.icon_like_alt,.icon_dislike_alt,.icon_mug_alt,.icon_currency_alt,.icon_wallet_alt,.icon_pens_alt,.icon_easel_alt,.icon_flowchart_alt,.icon_datareport_alt,.icon_briefcase_alt,.icon_shield_alt,.icon_percent_alt,.icon_globe_alt,.icon_clipboard{
    font-family:'ElegantIcons';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased
}
.arrow_up:before{
    content:"\21"
}
.arrow_down:before{
    content:"\22"
}
.arrow_left:before{
    content:"\23"
}
.arrow_right:before{
    content:"\24"
}
.arrow_left-up:before{
    content:"\25"
}
.arrow_right-up:before{
    content:"\26"
}
.arrow_right-down:before{
    content:"\27"
}
.arrow_left-down:before{
    content:"\28"
}
.arrow-up-down:before{
    content:"\29"
}
.arrow_up-down_alt:before{
    content:"\2a"
}
.arrow_left-right_alt:before{
    content:"\2b"
}
.arrow_left-right:before{
    content:"\2c"
}
.arrow_expand_alt2:before{
    content:"\2d"
}
.arrow_expand_alt:before{
    content:"\2e"
}
.arrow_condense:before{
    content:"\2f"
}
.arrow_expand:before{
    content:"\30"
}
.arrow_move:before{
    content:"\31"
}
.arrow_carrot-up:before{
    content:"\32"
}
.arrow_carrot-down:before{
    content:"\33"
}
.arrow_carrot-left:before{
    content:"\34"
}
.arrow_carrot-right:before{
    content:"\35"
}
.arrow_carrot-2up:before{
    content:"\36"
}
.arrow_carrot-2down:before{
    content:"\37"
}
.arrow_carrot-2left:before{
    content:"\38"
}
.arrow_carrot-2right:before{
    content:"\39"
}
.arrow_carrot-up_alt2:before{
    content:"\3a"
}
.arrow_carrot-down_alt2:before{
    content:"\3b"
}
.arrow_carrot-left_alt2:before{
    content:"\3c"
}
.arrow_carrot-right_alt2:before{
    content:"\3d"
}
.arrow_carrot-2up_alt2:before{
    content:"\3e"
}
.arrow_carrot-2down_alt2:before{
    content:"\3f"
}
.arrow_carrot-2left_alt2:before{
    content:"\40"
}
.arrow_carrot-2right_alt2:before{
    content:"\41"
}
.arrow_triangle-up:before{
    content:"\42"
}
.arrow_triangle-down:before{
    content:"\43"
}
.arrow_triangle-left:before{
    content:"\44"
}
.arrow_triangle-right:before{
    content:"\45"
}
.arrow_triangle-up_alt2:before{
    content:"\46"
}
.arrow_triangle-down_alt2:before{
    content:"\47"
}
.arrow_triangle-left_alt2:before{
    content:"\48"
}
.arrow_triangle-right_alt2:before{
    content:"\49"
}
.arrow_back:before{
    content:"\4a"
}
.icon_minus-06:before{
    content:"\4b"
}
.icon_plus:before{
    content:"\4c"
}
.icon_close:before{
    content:"\4d"
}
.icon_check:before{
    content:"\4e"
}
.icon_minus_alt2:before{
    content:"\4f"
}
.icon_plus_alt2:before{
    content:"\50"
}
.icon_close_alt2:before{
    content:"\51"
}
.icon_check_alt2:before{
    content:"\52"
}
.icon_zoom-out_alt:before{
    content:"\53"
}
.icon_zoom-in_alt:before{
    content:"\54"
}
.icon_search:before{
    content:"\55"
}
.icon_box-empty:before{
    content:"\56"
}
.icon_box-selected:before{
    content:"\57"
}
.icon_minus-box:before{
    content:"\58"
}
.icon_plus-box:before{
    content:"\59"
}
.icon_box-checked:before{
    content:"\5a"
}
.icon_circle-empty:before{
    content:"\5b"
}
.icon_circle-slelected:before{
    content:"\5c"
}
.icon_stop_alt2:before{
    content:"\5d"
}
.icon_stop:before{
    content:"\5e"
}
.icon_pause_alt2:before{
    content:"\5f"
}
.icon_pause:before{
    content:"\60"
}
.icon_menu:before{
    content:"\61"
}
.icon_menu-square_alt2:before{
    content:"\62"
}
.icon_menu-circle_alt2:before{
    content:"\63"
}
.icon_ul:before{
    content:"\64"
}
.icon_ol:before{
    content:"\65"
}
.icon_adjust-horiz:before{
    content:"\66"
}
.icon_adjust-vert:before{
    content:"\67"
}
.icon_document_alt:before{
    content:"\68"
}
.icon_documents_alt:before{
    content:"\69"
}
.icon_pencil:before{
    content:"\6a"
}
.icon_pencil-edit_alt:before{
    content:"\6b"
}
.icon_pencil-edit:before{
    content:"\6c"
}
.icon_folder-alt:before{
    content:"\6d"
}
.icon_folder-open_alt:before{
    content:"\6e"
}
.icon_folder-add_alt:before{
    content:"\6f"
}
.icon_info_alt:before{
    content:"\70"
}
.icon_error-oct_alt:before{
    content:"\71"
}
.icon_error-circle_alt:before{
    content:"\72"
}
.icon_error-triangle_alt:before{
    content:"\73"
}
.icon_question_alt2:before{
    content:"\74"
}
.icon_question:before{
    content:"\75"
}
.icon_comment_alt:before{
    content:"\76"
}
.icon_chat_alt:before{
    content:"\77"
}
.icon_vol-mute_alt:before{
    content:"\78"
}
.icon_volume-low_alt:before{
    content:"\79"
}
.icon_volume-high_alt:before{
    content:"\7a"
}
.icon_quotations:before{
    content:"\7b"
}
.icon_quotations_alt2:before{
    content:"\7c"
}
.icon_clock_alt:before{
    content:"\7d"
}
.icon_lock_alt:before{
    content:"\7e"
}
.icon_lock-open_alt:before{
    content:"\e000"
}
.icon_key_alt:before{
    content:"\e001"
}
.icon_cloud_alt:before{
    content:"\e002"
}
.icon_cloud-upload_alt:before{
    content:"\e003"
}
.icon_cloud-download_alt:before{
    content:"\e004"
}
.icon_image:before{
    content:"\e005"
}
.icon_images:before{
    content:"\e006"
}
.icon_lightbulb_alt:before{
    content:"\e007"
}
.icon_gift_alt:before{
    content:"\e008"
}
.icon_house_alt:before{
    content:"\e009"
}
.icon_genius:before{
    content:"\e00a"
}
.icon_mobile:before{
    content:"\e00b"
}
.icon_tablet:before{
    content:"\e00c"
}
.icon_laptop:before{
    content:"\e00d"
}
.icon_desktop:before{
    content:"\e00e"
}
.icon_camera_alt:before{
    content:"\e00f"
}
.icon_mail_alt:before{
    content:"\e010"
}
.icon_cone_alt:before{
    content:"\e011"
}
.icon_ribbon_alt:before{
    content:"\e012"
}
.icon_bag_alt:before{
    content:"\e013"
}
.icon_creditcard:before{
    content:"\e014"
}
.icon_cart_alt:before{
    content:"\e015"
}
.icon_paperclip:before{
    content:"\e016"
}
.icon_tag_alt:before{
    content:"\e017"
}
.icon_tags_alt:before{
    content:"\e018"
}
.icon_trash_alt:before{
    content:"\e019"
}
.icon_cursor_alt:before{
    content:"\e01a"
}
.icon_mic_alt:before{
    content:"\e01b"
}
.icon_compass_alt:before{
    content:"\e01c"
}
.icon_pin_alt:before{
    content:"\e01d"
}
.icon_pushpin_alt:before{
    content:"\e01e"
}
.icon_map_alt:before{
    content:"\e01f"
}
.icon_drawer_alt:before{
    content:"\e020"
}
.icon_toolbox_alt:before{
    content:"\e021"
}
.icon_book_alt:before{
    content:"\e022"
}
.icon_calendar:before{
    content:"\e023"
}
.icon_film:before{
    content:"\e024"
}
.icon_table:before{
    content:"\e025"
}
.icon_contacts_alt:before{
    content:"\e026"
}
.icon_headphones:before{
    content:"\e027"
}
.icon_lifesaver:before{
    content:"\e028"
}
.icon_piechart:before{
    content:"\e029"
}
.icon_refresh:before{
    content:"\e02a"
}
.icon_link_alt:before{
    content:"\e02b"
}
.icon_link:before{
    content:"\e02c"
}
.icon_loading:before{
    content:"\e02d"
}
.icon_blocked:before{
    content:"\e02e"
}
.icon_archive_alt:before{
    content:"\e02f"
}
.icon_heart_alt:before{
    content:"\e030"
}
.icon_star_alt:before{
    content:"\e031"
}
.icon_star-half_alt:before{
    content:"\e032"
}
.icon_star:before{
    content:"\e033"
}
.icon_star-half:before{
    content:"\e034"
}
.icon_tools:before{
    content:"\e035"
}
.icon_tool:before{
    content:"\e036"
}
.icon_cog:before{
    content:"\e037"
}
.icon_cogs:before{
    content:"\e038"
}
.arrow_up_alt:before{
    content:"\e039"
}
.arrow_down_alt:before{
    content:"\e03a"
}
.arrow_left_alt:before{
    content:"\e03b"
}
.arrow_right_alt:before{
    content:"\e03c"
}
.arrow_left-up_alt:before{
    content:"\e03d"
}
.arrow_right-up_alt:before{
    content:"\e03e"
}
.arrow_right-down_alt:before{
    content:"\e03f"
}
.arrow_left-down_alt:before{
    content:"\e040"
}
.arrow_condense_alt:before{
    content:"\e041"
}
.arrow_expand_alt3:before{
    content:"\e042"
}
.arrow_carrot_up_alt:before{
    content:"\e043"
}
.arrow_carrot-down_alt:before{
    content:"\e044"
}
.arrow_carrot-left_alt:before{
    content:"\e045"
}
.arrow_carrot-right_alt:before{
    content:"\e046"
}
.arrow_carrot-2up_alt:before{
    content:"\e047"
}
.arrow_carrot-2dwnn_alt:before{
    content:"\e048"
}
.arrow_carrot-2left_alt:before{
    content:"\e049"
}
.arrow_carrot-2right_alt:before{
    content:"\e04a"
}
.arrow_triangle-up_alt:before{
    content:"\e04b"
}
.arrow_triangle-down_alt:before{
    content:"\e04c"
}
.arrow_triangle-left_alt:before{
    content:"\e04d"
}
.arrow_triangle-right_alt:before{
    content:"\e04e"
}
.icon_minus_alt:before{
    content:"\e04f"
}
.icon_plus_alt:before{
    content:"\e050"
}
.icon_close_alt:before{
    content:"\e051"
}
.icon_check_alt:before{
    content:"\e052"
}
.icon_zoom-out:before{
    content:"\e053"
}
.icon_zoom-in:before{
    content:"\e054"
}
.icon_stop_alt:before{
    content:"\e055"
}
.icon_menu-square_alt:before{
    content:"\e056"
}
.icon_menu-circle_alt:before{
    content:"\e057"
}
.icon_document:before{
    content:"\e058"
}
.icon_documents:before{
    content:"\e059"
}
.icon_pencil_alt:before{
    content:"\e05a"
}
.icon_folder:before{
    content:"\e05b"
}
.icon_folder-open:before{
    content:"\e05c"
}
.icon_folder-add:before{
    content:"\e05d"
}
.icon_folder_upload:before{
    content:"\e05e"
}
.icon_folder_download:before{
    content:"\e05f"
}
.icon_info:before{
    content:"\e060"
}
.icon_error-circle:before{
    content:"\e061"
}
.icon_error-oct:before{
    content:"\e062"
}
.icon_error-triangle:before{
    content:"\e063"
}
.icon_question_alt:before{
    content:"\e064"
}
.icon_comment:before{
    content:"\e065"
}
.icon_chat:before{
    content:"\e066"
}
.icon_vol-mute:before{
    content:"\e067"
}
.icon_volume-low:before{
    content:"\e068"
}
.icon_volume-high:before{
    content:"\e069"
}
.icon_quotations_alt:before{
    content:"\e06a"
}
.icon_clock:before{
    content:"\e06b"
}
.icon_lock:before{
    content:"\e06c"
}
.icon_lock-open:before{
    content:"\e06d"
}
.icon_key:before{
    content:"\e06e"
}
.icon_cloud:before{
    content:"\e06f"
}
.icon_cloud-upload:before{
    content:"\e070"
}
.icon_cloud-download:before{
    content:"\e071"
}
.icon_lightbulb:before{
    content:"\e072"
}
.icon_gift:before{
    content:"\e073"
}
.icon_house:before{
    content:"\e074"
}
.icon_camera:before{
    content:"\e075"
}
.icon_mail:before{
    content:"\e076"
}
.icon_cone:before{
    content:"\e077"
}
.icon_ribbon:before{
    content:"\e078"
}
.icon_bag:before{
    content:"\e079"
}
.icon_cart:before{
    content:"\e07a"
}
.icon_tag:before{
    content:"\e07b"
}
.icon_tags:before{
    content:"\e07c"
}
.icon_trash:before{
    content:"\e07d"
}
.icon_cursor:before{
    content:"\e07e"
}
.icon_mic:before{
    content:"\e07f"
}
.icon_compass:before{
    content:"\e080"
}
.icon_pin:before{
    content:"\e081"
}
.icon_pushpin:before{
    content:"\e082"
}
.icon_map:before{
    content:"\e083"
}
.icon_drawer:before{
    content:"\e084"
}
.icon_toolbox:before{
    content:"\e085"
}
.icon_book:before{
    content:"\e086"
}
.icon_contacts:before{
    content:"\e087"
}
.icon_archive:before{
    content:"\e088"
}
.icon_heart:before{
    content:"\e089"
}
.icon_profile:before{
    content:"\e08a"
}
.icon_group:before{
    content:"\e08b"
}
.icon_grid-2x2:before{
    content:"\e08c"
}
.icon_grid-3x3:before{
    content:"\e08d"
}
.icon_music:before{
    content:"\e08e"
}
.icon_pause_alt:before{
    content:"\e08f"
}
.icon_phone:before{
    content:"\e090"
}
.icon_upload:before{
    content:"\e091"
}
.icon_download:before{
    content:"\e092"
}
.social_facebook:before{
    content:"\e093"
}
.social_twitter:before{
    content:"\e094"
}
.social_pinterest:before{
    content:"\e095"
}
.social_googleplus:before{
    content:"\e096"
}
.social_tumblr:before{
    content:"\e097"
}
.social_tumbleupon:before{
    content:"\e098"
}
.social_wordpress:before{
    content:"\e099"
}
.social_instagram:before{
    content:"\e09a"
}
.social_dribbble:before{
    content:"\e09b"
}
.social_vimeo:before{
    content:"\e09c"
}
.social_linkedin:before{
    content:"\e09d"
}
.social_rss:before{
    content:"\e09e"
}
.social_deviantart:before{
    content:"\e09f"
}
.social_share:before{
    content:"\e0a0"
}
.social_myspace:before{
    content:"\e0a1"
}
.social_skype:before{
    content:"\e0a2"
}
.social_youtube:before{
    content:"\e0a3"
}
.social_picassa:before{
    content:"\e0a4"
}
.social_googledrive:before{
    content:"\e0a5"
}
.social_flickr:before{
    content:"\e0a6"
}
.social_blogger:before{
    content:"\e0a7"
}
.social_spotify:before{
    content:"\e0a8"
}
.social_delicious:before{
    content:"\e0a9"
}
.social_facebook_circle:before{
    content:"\e0aa"
}
.social_twitter_circle:before{
    content:"\e0ab"
}
.social_pinterest_circle:before{
    content:"\e0ac"
}
.social_googleplus_circle:before{
    content:"\e0ad"
}
.social_tumblr_circle:before{
    content:"\e0ae"
}
.social_stumbleupon_circle:before{
    content:"\e0af"
}
.social_wordpress_circle:before{
    content:"\e0b0"
}
.social_instagram_circle:before{
    content:"\e0b1"
}
.social_dribbble_circle:before{
    content:"\e0b2"
}
.social_vimeo_circle:before{
    content:"\e0b3"
}
.social_linkedin_circle:before{
    content:"\e0b4"
}
.social_rss_circle:before{
    content:"\e0b5"
}
.social_deviantart_circle:before{
    content:"\e0b6"
}
.social_share_circle:before{
    content:"\e0b7"
}
.social_myspace_circle:before{
    content:"\e0b8"
}
.social_skype_circle:before{
    content:"\e0b9"
}
.social_youtube_circle:before{
    content:"\e0ba"
}
.social_picassa_circle:before{
    content:"\e0bb"
}
.social_googledrive_alt2:before{
    content:"\e0bc"
}
.social_flickr_circle:before{
    content:"\e0bd"
}
.social_blogger_circle:before{
    content:"\e0be"
}
.social_spotify_circle:before{
    content:"\e0bf"
}
.social_delicious_circle:before{
    content:"\e0c0"
}
.social_facebook_square:before{
    content:"\e0c1"
}
.social_twitter_square:before{
    content:"\e0c2"
}
.social_pinterest_square:before{
    content:"\e0c3"
}
.social_googleplus_square:before{
    content:"\e0c4"
}
.social_tumblr_square:before{
    content:"\e0c5"
}
.social_stumbleupon_square:before{
    content:"\e0c6"
}
.social_wordpress_square:before{
    content:"\e0c7"
}
.social_instagram_square:before{
    content:"\e0c8"
}
.social_dribbble_square:before{
    content:"\e0c9"
}
.social_vimeo_square:before{
    content:"\e0ca"
}
.social_linkedin_square:before{
    content:"\e0cb"
}
.social_rss_square:before{
    content:"\e0cc"
}
.social_deviantart_square:before{
    content:"\e0cd"
}
.social_share_square:before{
    content:"\e0ce"
}
.social_myspace_square:before{
    content:"\e0cf"
}
.social_skype_square:before{
    content:"\e0d0"
}
.social_youtube_square:before{
    content:"\e0d1"
}
.social_picassa_square:before{
    content:"\e0d2"
}
.social_googledrive_square:before{
    content:"\e0d3"
}
.social_flickr_square:before{
    content:"\e0d4"
}
.social_blogger_square:before{
    content:"\e0d5"
}
.social_spotify_square:before{
    content:"\e0d6"
}
.social_delicious_square:before{
    content:"\e0d7"
}
.icon_printer:before{
    content:"\e103"
}
.icon_calulator:before{
    content:"\e0ee"
}
.icon_building:before{
    content:"\e0ef"
}
.icon_floppy:before{
    content:"\e0e8"
}
.icon_drive:before{
    content:"\e0ea"
}
.icon_search-2:before{
    content:"\e101"
}
.icon_id:before{
    content:"\e107"
}
.icon_id-2:before{
    content:"\e108"
}
.icon_puzzle:before{
    content:"\e102"
}
.icon_like:before{
    content:"\e106"
}
.icon_dislike:before{
    content:"\e0eb"
}
.icon_mug:before{
    content:"\e105"
}
.icon_currency:before{
    content:"\e0ed"
}
.icon_wallet:before{
    content:"\e100"
}
.icon_pens:before{
    content:"\e104"
}
.icon_easel:before{
    content:"\e0e9"
}
.icon_flowchart:before{
    content:"\e109"
}
.icon_datareport:before{
    content:"\e0ec"
}
.icon_briefcase:before{
    content:"\e0fe"
}
.icon_shield:before{
    content:"\e0f6"
}
.icon_percent:before{
    content:"\e0fb"
}
.icon_globe:before{
    content:"\e0e2"
}
.icon_globe-2:before{
    content:"\e0e3"
}
.icon_target:before{
    content:"\e0f5"
}
.icon_hourglass:before{
    content:"\e0e1"
}
.icon_balance:before{
    content:"\e0ff"
}
.icon_rook:before{
    content:"\e0f8"
}
.icon_printer-alt:before{
    content:"\e0fa"
}
.icon_calculator_alt:before{
    content:"\e0e7"
}
.icon_building_alt:before{
    content:"\e0fd"
}
.icon_floppy_alt:before{
    content:"\e0e4"
}
.icon_drive_alt:before{
    content:"\e0e5"
}
.icon_search_alt:before{
    content:"\e0f7"
}
.icon_id_alt:before{
    content:"\e0e0"
}
.icon_id-2_alt:before{
    content:"\e0fc"
}
.icon_puzzle_alt:before{
    content:"\e0f9"
}
.icon_like_alt:before{
    content:"\e0dd"
}
.icon_dislike_alt:before{
    content:"\e0f1"
}
.icon_mug_alt:before{
    content:"\e0dc"
}
.icon_currency_alt:before{
    content:"\e0f3"
}
.icon_wallet_alt:before{
    content:"\e0d8"
}
.icon_pens_alt:before{
    content:"\e0db"
}
.icon_easel_alt:before{
    content:"\e0f0"
}
.icon_flowchart_alt:before{
    content:"\e0df"
}
.icon_datareport_alt:before{
    content:"\e0f2"
}
.icon_briefcase_alt:before{
    content:"\e0f4"
}
.icon_shield_alt:before{
    content:"\e0d9"
}
.icon_percent_alt:before{
    content:"\e0da"
}
.icon_globe_alt:before{
    content:"\e0de"
}
.icon_clipboard:before{
    content:"\e0e6"
}
html *{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
body{
    background:#fff;
    font-size:14px;
    font-size:0.875rem;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#444
}
h1,h2,h3,h4,h5,h6{
    color:var(--tcolor);
    font-weight:500;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
p{
    margin-bottom:20px
}
strong{
    font-weight:500
}
label{
    font-weight:500;
    margin-bottom:3px
}
hr{
    margin-top:25px;
    margin-bottom:25px;
    border-color:#ededed
}
a{
    color:var(--bscolor);
    text-decoration:none;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    outline:none
}
a:hover,a:focus{
    color:#111;
    text-decoration:none;
    outline:none
}
.container{
    max-width:1280px !important
}
@media (max-width: 991px){
    .container{
        max-width:100% !important
    }
}
.small-gutters{
    margin-right:-5px !important;
    margin-left:-5px !important
}
.small-gutters>[class*="col-"]{
    padding-right:5px !important;
    padding-left:5px !important
}
header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    padding:15px 0;
    z-index:99999;
    border-bottom:1px solid rgba(255,255,255,0)
}
@media (max-width: 991px){
    header{
        padding:10px 0 10px 0
    }
}
header.header .logo_sticky{
    display:none
}
header.header.sticky{
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    transition:all 0.2s ease;
    border-bottom:1px solid #ededed;
    background-color:#fff;
    -webkit-animation-fill-mode:initial;
    animation-fill-mode:initial;
    -webkit-animation-name:smoothScroll;
    animation-name:smoothScroll;
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s
}
header.header.sticky .logo_normal{
    display:none
}
header.header.sticky .logo_sticky{
    display:inline-block
}
header.header.sticky ul#top_menu:before{
    content:"";
    background-color:#000;
    background-color:rgba(0,0,0,0.175)
}
header.header.sticky ul#top_menu li a{
    color:#444
}
header.header.sticky ul#top_menu li a:hover{
    color:#fff
}
header.header.sticky ul#top_menu li a.green{
    color:#fff
}
header.header_in{
    background-color:#fff;
    position:relative;
    border-bottom:1px solid #ededed
}
header.header_in.shadow{
    -webkit-box-shadow:0 5px 15px 0 rgba(0,0,0,0.075);
    -moz-box-shadow:0 5px 15px 0 rgba(0,0,0,0.075);
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.075)
}
header.header_in.sticky{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    -webkit-animation-fill-mode:initial;
    animation-fill-mode:initial;
    -webkit-animation-name:smoothScroll;
    animation-name:smoothScroll;
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s
}
@media (max-width: 991px){
    header.header_in ul#top_menu{
        right:15px
    }
}
header.header_in ul#top_menu:before{
    content:"";
    background-color:#ccc
}
header.header_in ul#top_menu li a{
    color:#444
}
header.header_in ul#top_menu li a:hover{
    color:#fff
}
header.header_in ul#top_menu li a.green{
    color:#fff
}
@media (max-width: 991px){
    header.header_in #logo a{
        z-index:9;
        position:relative
    }
}
header a.open_close{
    position:absolute;
    left:10px;
    top:5px;
    z-index:999;
    color:#fff;
    font-size:32px;
    font-size:2rem;
    display:none;
    width:25px;
    height:25px
}
@media (max-width: 991px){
    header a.open_close{
        display:block
    }
}
header a.open_close span{
    display:none
}
header a.open_close:hover{
    opacity:0.8
}
header.sticky a.open_close,.header_in a.open_close{
    color:#444
}
#logo{
    float:left
}
@media (max-width: 991px){
    #logo{
        float:none;
        width:100%;
        text-align:center
    }
    #logo img{
        width:auto;
        height:28px
    }
}
.main-menu{
    position:relative;
    z-index:9;
    top:7px;
    float:right;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.main-menu ul,.main-menu ul li{
    position:relative;
    margin:0;
    padding:0
}
.main-menu ul a,.main-menu ul li a{
    position:relative;
    margin:0;
    padding:0;
    display:block;
    padding:10px
}
.main-menu>ul>li>a{
    color:#fff;
    padding:0 8px 10px 8px;
    font-size:14px;
    font-size:0.875rem;
    font-weight:500
}
.main-menu>ul>li:hover>a{
    opacity:0.8
}
header.sticky .main-menu>ul>li>a,header.header_in .main-menu>ul>li>a{
    color:#444
}
header.sticky .main-menu>ul>li:hover>a,header.header_in .main-menu>ul>li:hover>a{
    opacity:1;
    color:var(--bscolor)
}
#close_in,#header_menu{
    display:none
}
@media only screen and (min-width: 992px){
    .main-menu{
        width:auto
    }
    .main-menu a{
        white-space:nowrap
    }
    .main-menu ul li{
        display:inline-block
    }
    .main-menu ul li.submenu:hover>a:before,.main-menu ul li.submenu:hover>a:after{
        bottom:-10px;
        opacity:0
    }
    .main-menu ul ul{
        position:absolute;
        z-index:1;
        visibility:hidden;
        left:3px;
        top:100%;
        margin:0;
        display:block;
        padding:10px 0 !important;
        background:#121921;
        min-width:210px;
        -webkit-box-shadow:0px 6px 12px 0px rgba(0,0,0,0.175);
        -moz-box-shadow:0px 6px 12px 0px rgba(0,0,0,0.175);
        box-shadow:0px 6px 12px 0px rgba(0,0,0,0.175);
        transform:scale(0.4);
        transform-origin:10% top;
        transition:0.15s linear,0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1),0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        border-radius:3px;
        opacity:0;
        -moz-transition:all 0.2s ease;
        -o-transition:all 0.2s ease;
        -webkit-transition:all 0.2s ease;
        -ms-transition:all 0.2s ease;
        transition:all 0.2s ease
    }
    .main-menu ul ul:before{
        bottom:100%;
        left:12%;
        border:solid transparent;
        content:" ";
        height:0;
        width:0;
        position:absolute;
        pointer-events:none;
        border-bottom-color:#121921;
        border-width:7px;
        margin-left:-7px
    }
    .main-menu ul li:hover>ul{
        padding:0;
        visibility:visible;
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-transition-delay:0.2s;
        transition-delay:0.2s;
        -webkit-transition-duration:0s, 0.2s, 0.2s;
        transition-duration:0s,0.2s,0.2s
    }
    .main-menu ul ul li{
        display:block;
        height:auto;
        padding:0
    }
    .main-menu ul ul li a{
        font-size:13px;
        font-size:0.8125rem;
        color:#ccc;
        display:block;
        padding:7px 15px;
        -moz-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;
        -ms-transition:all 0.3s ease;
        transition:all 0.3s ease;
        font-weight:500
    }
    .main-menu ul ul li:first-child a:hover{
        -webkit-border-radius:3px 3px 0 0;
        -moz-border-radius:3px 3px 0 0;
        -ms-border-radius:3px 3px 0 0;
        border-radius:3px 3px 0 0
    }
    .main-menu ul ul li:last-child a{
        border-bottom:none
    }
    .main-menu ul ul li:last-child a:hover{
        -webkit-border-radius:0 0 3px 3px;
        -moz-border-radius:0 0 3px 3px;
        -ms-border-radius:0 0 3px 3px;
        border-radius:0 0 3px 3px
    }
    .main-menu ul ul li:hover>a{
        color:#fff;
        padding-left:18px
    }
    .main-menu ul ul li.third-level>a:hover{
        background-color:#121921;
        color:#fff;
        padding-left:18px;
        opacity:1
    }
    .main-menu ul ul li.third-level>a:after{
        font-family:'ElegantIcons';
        content:"\35";
        float:right;
        font-size:16px;
        font-size:1rem;
        margin-top:-2px
    }
    .main-menu ul ul ul{
        position:absolute;
        z-index:1;
        height:auto;
        left:100%;
        top:-10px;
        margin:0 0 0 3px;
        padding:0;
        min-width:190px
    }
    .main-menu ul ul ul:before{
        border-width:0;
        margin-left:0
    }
}
@media only screen and (max-width: 991px){
    #header_menu{
        display:block;
        text-align:center;
        position:relative;
        padding:30px 0 25px 0;
        background-color:var(--bscolor)
    }
    #header_menu a.open_close{
        position:absolute;
        right:15px;
        top:0;
        left:inherit;
        color:#fff !important
    }
    .main-menu ul li a:hover,a.show-submenu:hover{
        color:var(--bscolor) !important;
        background-color:#f9f9f9;
        opacity:1 !important
    }
    .main-menu ul li{
        border-top:none;
        border-bottom:1px solid #ededed;
        color:#fff
    }
    .main-menu ul li a{
        padding:15px !important
    }
    .main-menu li,.main-menu a{
        display:block;
        color:#333 !important
    }
    .main-menu li{
        position:relative
    }
    .main-menu ul>li{
        padding-bottom:0
    }
    .main-menu ul>li i{
        float:right
    }
    .main-menu>ul>li.submenu:hover>a:after{
        transform:rotate(180deg);
        color:var(--bscolor)
    }
    .main-menu ul>li.submenu>a:after{
        font-family:'ElegantIcons';
        font-size:21px;
        font-size:1.3125rem;
        content:"\33";
        color:#444;
        line-height:1;
        float:right;
        display:inline-block;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -webkit-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out
    }
    .main-menu ul li.submenu ul{
        border-left:1px solid #ededed;
        margin:0 0 10px 25px
    }
    .main-menu ul li.submenu ul li{
        border:0;
        font-size:13px;
        font-size:0.8125rem
    }
    .main-menu ul li.submenu ul ul{
        border-left:none;
        margin:0 0 0 15px
    }
    .main-menu{
        overflow-y:scroll;
        transform:translateX(-102%);
        top:0;
        left:0;
        bottom:0;
        width:55%;
        height:100%;
        position:fixed;
        z-index:999;
        background-color:#fff;
        -webkit-transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1)
    }
    .main-menu.show{
        transform:translateX(0);
        transform:translateY(auto)
    }
    .main-menu .show-submenu+ul{
        display:none;
        visibility:hidden
    }
    .main-menu a.show-submenu+ul.show_normal{
        display:block;
        visibility:visible
    }
}
@media only screen and (max-width: 480px){
    .main-menu{
        width:100%
    }
}
ul#top_menu{
    float:right;
    padding:7px 0 0 22px;
    list-style:none;
    margin:0 0 0 10px;
    position:relative
}
ul#top_menu:before{
    position:absolute;
    top:2px;
    left:0;
    display:inline-block;
    width:1px;
    height:32px;
    content:"";
    background-color:#fbfbfb;
    background-color:rgba(255,255,255,0.7)
}
@media (max-width: 991px){
    ul#top_menu{
        position:absolute;
        top:11px;
        right:15px;
        float:none
    }
}
ul#top_menu>li{
    float:left;
    margin-left:10px;
    font-weight:500
}
ul#top_menu>li:first-child{
    margin-left:0
}
@media (max-width: 767px){
    ul#top_menu>li:last-child{
        display:none
    }
}
ul#top_menu>li a.btn_access{
    margin:0;
    border:1px solid #999;
    color:#fff;
    padding:7px 15px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px
}
@media (max-width: 767px){
    ul#top_menu>li a.btn_access{
        padding:7px 10px
    }
}
ul#top_menu>li a.btn_access:hover{
    background-color:var(--bscolor);
    border-color:var(--bscolor)
}
ul#top_menu>li a.btn_access.green{
    background-color:#3cb46e;
    border-color:transparent
}
ul#top_menu>li a.btn_access.green:hover{
    background-color:var(--bpcolor)
}
@media (max-width: 991px){
    ul#top_menu{
        padding:2px 0 0 0;
        margin:0
    }
    ul#top_menu:before{
        display:none
    }
}
@media (max-width: 767px){
    ul#top_menu.drop_user li:last-child{
        display:block
    }
}
.hero_single{
    width:100%;
    position:relative;
    margin:0;
    color:#fff;
    text-align:center
}
.hero_single .opacity-mask{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%
}
.hero_single .opacity-mask h1,.hero_single .opacity-mask h3{
    color:#fff;
    line-height:1;
    font-size:46px;
    font-size:2.875rem;
    margin:0 0 10px 0;
    font-weight:600
}
@media (max-width: 767px){
    .hero_single .opacity-mask h1,.hero_single .opacity-mask h3{
        font-size:36px;
        font-size:2.25rem
    }
}
.hero_single .opacity-mask p{
    font-size:28px;
    font-size:1.75rem;
    line-height:1.3;
    font-weight:300
}
@media (max-width: 767px){
    .hero_single .opacity-mask p{
        font-size:21px;
        font-size:1.3125rem
    }
}
.hero_single.version_2{
    text-align:left;
    height:650px;
    background:#ededed url(../images/home_section_1.jpg) center center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
@media (max-width: 991px){
    .hero_single.version_2{
        height:560px;
        text-align:center
    }
}

@media (max-width: 767px){
    .hero_single.version_2.full_height{
        height:560px
    }
}
.hero_single.inner_pages{
    height:480px;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#ededed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.hero_single.inner_pages h1{
    padding-top:45px
}
.custom-search-input{
    background-color:#fff;
    padding:5px 5px 5px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    margin-top:10px;
    width:550px;
    -webkit-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);
    box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3)
}
@media (max-width: 991px){
    .custom-search-input{
        margin:auto
    }
}
@media (max-width: 767px){
    .custom-search-input{
        background:none;
        padding:5px 0 5px 0;
        margin:auto;
        width:100%;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none
    }
}
.custom-search-input input{
    border:0;
    height:50px;
    padding:10px 10px 10px 20px;
    font-weight:600;
    font-size:16px;
    font-size:1rem;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    border-radius:0
}
@media (max-width: 767px){
    .custom-search-input input{
        border:none;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        border-radius:3px
    }
}
.custom-search-input input:focus{
    box-shadow:none
}
@media (max-width: 767px){
    .custom-search-input input:focus{
        border-right:none
    }
}
.custom-search-input .form-group{
    margin:0
}
@media (max-width: 767px){
    .custom-search-input .form-group{
        margin-bottom:5px
    }
}
.custom-search-input input[type='submit']{
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    color:#fff;
    font-weight:600;
    font-size:16px;
    font-size:1rem;
    border:0;
    padding:0 25px;
    height:50px;
    cursor:pointer;
    outline:none;
    width:100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    background-color:var(--bpcolor);
    margin-right:-1px
}
@media (max-width: 767px){
    .custom-search-input input[type='submit']{
        margin:5px 0 0 0;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        border-radius:3px
    }
}
.custom-search-input input[type='submit']:hover{
    background-color:var(--bscolor)
}
.page_header{
    padding:0 0 20px 0;
    font-weight:500;
    font-size:18px;
    font-size:1.125rem
}
@media (max-width: 767px){
    .page_header{
        display:none
    }
}
.page_header h1{
    font-size:18px;
    font-size:1.125rem;
    display:inline-block;
    margin:0
}
.breadcrumbs{
    line-height:1;
    color:#555
}
.breadcrumbs ul{
    margin:5px 0 5px 0;
    padding:0;
    font-size:12px;
    font-size:0.75rem
}
.breadcrumbs ul li{
    display:inline-block;
    margin-right:5px;
    padding-right:10px;
    position:relative
}
.breadcrumbs ul li a{
    color:#777
}
.breadcrumbs ul li a:hover{
    color:var(--bscolor)
}
.breadcrumbs ul li:after{
    font-family:'ElegantIcons';
    content:"\35";
    font-size:16px;
    font-size:1rem;
    position:absolute;
    top:-3px
}
.breadcrumbs ul li:last-child{
    font-weight:500
}
.breadcrumbs ul li:last-child:after{
    content:'';
    margin-right:0
}
@keyframes smoothScroll{
    0%{
        transform:translateY(-200px)
    }
    100%{
        transform:translateY(0px)
    }
}
.main_title{
    position:relative;
    margin-bottom:25px;
    position:relative
}
.main_title span{
    display:block
}
.main_title span em{
    width:50px;
    height:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    background-color:var(--bpcolor);
    display:block
}
@media (max-width: 767px){
    .main_title{
        margin-bottom:10px
    }
}
.main_title h2{
    font-size:26px;
    font-size:1.625rem;
    max-width:600px;
    margin:20px 0 0 0
}
@media (max-width: 767px){
    .main_title h2{
        font-size:22px;
        font-size:1.375rem
    }
}
.main_title p{
    max-width:600px;
    font-size:18px;
    font-size:1.125rem;
    font-weight:300
}
.main_title a{
    position:absolute;
    right:65px;
    bottom:0;
    font-weight:600;
    background-color:#eee;
    padding:5px 15px;
    font-size:13px;
    font-size:0.8125rem;
    display:inline-block;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    border-radius:25px;
    color:#777
}
.main_title a:hover{
    background-color:var(--bscolor);
    color:#fff
}
@media (max-width: 991px){
    .main_title a{
        display:none
    }
}
.main_title.center{
    text-align:center
}
.main_title.center span{
    margin:auto
}
.main_title.center span em{
    margin:auto
}
.main_title.center h2{
    max-width:inherit;
    font-size:34px;
    font-size:2.125rem
}
@media (max-width: 767px){
    .main_title.center h2{
        font-size:28px;
        font-size:1.75rem
    }
}
.main_title.center p{
    font-size:21px;
    font-size:1.3125rem;
    font-weight:300;
    max-width:inherit
}
.main_title.version_2 a{
    right:0
}
@media (max-width: 767px){
    .main_title.version_2 a{
        display:none
    }
}
.owl-carousel{
    display:none;
    width:100%;
    -webkit-tap-highlight-color:transparent;
    position:relative;
    z-index:1
}
.owl-carousel .owl-stage{
    position:relative;
    -ms-touch-action:pan-Y;
    touch-action:manipulation;
    -moz-backface-visibility:hidden
}
.owl-carousel .owl-stage:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0)
}
.owl-carousel .owl-item{
    position:relative;
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none
}
.owl-carousel .owl-item img{
    display:block;
    width:100%;
    height:auto
}
.owl-carousel .owl-nav.disabled,.owl-carousel .owl-dots.disabled{
    display:none
}
.owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-dot{
    cursor:pointer;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next,.owl-carousel button.owl-dot{
    background:none;
    color:inherit;
    border:none;
    padding:0 !important;
    font:inherit
}
.owl-carousel.owl-loaded{
    display:block
}
.owl-carousel.owl-loading{
    opacity:0;
    display:block
}
.owl-carousel.owl-hidden{
    opacity:0
}
.owl-carousel.owl-refresh .owl-item{
    visibility:hidden
}
.owl-carousel.owl-drag .owl-item{
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-grab{
    cursor:move;
    cursor:grab
}
.owl-carousel .owl-item .owl-lazy{
    opacity:0;
    transition:all 400ms ease
}
.owl-carousel .owl-item .owl-lazy[src^=""],.owl-carousel .owl-item .owl-lazy:not([src]){
    max-height:0
}
.owl-carousel .owl-item img.owl-lazy{
    transform-style:preserve-3d
}
.owl-theme .owl-nav{
    margin-top:0;
    position:absolute;
    top:-60px;
    z-index:999;
    right:-10px;
    -webkit-tap-highlight-color:transparent
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
    font-size:32px;
    font-size:2rem;
    outline:none
}
.owl-theme .owl-nav [class*='owl-']{
    color:var(--tcolor) !important;
    margin:5px 0;
    padding:4px 7px;
    display:inline-block;
    cursor:pointer
}
.owl-theme .owl-nav [class*='owl-']:hover{
    color:#FFF;
    text-decoration:none
}
.owl-theme .owl-nav .disabled{
    opacity:0.5;
    cursor:default
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top:10px
}
.owl-theme .owl-dots{
    text-align:center;
    -webkit-tap-highlight-color:transparent
}
.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    zoom:1;
    *display:inline
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next,.owl-carousel button.owl-dot{
    outline:none
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background:transparent !important;
    border:2px solid var(--bscolor);
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.owl-theme .owl-dots .owl-dot span{
    position:relative;
    margin:0 5px;
    border-radius:50%;
    width:16px !important;
    height:16px !important;
    background:transparent !important;
    display:block;
    -webkit-backface-visibility:visible;
    transition:all .3s ease;
    border:2px solid #ccc
}
.owl-theme .owl-dots .owl-dot span::before{
    content:'';
    background-color:var(--bscolor) !important;
    display:block;
    border-radius:50%;
    width:8px;
    height:8px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-4px;
    margin-left:-4px;
    opacity:0;
    visibility:hidden;
    transform:scale(0);
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.owl-theme .owl-dots .owl-dot.active span::before{
    transform:scale(1);
    opacity:1;
    visibility:visible
}
.strip{
    position:relative;
    margin-bottom:30px
}
.strip figure{
    margin-bottom:5px;
    overflow:hidden;
    position:relative;
    height:220px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px;
    background-color:#ededed
}
@media (max-width: 991px){
    .strip figure{
        height:190px
    }
}
@media (max-width: 767px){
    .strip figure{
        height:180px
    }
}
.strip figure a.wish_bt{
    position:absolute;
    right:10px;
    top:10px;
    z-index:7;
    width:32px;
    height:32px;
    background-color:#000;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    text-align:center;
    line-height:34px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    display:block;
    opacity:0;
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px)
}
.strip figure a.wish_bt:hover{
    color:#fff;
    background-color:var(--bscolor)
}
.strip figure a.wish_bt.liked{
    color:#fff;
    background-color:var(--bscolor);
    opacity:1;
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0)
}
.strip figure img{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%, -50%) scale(1);
    -moz-transform:translate(-50%, -50%) scale(1);
    -ms-transform:translate(-50%, -50%) scale(1);
    -o-transform:translate(-50%, -50%) scale(1);
    transform:translate(-50%, -50%) scale(1);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    width:100%;
    z-index:1;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.strip figure:hover img{
    -webkit-transform:translate(-50%, -50%) scale(1.1);
    -moz-transform:translate(-50%, -50%) scale(1.1);
    -ms-transform:translate(-50%, -50%) scale(1.1);
    -o-transform:translate(-50%, -50%) scale(1.1);
    transform:translate(-50%, -50%) scale(1.1)
}
.strip figure a.strip_info{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index:5;
    display:block
}
.strip figure .item_title{
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    padding:65px 15px 10px 15px;
    background:-moz-linear-gradient(top, transparent 5%, #000 100%);
    background:-webkit-linear-gradient(top, transparent 5%, #000 100%);
    background:linear-gradient(to bottom, transparent 5%, #000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0)
}
.strip figure .item_title h3{
    font-size:18px;
    font-size:1.125rem;
    margin:0;
    font-weight:500;
    color:#fff;
    margin:0 0 3px 0;
    padding:0;
    line-height:1
}
.strip figure .item_title small{
    font-weight:500;
    line-height:1;
    font-size:14px;
    font-size:0.875rem;
    color:rgba(255,255,255,0.8)
}
.strip ul{
    padding:0;
    margin:8px 0 0 0
}
.strip ul li{
    display:inline-block;
    padding-top:6px;
    margin-right:8px;
    position:relative;
    font-size:12px;
    font-size:0.75rem;
    font-weight:500
}
.strip ul li a i{
    font-size:18px;
    font-size:1.125rem;
    color:#bdbfc2;
    position:relative;
    bottom:-3px
}
.strip ul li a i:hover{
    color:var(--bscolor)
}
.strip ul li:last-child{
    padding:0;
    margin-right:0;
    float:right
}
.strip figure:hover a.wish_bt{
    opacity:1;
    animation:fadeIn 0.5s ease;
    animation-fill-mode:both;
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0)
}
.score strong{
    border:1px solid #ededed;
    line-height:1;
    -webkit-border-radius:5px 5px 5px 0;
    -moz-border-radius:5px 5px 5px 0;
    -ms-border-radius:5px 5px 5px 0;
    border-radius:5px 5px 5px 0;
    padding:10px 10px 10px 10px;
    display:inline-block;
    font-size:15px;
    font-size:0.9375rem
}
.score span{
    display:inline-block;
    position:relative;
    top:6px;
    margin-right:8px;
    font-size:12px;
    font-size:0.75rem;
    text-align:right;
    line-height:1.1;
    font-weight:500
}
.score span em{
    display:block;
    font-weight:normal;
    font-size:11px;
    font-size:0.6875rem
}
.margin_60_40{
    padding-top:60px;
    padding-bottom:40px
}
.margin_60_30{
    padding-top:60px;
    padding-bottom:30px
}
.margin_45_40{
    padding-top:45px;
    padding-bottom:40px
}
.margin_30_40{
    padding-top:30px;
    padding-bottom:40px
}
.margin_detail{
    padding-top:30px;
    padding-bottom:15px
}
@media (max-width: 991px){
    .margin_detail{
        padding-top:20px;
        padding-bottom:15px
    }
}
.add_bottom_10{
    padding-bottom:10px
}
.add_bottom_15{
    padding-bottom:15px
}
.add_bottom_25{
    padding-bottom:25px
}
.add_bottom_30{
    padding-bottom:30px
}
.add_bottom_45{
    padding-bottom:45px
}
.add_top_10{
    margin-top:10px
}
.add_top_30{
    margin-top:30px
}
.bg_gray{
    background-color:#f4f7fb
}
.bg_gray.pattern{
    background:#f4f7fb url(../images/pattern_2.svg) repeat center center
}
.bg_gray.pattern_mail{
    background:#f4f7fb url(../images/pattern_4.svg) repeat center center
}
.mb_25{
    margin-bottom:25px
}
.mb_5{
    margin-bottom:5px
}
@media (max-width: 767px){
    .margin_mobile{
        padding-top:30px;
        padding-bottom:10px
    }
}
a.btn_1,.btn_1{
    border:none;
    background:var(--bscolor);
    outline:none;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    padding:10px 20px;
    color:#fff;
    font-weight:600;
    text-align:center;
    font-size:14px;
    font-size:0.875rem;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    line-height:normal
}
a.btn_1:focus,.btn_1:focus{
    outline:none
}
a.btn_1:hover,.btn_1:hover{
    background:var(--bpcolor)
}
a.btn_1.full-width,.btn_1.full-width{
    display:block;
    width:100%;
    text-align:center
}
a.btn_1.full-width.booking,.btn_1.full-width.booking{
    padding:15px;
    background-color:#3cb46e
}
a.btn_1.full-width.booking:hover,.btn_1.full-width.booking:hover{
    background-color:var(--bpcolor)
}
a.btn_1.small,.btn_1.small{
    font-size:12px;
    font-size:0.75rem;
    padding:7px 15px
}
a.btn_1.medium,.btn_1.medium{
    font-size:16px;
    font-size:1rem;
    padding:18px 40px
}
a.btn_1.outline,.btn_1.outline{
    border:1px solid #999;
    color:#444 !important;
    padding:7px 15px;
    background-color:transparent
}
a.btn_1.outline:hover,.btn_1.outline:hover{
    border-color:var(--bscolor);
    color:var(--bscolor) !important
}
a.btn_1.outline:focus,.btn_1.outline:focus{
    outline:none
}
a.btn_1.gray,.btn_1.gray{
    background:#f0f0f0;
    color:#111 !important
}
a.btn_1.gray:hover,.btn_1.gray:hover{
    background-color:#FFC107;
    color:#111 !important
}
.box_general{
    background-color:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
    margin-bottom:25px;
    -webkit-box-shadow:0px 7px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 7px 25px 0px rgba(0,0,0,0.1);
    box-shadow:0px 7px 25px 0px rgba(0,0,0,0.1)
}
.box_general.padding{
    padding:25px
}
.tooltip{
    line-height:1.3;
    font-size:11px;
    font-size:0.6875rem;
    font-weight:600
}
.tooltip.show{
    opacity:0.8
}
.bg_color{
    background:#fafafc
}
.ribbon{
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    border-radius:25px;
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-size:0.75rem;
    line-height:1;
    position:absolute;
    top:12px;
    right:15px;
    padding:6px 8px 6px 8px;
    font-weight:600;
    min-width:40px;
    z-index:9
}
.ribbon.off{
    background-color:#ff3300
}
ul.bullets{
    line-height:1.8;
    margin:0;
    list-style:none;
    padding:0
}
ul.bullets li{
    position:relative;
    padding-left:20px
}
ul.bullets li:before{
    font-family:'ElegantIcons';
    font-size:14px;
    font-size:0.875rem;
    content:"\5c";
    color:#ccc;
    position:absolute;
    left:0;
    top:0
}
.opacity-mask{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:2
}
.layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-width:100%;
    min-height:100%;
    z-index:999;
    background-color:rgba(0,0,0,0.35);
    -moz-transition:all 0.1s ease;
    -o-transition:all 0.1s ease;
    -webkit-transition:all 0.1s ease;
    -ms-transition:all 0.1s ease;
    transition:all 0.1s ease;
    opacity:0;
    visibility:hidden
}
.layer-is-visible{
    opacity:1;
    visibility:visible
}
.rotate-x{
    animation-duration:.5s;
    animation-name:rotate-x
}
@keyframes rotate-x{
    from{
        transform:rotateY(0deg)
    }
    to{
        transform:rotateY(360deg)
    }
}
.dropdown.user{
    padding:0;
    border:0;
    margin-top:-6px;
    margin-bottom:0
}
.dropdown.user>a{
    float:left;
    padding:10px 0 10px 45px !important;
    line-height:1;
    color:#fff;
    font-weight:500;
    display:block;
    position:relative
}
@media (max-width: 767px){
    .dropdown.user>a{
        padding-left:0
    }
}
.dropdown.user>a:hover{
    opacity:0.8
}
.dropdown.user>a figure{
    width:34px;
    height:34px;
    overflow:hidden;
    position:absolute;
    left:0;
    top:0;
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    border:2px solid #ededed
}
@media (max-width: 767px){
    .dropdown.user>a figure{
        display:none
    }
}
.dropdown.user>a figure img{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    width:100%
}
.dropdown.user>a:after{
    font-family:'ElegantIcons';
    content:'\33';
    font-size:18px;
    font-size:1.125rem;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    position:relative;
    top:0;
    margin:0;
    line-height:1;
    margin-top:-2px;
    margin-left:5px;
    float:right
}
.dropdown.user.show a:after{
    transform:rotate(180deg)
}
.dropdown.user .dropdown-menu{
    font-size:14px;
    font-size:0.875rem;
    -webkit-box-shadow:0px 7px 25px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 7px 25px 0px rgba(0,0,0,0.2);
    box-shadow:0px 7px 25px 0px rgba(0,0,0,0.2);
    border:0;
    background:#121921;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    padding:10px 18px;
    width:auto;
    left:-1px !important;
    right:-1px !important;
    margin:5px 0 0 0;
    min-width:inherit
}
.dropdown.user .dropdown-menu h4{
    text-align:center;
    font-size:14px;
    font-size:0.875rem;
    text-transform:uppercase
}
.dropdown.user .dropdown-menu ul{
    list-style:none;
    padding:0;
    margin:0
}
.dropdown.user .dropdown-menu ul li a{
    padding:8px 0;
    line-height:1;
    display:inline-block;
    font-size:13px;
    font-size:0.8125rem;
    color:#ccc !important
}
.dropdown.user .dropdown-menu ul li a i{
    margin-right:8px
}
.dropdown.user .dropdown-menu ul li a:hover{
    color:#fff !important
}
.sticky .dropdown.user>a,.header_in .dropdown.user>a{
    color:#444
}
.sticky .dropdown.user>a:hover,.header_in .dropdown.user>a:hover{
    color:var(--bscolor) !important
}
.header_in .dropdown.user>a:after{
    margin-left:15px
}
.container_check{
    display:block;
    position:relative;
    padding-left:30px;
    line-height:1.7;
    margin-bottom:8px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.container_check input{
    position:absolute;
    opacity:0;
    cursor:pointer
}
.container_check input:checked ~ .checkmark{
    background-color:var(--bscolor);
    border:1px solid transparent
}
.container_check .checkmark{
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:20px;
    border:1px solid #d2d8dd;
    background-color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.container_check .checkmark:after{
    content:"";
    position:absolute;
    display:none;
    left:7px;
    top:3px;
    width:5px;
    height:10px;
    border:solid white;
    border-width:0 2px 2px 0;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}
.container_check input:checked ~ .checkmark:after{
    display:block
}
.container_radio{
    display:block;
    position:relative;
    padding-left:30px;
    line-height:1.7;
    margin-bottom:8px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.container_radio input{
    position:absolute;
    opacity:0
}
.container_radio input:checked ~ .checkmark:after{
    opacity:1
}
.container_radio .checkmark{
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:20px;
    border:1px solid #d2d8dd;
    background-color:#fff;
    border-radius:50%
}
.container_radio .checkmark:after{
    display:block;
    content:"";
    position:absolute;
    opacity:0;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    top:3px;
    left:3px;
    width:12px;
    height:12px;
    border-radius:50%;
    background:var(--bscolor);
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
.form-control{
    padding:10px;
    height:40px;
    font-size:14px;
    font-size:0.875rem;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    border:1px solid #d2d8dd
}
.form-control:focus{
    border-color:#ccc;
    outline:0;
    box-shadow:0 0 0 0.2rem rgba(0,0,0,0.05)
}
.form-group{
    position:relative
}
.error_message{
    font-weight:500;
    color:#e3464c
}
.nav-link{
    display:block;
    padding:0 15px;
    height:30px;
    font-size:15px;
    font-size:0.9375rem;
    color:#777
}
.nav-link:hover,.nav-link:focus{
    text-decoration:none;
    color:var(--bscolor)
}
.nav-link.disabled{
    color:#777
}
.nav-tabs{
    border:none;
    border-bottom:2px solid #dee2e6
}
.nav-tabs .nav-item{
    margin-bottom:-2px
}
.nav-tabs .nav-link{
    border:none
}
.nav-tabs .nav-link.disabled{
    color:#6c757d;
    background-color:transparent;
    border-color:transparent
}
.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{
    border-bottom:2px solid var(--tcolor);
    color:var(--tcolor);
    background-color:transparent
}
@media (min-width: 768px){
    .collapse.dont-collapse-sm{
        display:block !important;
        height:auto !important;
        visibility:visible !important
    }
}
footer{
    background-color:#fff;
    padding:60px 0 35px 0;
    position:relative
}
@media (max-width: 767px){
    footer{
        padding:5px 0 15px 0
    }
}
footer:before{
    content:"";
    display:block;
    width:100%;
    height:5px;
    background:var(--bscolor);
    background:-webkit-linear-gradient(left, var(--bscolor), var(--bpcolor));
    background:linear-gradient(to right, var(--bscolor), var(--bpcolor));
    position:absolute;
    top:0;
    left:0;
    right:0
}
footer hr{
    border-color:rgba(0,0,0,0.15);
    margin-top:5px
}
@media (max-width: 767px){
    footer hr{
        border-color:transparent
    }
}
footer .contacts ul{
    margin:0 0 25px 0;
    padding:0;
    list-style:none
}
@media (max-width: 767px){
    footer .contacts ul{
        margin-top:15px
    }
}
footer .contacts ul li{
    padding-left:35px;
    position:relative;
    margin-bottom:15px;
    opacity:0.8
}
footer .contacts ul li a{
    color:#444;
    opacity:1
}
footer .contacts ul li a:hover{
    opacity:1;
    color:var(--tcolor)
}
footer .contacts ul li i{
    font-size:18px;
    font-size:1.125rem;
    position:absolute;
    top:0;
    left:0;
    line-height:1
}
footer h3{
    font-size:16px;
    font-size:1rem;
    margin-bottom:15px;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    color:var(--tcolor)
}
@media (max-width: 767px){
    footer h3{
        font-size:14px;
        font-size:0.875rem;
        cursor:pointer;
        border-bottom:1px solid rgba(0,0,0,0.05);
        margin:0 -15px 0 -15px;
        padding:15px 15px 15px 15px;
        display:block
    }
    footer h3:after{
        font-family:'ElegantIcons';
        content:"\4c";
        width:20px;
        display:block;
        float:right
    }
    footer h3.opened:after{
        content:"\4b"
    }
}
footer .links ul{
    margin:0 0 25px 0;
    padding:0;
    list-style:none
}
@media (max-width: 767px){
    footer .links ul{
        margin-top:15px
    }
}
footer .links ul li{
    margin-bottom:8px;
    line-height:1.2
}
footer .links ul li a{
    position:relative;
    color:#444;
    opacity:0.8;
    display:inline-block
}
footer .links ul li a:hover{
    -webkit-transform:translate(5px, 0);
    -moz-transform:translate(5px, 0);
    -ms-transform:translate(5px, 0);
    -o-transform:translate(5px, 0);
    transform:translate(5px, 0);
    color:var(--tcolor);
    opacity:1
}
footer .links ul li a:hover:after{
    opacity:1;
    color:var(--tcolor)
}
footer .links ul li a:after{
    font-family:'ElegantIcons';
    content:"\24";
    position:relative;
    margin-left:5px;
    top:2px;
    opacity:0;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease
}
@-webkit-keyframes rotation{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(359deg);
        -moz-transform:rotate(359deg);
        -ms-transform:rotate(359deg);
        -o-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
@media (max-width: 767px){
    #newsletter{
        margin-top:20px
    }
}
#newsletter h6{
    margin:15px 0 15px 0
}
#newsletter input[type='email']{
    border:0;
    height:40px;
    -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    -ms-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
    padding-left:15px;
    background-color:#000;
    background-color:rgba(0,0,0,0.05)
}
#newsletter input[type='email']:focus{
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
#newsletter button[type='submit']{
    position:absolute;
    right:0;
    color:#fff;
    font-size:24px;
    font-size:1.5rem;
    top:0;
    border:0;
    padding:0 10px;
    height:40px;
    line-height:44px;
    cursor:pointer;
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    -ms-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
    background-color:var(--bscolor);
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    outline:none
}
#newsletter button[type='submit']:hover{
    background-color:var(--bpcolor)
}
#message-newsletter #success_page{
    opacity:0.6
}
.follow_us ul{
    margin:25px 0 25px 0;
    padding:0;
    list-style:none
}
.follow_us ul li{
    display:inline-block;
    margin:0 10px 0 0
}
.follow_us ul li a{
    display:block
}
.follow_us ul li a img{
    width:30px;
    height:30px
}
.follow_us ul li a:hover{
    -webkit-transform:translateY(-5px);
    -moz-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    -o-transform:translateY(-5px);
    transform:translateY(-5px)
}
ul.footer-selector{
    margin:0;
    padding:0;
    list-style:none
}
ul.footer-selector li{
    float:left;
    margin-right:10px
}
@media (max-width: 575px){
    ul.footer-selector li:last-child{
        padding-top:10px;
        clear:both;
        float:none;
        display:block !important
    }
}
ul.additional_links{
    margin:0;
    padding:8px 0 0 0;
    color:#444;
    float:right;
    font-size:13px;
    font-size:0.8125rem
}
@media (max-width: 991px){
    ul.additional_links{
        float:none;
        margin-top:10px
    }
}
ul.additional_links li{
    display:inline-block;
    margin-right:15px
}
ul.additional_links li:first-child{
    margin-right:20px
}
ul.additional_links li:last-child:after{
    content:""
}
ul.additional_links li span{
    color:#444;
    opacity:0.8
}
ul.additional_links li a{
    color:#444;
    opacity:0.8;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
ul.additional_links li a:hover{
    opacity:1;
    color:var(--tcolor)
}
ul.additional_links li:after{
    content:"|";
    font-weight:300;
    position:relative;
    left:10px
}
.styled-select{
    width:100%;
    overflow:hidden;
    height:35px;
    line-height:32px;
    border:none;
    background-color:#f2f2f2;
    background-color:rgba(255,255,255,0);
    border:1px solid #999;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    padding-right:35px;
    position:relative;
    color:#444;
    cursor:pointer
}
.styled-select:after{
    font-family:'ElegantIcons';
    color:var(--tcolor);
    position:absolute;
    right:10px;
    top:0
}
.styled-select.lang-selector:after{
    content:"\e0e3"
}
.styled-select.currency-selector:after{
    content:"\33"
}
.styled-select select{
    background:transparent;
    width:110%;
    padding-left:10px;
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    height:25px;
    color:#444;
    font-size:12px;
    font-size:0.75rem;
    margin:0;
    font-weight:500;
    -moz-appearance:window;
    -webkit-appearance:none;
    cursor:pointer;
    outline:none
}
.styled-select select:focus{
    color:#444;
    outline:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
.styled-select select::-ms-expand{
    display:none
}
.mfp-bg{
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999999;
    overflow:hidden;
    position:fixed;
    background:#000;
    opacity:0.96
}
.mfp-wrap{
    top:-10px;
    left:0;
    width:100%;
    height:100%;
    z-index:999999;
    position:fixed;
    outline:none !important;
    -webkit-backface-visibility:hidden
}
.mfp-container{
    height:100%;
    text-align:center;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding:0 18px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow-x:hidden;
    overflow-y:auto
}
.mfp-container:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle
}
.mfp-align-top .mfp-container:before{
    display:none
}
.mfp-content{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    text-align:left;
    z-index:505
}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{
    width:100%;
    cursor:auto
}
.mfp-ajax-cur{
    cursor:progress
}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
    cursor:-moz-zoom-out;
    cursor:-webkit-zoom-out;
    cursor:zoom-out
}
.mfp-zoom{
    cursor:pointer;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in
}
.mfp-auto-cursor .mfp-content{
    cursor:auto
}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.mfp-loading.mfp-figure{
    display:none
}
.mfp-hide{
    display:none !important
}
.mfp-preloader{
    color:#aaa;
    position:absolute;
    top:50%;
    width:auto;
    text-align:center;
    margin-top:-0.8em;
    left:8px;
    right:8px;
    z-index:504
}
.mfp-preloader a{
    color:#cccccc
}
.mfp-preloader a:hover{
    color:#fff
}
.mfp-s-ready .mfp-preloader{
    display:none
}
.mfp-s-error .mfp-content{
    display:none
}
.mfp-s-loading .mfp-arrow{
    display:none
}
button.mfp-close,button.mfp-arrow{
    overflow:visible;
    cursor:pointer;
    border:0;
    -webkit-appearance:none;
    display:block;
    padding:0;
    z-index:506
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{
    right:0px;
    top:-40px
}
button.mfp-close{
    position:absolute;
    width:45px;
    height:45px;
    top:-20px;
    display:block;
    right:-12px;
    cursor:pointer !important;
    z-index:9999;
    color:#fff;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    border-radius:50%;
    margin:0px;
    background-color:transparent;
    outline:none;
    transform:translate3d(0, 0, 0)
}
.mfp-gallery .mfp-content .mfp-close{
    display:none
}
.mfp-counter{
    position:absolute;
    top:0;
    right:0;
    color:#aaa;
    font-size:13px;
    line-height:18px
}
.mfp-arrow{
    opacity:1;
    margin:0 20px;
    top:50%;
    transform:translateY(-50%);
    z-index:9999;
    color:#fff;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
    width:50px;
    height:50px;
    position:absolute;
    display:block;
    z-index:100;
    overflow:hidden;
    background:rgba(255,255,255,0.15);
    border-radius:50%;
    outline:none !important
}
.mfp-arrow:hover{
    background:#66676b;
    color:#fff
}
.mfp-arrow.mfp-arrow-left,.mfp-arrow.mfp-arrow-right{
    font-family:'ElegantIcons';
    font-size:38px;
    line-height:1
}
.mfp-arrow.mfp-arrow-right{
    right:15px
}
.mfp-arrow.mfp-arrow-left:before,.mfp-arrow.mfp-arrow-right:before{
    content:"\34";
    left:-1px;
    top:-1px;
    position:relative
}
.mfp-arrow.mfp-arrow-right:before{
    content:"\35"
}
.mfp-content:hover .mfp-arrow{
    opacity:1
}
.mfp-iframe-holder{
    padding-top:40px;
    padding-bottom:40px
}
.mfp-iframe-holder .mfp-content{
    line-height:0;
    width:100%;
    max-width:1180px
}
.mfp-iframe-scaler{
    width:100%;
    height:0;
    overflow:hidden;
    padding-top:54%
}
.mfp-iframe-scaler iframe{
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 8px rgba(0,0,0,0.6);
    background:black
}
.my-mfp-zoom-in .zoom-anim-dialog{
    opacity:0;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8)
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog{
    opacity:1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1)
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0
}
.my-mfp-zoom-in.mfp-bg{
    opacity:0.001;
    -webkit-transition:opacity 0.3s ease-out;
    -moz-transition:opacity 0.3s ease-out;
    -o-transition:opacity 0.3s ease-out;
    transition:opacity 0.3s ease-out
}
.my-mfp-zoom-in.mfp-ready.mfp-bg{
    opacity:0.8
}
.my-mfp-zoom-in.mfp-removing.mfp-bg{
    opacity:0
}
img.mfp-img{
    width:auto;
    max-width:100%;
    height:auto;
    display:block;
    line-height:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:40px auto;
    border-radius:4px
}
.mfp-figure:after{
    content:'';
    position:absolute;
    left:0;
    top:40px;
    bottom:40px;
    display:block;
    right:0;
    width:auto;
    height:auto;
    z-index:-1;
    box-shadow:0 0 18px rgba(11,11,11,0.6)
}
.mfp-figure{
    line-height:0
}
.mfp-bottom-bar{
    position:absolute;
    top:102%;
    left:0;
    width:100%;
    cursor:auto
}
.mfp-title{
    text-align:left;
    line-height:18px;
    color:#f3f3f3;
    word-break:break-word;
    padding-right:36px
}
.mfp-figure small{
    color:#bdbdbd;
    display:block;
    font-size:12px;
    line-height:14px
}
.mfp-image-holder .mfp-content{
    max-width:100%
}
.mfp-gallery .mfp-image-holder .mfp-figure{
    cursor:pointer
}
.mfp-zoom-in .mfp-with-anim{
    opacity:0;
    transition:all 0.2s ease-in-out;
    transform:scale(0.8)
}
.mfp-zoom-in.mfp-bg{
    opacity:0;
    transition:all 0.3s ease-out
}
.mfp-zoom-in.mfp-ready .mfp-with-anim{
    opacity:1;
    transform:scale(1)
}
.mfp-zoom-in.mfp-ready.mfp-bg{
    opacity:0.9
}
.mfp-zoom-in.mfp-removing .mfp-with-anim{
    transform:scale(0.8);
    opacity:0
}
.mfp-zoom-in.mfp-removing.mfp-bg{
    opacity:0
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){
    .mfp-img-mobile .mfp-image-holder{
        padding-left:0;
        padding-right:0
    }
    .mfp-img-mobile img.mfp-img{
        padding:0
    }
    .mfp-img-mobile .mfp-figure:after{
        top:0;
        bottom:0
    }
    .mfp-img-mobile .mfp-bottom-bar{
        background:rgba(0,0,0,0.6);
        bottom:0;
        margin:0;
        top:auto;
        padding:3px 5px;
        position:fixed;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty{
        padding:0
    }
    .mfp-img-mobile .mfp-counter{
        right:5px;
        top:3px
    }
    .mfp-img-mobile .mfp-close{
        top:0;
        right:0;
        width:35px;
        height:35px;
        line-height:35px;
        background:rgba(0,0,0,0.6);
        position:fixed;
        text-align:center;
        padding:0
    }
    .mfp-img-mobile .mfp-figure small{
        display:inline;
        margin-left:5px
    }
}
.mfp-fade.mfp-bg{
    opacity:0;
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out
}
.mfp-fade.mfp-bg.mfp-ready{
    opacity:0.92;
    background-color:#111
}
.mfp-fade.mfp-bg.mfp-removing{
    opacity:0
}
.mfp-fade.mfp-wrap .mfp-content{
    opacity:0;
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{
    opacity:1
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{
    opacity:0
}
.popup_wrapper{
    background:rgba(0,0,0,0.7) none repeat scroll 0 0;
    height:100%;
    opacity:0;
    position:fixed;
    top:0;
    left:0;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease;
    visibility:hidden;
    width:100%;
    z-index:9999999
}
.popup_wrapper .popup_content{
    background-color:#fff;
    top:50%;
    left:50%;
    right:0;
    transform:translate(-50%, -50%);
    position:absolute;
    width:500px
}
@media (max-width: 767px){
    .popup_wrapper .popup_content{
        width:300px
    }
}
.popup_wrapper .popup_content.newsletter{
    width:800px
}
@media (max-width: 767px){
    .popup_wrapper .popup_content.newsletter{
        width:300px
    }
}
.popup_wrapper .popup_content.newsletter figure{
    position:absolute;
    overflow:hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0
}
.popup_wrapper .popup_content.newsletter figure img{
    height:100%;
    width:auto
}
.popup_wrapper .popup_content.newsletter .content{
    height:100%;
    padding:120px 60px;
    text-align:center;
    display:flex;
    align-items:center
}
@media (max-width: 767px){
    .popup_wrapper .popup_content.newsletter .content{
        padding:30px 30px 15px 30px;
        height:auto
    }
}
.popup_wrapper .popup_content.newsletter .content .wrapper{
    width:100%
}
.popup_wrapper .popup_content.newsletter .content .wrapper h3{
    font-size:21px;
    font-size:1.3125rem;
    margin-top:25px
}
.popup_wrapper .popup_close{
    color:#ffffff;
    cursor:pointer;
    display:block;
    text-align:center;
    text-decoration:none;
    background:#000;
    width:53px;
    height:25px;
    line-height:27px;
    position:absolute;
    top:-25px;
    right:0;
    font-size:13px;
    font-weight:700;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease
}
.popup_wrapper .popup_close:hover{
    background:#cc0000
}
#sign-in-dialog, #sign-up-dialog{
    background:#fff;
    padding:30px;
    padding-top:0;
    text-align:left;
    max-width:400px;
    margin:40px auto;
    position:relative;
    box-sizing:border-box;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px
}
#sign-in-dialog .mfp-close{
    color:#666;
    background-color:#e4e4e4;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    top:12px;
    right:20px;
    width:32px;
    height:32px;
    line-height:32px
}

#sign-up-dialog .mfp-close{
    color:#666;
    background-color:#e4e4e4;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    top:12px;
    right:20px;
    width:32px;
    height:32px;
    line-height:32px
}

#sign-in-dialog .mfp-close:hover{
    color:#fff;
    background-color:#66676b
}

#sign-up-dialog .mfp-close:hover{
    color:#fff;
    background-color:#66676b
}

#sign-in-dialog .mfp-close:before{
    font-size:24px;
    font-family:'ElegantIcons';
    content:"\4d"
}

#sign-up-dialog .mfp-close:before{
    font-size:24px;
    font-family:'ElegantIcons';
    content:"\4d"
}
.modal_header{
    font-size:18px;
    width:calc(100% + 60px);
    position:relative;
    left:-30px;
    top:0;
    -webkit-border-radius:4px 4px;
    -moz-border-radius:4px 4px;
    -ms-border-radius:4px 4px;
    border-radius:4px 4px;
    display:inline-block;
    background-color:#f6f6f6;
    padding:18px 20px 15px 20px;
    margin-bottom:30px
}
.modal_header h3{
    padding:0;
    margin:0;
    font-size:18px;
    font-size:1.125rem;
    font-weight:500
}
#sign-in-dialog .form-group input.form-control{
    padding-left:40px
}

#sign-up-dialog .form-group input.form-control{
    padding-left:40px
}

#sign-in-dialog .form-group>i{
    font-size:18px;
    font-size:1.125rem;
    position:absolute;
    left:12px;
    top:33px;
    color:#ccc;
    width:25px;
    height:25px;
    display:block;
    font-weight:400 !important
}

#sign-up-dialog .form-group>i{
    font-size:18px;
    font-size:1.125rem;
    position:absolute;
    left:12px;
    top:33px;
    color:#ccc;
    width:25px;
    height:25px;
    display:block;
    font-weight:400 !important
}

#sign-in-dialog .form-group>i.icon_lock_alt{
    top:35px
}

#sign-up-dialog .form-group>i.icon_lock_alt{
    top:35px
}

.checkboxes label,a#forgot{
    color:#999;
    font-size:13px;
    font-size:0.8125rem
}
a#forgot{
    color:#999;
    font-weight:500
}
#forgot_pw{
    background-color:#fff;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:99;
    min-height:430px;
    display:none
}
#forgot_pw label{
    font-weight:500
}
.sign-in-wrapper{
    position:relative;
    height:100%
}
a.social_bt{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    text-align:center;
    color:#fff;
    min-width:200px;
    margin-bottom:15px;
    display:block;
    padding:12px;
    line-height:1;
    position:relative;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    cursor:pointer
}
a.social_bt:hover{
    -webkit-filter:brightness(110%);
    filter:brightness(110%)
}
a.social_bt.facebook{
    background:#3B5998 url(../images/Facebook__logo.svg) 10px center no-repeat
}
a.social_bt.google{
    background:#444 url(../images/Google__G__Logo.svg) 10px center no-repeat
}
.divider{
    text-align:center;
    height:1px;
    margin:20px 0 20px 0;
    background-color:#ededed
}
.divider span{
    position:relative;
    top:-20px;
    background-color:#fff;
    display:inline-block;
    padding:10px;
    font-style:italic
}
.mfp-bottom-bar{
    padding:0 10px !important
}
.mfp-counter{
    right:10px !important;
    color:#fff !important
}
.mfp-bg{
    opacity:0.8 !important
}
.pagination_fg{
    text-align:center;
    margin-top:15px
}
.pagination_fg a{
    color:#333;
    display:inline-block;
    padding:8px 16px;
    text-decoration:none;
    transition:background-color .3s;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    margin:0 2px
}
.pagination_fg a:hover{
    background-color:#f0f0f0
}
.pagination_fg a.active{
    background-color:#333;
    color:white
}
#toTop{
    position:fixed;
    right:0;
    opacity:0;
    visibility:hidden;
    bottom:25px;
    margin:0 25px 0 0;
    z-index:999;
    transition:0.35s;
    transform:scale(0.7);
    width:46px;
    height:46px;
    background-color:rgba(0,0,0,0.6);
    opacity:1;
    transition:all 0.3s;
    border-radius:50%;
    text-align:center;
    font-size:42px;
    font-size:2.625rem;
    color:#fff;
    cursor:pointer
}
#toTop.visible{
    opacity:1;
    visibility:visible;
    transform:scale(1)
}
#toTop:after{
    font-family:'ElegantIcons';
    content:"\32";
    position:relative;
    display:block;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
#toTop:hover{
    background-color:var(--bscolor)
}
.my-toggle{
    background:transparent;
    border:0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    color:#888;
    cursor:pointer;
    font-size:10px;
    font-size:10px;
    font-size:0.625rem;
    font-weight:bold;
    margin-right:5px;
    height:30px;
    line-height:30px;
    padding:0 10px;
    text-transform:uppercase;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color:#fff;
    z-index:10;
    position:relative
}
.my-toggle:hover,.my-toggle:focus{
    background-color:#eee;
    color:#555;
    outline:transparent
}
.hideShowPassword-wrapper{
    width:100% !important
}
.loader{
    position:absolute;
    right:10px;
    top:10px;
    color:#999;
    font-size:18px;
    font-size:1.125rem;
    -webkit-animation:rotation 2s infinite linear;
    animation:rotation 2s infinite linear
}
.loader.newsletter{
    right:-22px
}
.loader.register{
    color:#444
}
#cookie-bar{
    background:rgba(0,0,0,0.8);
    height:auto;
    line-height:24px;
    color:#eeeeee;
    text-align:center;
    padding:15px 0;
    font-weight:400;
    font-size:13px;
    font-size:0.8125rem;
    font-weight:500
}
#cookie-bar p{
    margin:0;
    padding:0
}
#cookie-bar a{
    color:#fff;
    display:inline-block;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    padding:2px 10px;
    margin-left:8px
}
@media (max-width: 767px){
    #cookie-bar a{
        display:block;
        max-width:150px;
        margin:auto;
        margin-bottom:5px
    }
}
#cookie-bar .cb-enable{
    background:var(--bpcolor)
}
#cookie-bar .cb-enable:hover{
    background:#fff;
    color:var(--bpcolor)
}
#cookie-bar .cb-disable{
    background:#990000
}
#cookie-bar .cb-disable:hover{
    background:#bb0000
}
#cookie-bar .cb-policy{
    background:var(--bscolor)
}
#cookie-bar .cb-policy:hover{
    background:#fff;
    color:var(--bpcolor)
}
#cookie-bar.fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999999
}
#cookie-bar.fixed.bottom{
    bottom:0;
    top:auto
}
@media (max-width: 767px){
    #cookie-bar{
        padding:5px 0
    }
}
