  <div class="container margin_60_40">
       <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="box_general write_review">
              <h1 class="add_bottom_15" style="text-align: center;">Application successful</h1>

                  <div class="row">

                    <div class="col-lg-12">
                      <div class="form-group" style="margin: 10px auto; text-align: center;">
                          <h4>Your request has been submitted successful we will get to you soon</h4>
                          <div class="form-group">
                            <a href="<?= $sh['config']['site_url'].'/'.$sh['user']['username'] ?>" class="btn_1 disable_btn" id="" >Return Back to your profile page</a>
                          </div>
                      </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
