<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/florida-project" type="text/css"/>

<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/grupo3" type="text/css"/>

<style>
body{
background: #3483c9;
overflow: hidden;
}


.box-left{
  position: absolute;
  background-image: url('https://i.giphy.com/media/d2ZjgvthxReZ4sEM/giphy.webp');
  background-repeat: no-repeat;
  background-size: 80%;
  height: 800px;
  width: 800px;
  padding:50px;
  margin:20px;
  margin-top: -20px;
  border-radius: 80%;
  left: 55vw;
}

.box-right{
  position: absolute;
  //display: flex;
  height: 800px;
  width: 800px;
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
justify-content: right;
// background: green;
}


h1{font-size: 360px;
text-align: center;
top: 0px;
margin: 0px;

font-family: 'FloridaProjectPhaseTwo';

}

h2{
  font-family: 'GRUPO3Regular';
  font-size: 70px;
  text-align: center;
  margin: 0px;
}



</style>

<div class="box-left" id="demo">

</div>
  <div class="box-right" id="demo">
 <h1>404</h1>

 <h2>ERROR <br> Page not found</h2>
</div>
