
<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-12 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Rating Category</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="action-btn layout-top-spacing mb-5">
                      <button id="add-list" data-toggle="modal" data-target="#addUserModal"  class="btn btn-primary">Add New Category</button>
                  </div>

                  <table id="zero-config" class="table style-1 dt-table-hover non-hover">
                      <thead>
                          <tr>
                              <th>Title</th>
                              <th class="">Status</th>
                              <th class="text-center dt-no-sorting">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <?php
                          $review_cats = getAllReviewCategoryData();

                          foreach ($review_cats as $r_cat) {
                        ?>
                          <tr id="r_cat_<?= $r_cat['id'] ?>">
                              <td class="user-name"><?= ucfirst($r_cat['title']) ?></td>
                              <td>
                                  <div class="d-flex">
                                      <span class="shadow-none badge badge-<?= ($r_cat['status'] == 1 ) ? 'success' : 'danger' ?>"><?= ($r_cat['status'] == 1) ? 'Active' : 'In-Active' ?></span>
                                  </div>
                              </td>
                              <td class="text-center">

                                  <a href="javascript:void(0);" onclick="editModal('<?= $r_cat['id'] ?>','<?= $sh['user']['user_id'] ?>')" >
                                    <i class="fa fa-pencil"></i> Edit
                                  </a>
                                  &nbsp;&nbsp;

                                  <a href="javascript:void(0);" onclick="deleteReviewCategory('<?= $r_cat['id'] ?>','<?= $sh['user']['user_id'] ?>')">
                                    <i class="fa fa-trash"></i> Delete
                                  </a>

                              </td>
                          </tr>
                        <?php } ?>
                      </tbody>
                  </table>

                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-12 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Users Reviews and Ratings Requests</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="user-settings-alert"></div>

                  <table id="another-table" class="table style-1 dt-table-hover non-hover">
                      <thead>
                          <tr>
                              <th>From</th>
                              <th class="">To</th>
                              <th class="">Title</th>
                              <th class="">Ratings Summary</th>
                              <th class="">Status</th>
                              <th class="text-center dt-no-sorting">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <?php
                          $reviews = getAllReviewData();

                          foreach ($reviews as $rs) {
                            $s_d = Sh_UserData($rs['sender_id']);
                            $re_d = Sh_UserData($rs['user_id']);

                            $totalNoRatings = ReviewAndRating('total_ratings',$rs['user_id']);
                            $totalRatings = round(senderReviewDataCalculation($rs['review_cat_records']),1);

                            if ($totalRatings > 0 && $totalRatings < 4.9) {
                              $reviewWord = $sh['lang']['review_rating_poor'];
                              $color = "warning";
                            }elseif ($totalRatings == 0 || $totalNoRatings == 0) {
                              $reviewWord = $sh['lang']['no_review_rating'];
                              $color = "danger";
                            }elseif ($totalRatings > 4.9 && $totalRatings < 7.5) {
                              $reviewWord = $sh['lang']['review_rating_superb'];
                              $color = "primary";
                            }elseif ($totalRatings > 7.5) {
                              $reviewWord = $sh['lang']['review_rating_excellent'];
                              $color = "success";
                            }

                        ?>
                          <tr id="rs_<?= $rs['id'] ?>">
                              <td class="user-name"><?= $s_d['name'] ?></td>
                              <td class="user-name"><?= $re_d['name'] ?></td>
                              <td class="user-name"><?= $rs['title'] ?></td>
                              <td>
                                  <div class="d-flex">
                                      <span class="shadow-none badge badge-<?= $color ?>">
                                        <b><?= $totalRatings ?></b>  (<?= $reviewWord ?>)
                                      </span>
                                  </div>
                              </td>
                              <td>
                                  <div class="d-flex">
                                      <span class="shadow-none badge badge-<?= ($rs['status'] == 1 ) ? 'success' : 'warning' ?>"><?= ($rs['status'] == 1) ? 'Approved' : 'Not Approved' ?></span>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <a href="javascript:void(0);" onclick="ViewModal('<?= $rs['id'] ?>','<?= $sh['user']['user_id'] ?>')" >
                                    <i class="fa fa-eye"></i> View
                                  </a>
                                  &nbsp;&nbsp;

                                  <a href="javascript:void(0);" onclick="editReviewModal('<?= $rs['id'] ?>','<?= $sh['user']['user_id'] ?>')" >
                                    <i class="fa fa-pencil"></i> Edit
                                  </a>
                                  &nbsp;&nbsp;

                                  <a href="javascript:void(0);" onclick="deleteReview('<?= $rs['id'] ?>','<?= $sh['user']['user_id'] ?>')">
                                    <i class="fa fa-trash"></i> Delete
                                  </a>

                              </td>
                          </tr>
                        <?php } ?>
                      </tbody>
                  </table>

                </div>
            </div>
        </div>

    </div>


</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="addNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="addListModalTitle">
                        <h5 class="add-list-title">New Category Form</h5>
                          <br>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="list-title">
                                        <input type="hidden" name="user_id" value="<?= $sh['user']['user_id']; ?>">
                                        <input id="formName" type="text" placeholder="Category Name" class="form-control" name="title" required>
                                    </div>
                                    <br>
                                </div>


                                <div class="col-md-12">
                                  <div class="list-title">
                                    <select name="status" class="form-control" required>
                                        <option value="">Select Status</option>
                                        <option value="1" >Active</option>
                                        <option value="0" >In-Active</option>
                                    </select>
                                  </div>
                                </div>


                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="addNewFormBtn" class="btn btn-primary waves-effect">Add Category</button>
            </div>
            </form>
        </div>
    </div>
</div>

<a href="javascript:void(0)" id="showmd" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false"></a>
<a href="javascript:void(0)" id="showmdRev" data-toggle="modal" data-target="#editReviewModal" data-backdrop="static" data-keyboard="false"></a>
<a href="javascript:void(0)" id="showmdRevUp" data-toggle="modal" data-target="#editUpdateReviewModal" data-backdrop="static" data-keyboard="false"></a>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Update Category Form</h5>
                          <br>
                            <div class="row" id="current_page_data" >


                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="editNewFormBtn" class="btn btn-primary waves-effect">Update <?= $sh['lang']['category'] ?></button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editUpdateReviewModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editNewReviewForm" method="post">
            <div class="modal-body">
                <div class="compose-box">
                    <div class="compose-content" id="editListModalTitle">
                        <h5 class="add-list-title">Update Review Form</h5>
                          <br>
                            <div class="row" id="up_review_page_data" >


                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
                <button type="submit" id="editNewReviewFormBtn" class="btn btn-primary waves-effect">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form id="editReviewForm" method="post">
            <div class="modal-body">
                <!-- <div class="compose-box"> -->
                    <!-- <div class="compose-content" id="editListModalTitle"> -->
                        <h5 class="add-list-title">Review Details</h5>
                          <br>
                            <div class="row" id="review_page_data" >


                            </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Discard</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>

  // run_waitMe($('#container #addNewForm'), 1, 'win8');
  var webSiteUrl = "<?= $sh['config']['site_url'] ?>";
  // Add new form
  var add_form = $('form#addNewForm');
  add_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=general&s=add_review_category',
      beforeSend: function() {
          loader(800,0);
          add_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          add_form.find('.waves-effect').prop('disabled', false).text('Add Form');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/rating-system"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // edit modal display

  function editModal(r_cat_id,user_id){

      $("#showmd").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=general&s=get_reviewcategory&r_cat_id='+r_cat_id+'&user_id='+user_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#current_page_data").html(data);

          }

      });

  }

  function ViewModal(r_id,user_id){

      $("#showmdRev").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=users&s=get_review_Details&r_id='+r_id+'&user_id='+user_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#review_page_data").html(data);

          }

      });

  }


  function editReviewModal(r_id,user_id){

      $("#showmdRevUp").trigger("click");

      $.ajax({
          url: Sh_Ajax_Requests_File() + '?f=users&s=change_review_status&r_id='+r_id+'&user_id='+user_id,
          beforeSend: function() {
              loader(800,0);
          },
          success: function(data) {
            loader(0,300);

            $("#up_review_page_data").html(data);

          }

      });

  }


  // Update review form
  var edit_rev_form = $('form#editNewReviewForm');
  edit_rev_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=users&s=update_review',
      beforeSend: function() {
          loader(800,0);
          edit_rev_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          edit_rev_form.find('.waves-effect').prop('disabled', false).text('Update Category');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/rating-system"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // Update new form
  var edit_form = $('form#editNewForm');
  edit_form.ajaxForm({
      url: Sh_Ajax_Requests_File() + '?f=general&s=update_review_category',
      beforeSend: function() {
          loader(800,0);
          edit_form.find('.waves-effect').prop('disabled', true).text('Please wait..');
      },
      success: function(data) {

          loader(0,300);

          edit_form.find('.waves-effect').prop('disabled', false).text('Update Category');

          if (data.status == 200) {

              sureNotify(1,data.message);

              setTimeout(function () {
                location.href = webSiteUrl + "/admin-cp/rating-system"
              }, 300);

          }else{

              sureNotify(0,data.message);

          }

      }
  });


  // delete Professional
  function deleteReviewCategory(id,user_id){

      swal({
        title: "Category Deletion!",
        text: "Are you sure you want to delete this Category?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=general&s=delete_review_category&r_cat_id='+id+'&user_id='+user_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#r_cat_"+id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });


  }


  // delete Professional
  function deleteReview(id,user_id){

      swal({
        title: "Review Deletion!",
        text: "Are you sure you want to delete this Review?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        padding: '2em'
      }).then(function(result) {

        if (result.value) {

          $.ajax({
              url: Sh_Ajax_Requests_File() + '?f=users&s=delete_review&r_id='+id+'&user_id='+user_id,
              beforeSend: function() {
                  loader(800,0);
              },
              success: function(data){

                loader(0,300)

                  if(data.status == 200){

                      $("#rs_"+id).fadeOut();

                      sureNotify(1,data.message);
                  }else{

                      // Error
                      sureNotify(0,data.message);

                  }

              }
          });

        }

      });


  }


  $(function() {

    // prevent login Settings
    var form_lock_settings = $('form.lock-settings');
    form_lock_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_lock_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_lock_settings.find('button').text('Save');
                $('.lock-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.lock-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });





  });

</script>
