<?php
  if ( !isset($_GET['id']) || empty($_GET['id']) ) {
    header("location: ". $sh['config']['site_url']."/admin-cp/form-creator");
  }

  if ( !getFormBuilderData($_GET['id']) ) {
    header("location: ". $sh['config']['site_url']. "/admin-cp/form-creator");
  }

  // get all values
  $f_id = $_GET['id'];
  $formData = getFormBuilderData($_GET['id']);

 ?>
<div class="layout-px-spacing">
 <div class="row invoice layout-top-spacing layout-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div class="doc-container">

            <div class="row">
                <div class="col-xl-8">

                    <div class="invoice-content">

                        <div class="invoice-detail-body">

                            <div class="invoice-detail-items">

                              <div class="" id="form-field">
                                  <form id="form-data" method="post" enctype="multipart/form-data">

                                      <div>
                                          <div id="question-field" class='row'>
                                              <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="0">
                                                  <span class="item-move"><i class="fa fa-braille"></i></span>
                                                  <div id="card_body" class="card-body">
                                                      <div id="f_title" class="row align-items-center d-flex">
                                                          <div class="col-sm-8">
                                                                <input type="text" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="Edit Field Name 1">
                                                                <!-- <p class="question-text m-0" contenteditable="true" title="Write your field name here">Write your field name here</p> -->
                                                          </div>
                                                          <div class="col-sm-4">
                                                              <select title="question choice type" name="choice" class='form-control choice-option'>
                                                                  <option value="text">Text Field</option>
                                                                  <option value="email">Email Field</option>
                                                                  <option value="number">Number</option>
                                                                  <option value="p">Long Text</option>
                                                                  <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                                  <option value="radio">Mupliple choice (single answer)</option>
                                                                  <option value="file">File upload</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                      <hr class="border-dark">
                                                      <div id="t_title" class="row ">
                                                          <div class="form-group choice-field col-md-12">
                                                              <input type="text" id="text_field" class="form-control col-sm-12 bulderInputs" name="" value="" placeholder="Write your answer here">
                                                              <!-- <textarea name="" id="text_area" class="form-control col-sm-12" data-rowid="1" cols="30" rows="5" placeholder="Write your answer here"></textarea> -->
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card-footer">
                                                      <div class="w-100 d-flex justify-content-between align-items-center">
                                                          <div class="form-check">
                                                              <input class="form-check-input req-item" type="checkbox" value="" >
                                                              <label class="form-check-label req-chk" for="">
                                                                  * Required
                                                              </label>
                                                          </div>
                                                          <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash"></i></button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="d-flex w-100 justify-content-center" id="form-buidler-action">
                                          <button class="btn btn-default border mr-1" type="button" id="add_q-item"><i class="fa fa-plus"></i> Add Form</button>
                                          <button class="btn btn-default border ml-1" type="button" id="save_form"><i class="fa fa-save"></i> Save Form</button>
                                      </div>

                                  </form>
                              </div>

                              <div class=" d-none" id = "q-item-clone">
                                <div class="card mt-3 mb-3 col-md-12 question-item ui-state-default" data-item="0">
                                    <span class="item-move"><i class="fa fa-braille"></i></span>
                                    <div class="card-body">
                                        <div id="f_title" class="row align-items-center d-flex">
                                            <div class="col-sm-8">
                                                <input type="text" id="field_title" class="form-control col-sm-12 question-text" placeholder="Enter Field Name" value="">
                                            </div>
                                            <div class="col-sm-4">
                                                <select title="question choice type" name="choice" class='form-control choice-option'>
                                                    <option value="text">Text Field</option>
                                                    <option value="email">Email Field</option>
                                                    <option value="number">Number</option>
                                                    <option value="p">paragraph</option>
                                                    <!-- <option value="checkbox">Mupliple choice (multiple answer)</option> -->
                                                    <option value="radio">Mupliple choice (single answer)</option>
                                                    <option value="file">File upload</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr class="border-dark">
                                        <div class="row ">
                                            <div class="form-group choice-field col-md-12">
                                                <input type="text" id="text_field" class="form-control col-sm-12" name="" value="" placeholder="Write your answer here">
                                                <!-- <textarea name="" id="text_area" class="form-control col-sm-12" data-rowid="" cols="30" rows="5" placeholder="Write your answer here"></textarea> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="w-100 d-flex justify-content-between align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input req-item" type="checkbox" value="" >
                                                <label class="form-check-label req-chk" for="">
                                                    * Required
                                                </label>
                                            </div>
                                            <button class="btn btn-default border rem-q-item" type="button"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                              </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-xl-4">

                    <div class="invoice-actions">

                        <div class="invoice-action-currency">

                            <div class="form-group mb-0">
                                <label for="currency">Form Title</label>

                                <div class="col-md-12 mb-3">
                                  <div class="invoice-title">
                                      <input type="hidden" id="formCode" name="formCode" value="<?= $formData['form_code'] ?>">
                                      <input type="hidden" name="user_id" value="<?= $sh['user']['user_id']; ?>" >
                                      <input type="text" name="formTitle" id="formTitle" class="form-control" placeholder="Invoice Label" value="<?= $formData['title'] ?>">
                                  </div>
                                </div>

                                <div class="col-md-12 align-self-center">

                                    <div class="form-group row invoice-note">
                                        <label for="invoice-detail-notes" class="col-sm-12 col-form-label col-form-label-sm">Form Description:</label>
                                        <div class="col-sm-12">
                                            <textarea id="formDescription" name="formDescription" class="form-control" id="invoice-detail-notes" placeholder='' style="height: 88px;"><?= $formData['description'] ?></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="form-group">
                                      <label for="type">Form Page Type</label>

                                      <select id="page_type" name="page_type" class="form-control basic">
                                        <?php
                                          $pageType = getPageFormType();
                                          foreach ($pageType as $pg) { ?>
                                          <option value="<?= $pg['id'] ?>" <?= (checkifPageTypeIsUsed($pg['id']) == $formData['page_type']) ? '' : 'disabled' ?>><?= $pg['name'] ?> </option>
                                          <?php } ?>
                                      </select>

                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="form-group">
                                      <label for="type">Form Status</label>

                                      <select name="pageStatus" class="form-control basic">
                                          <option selected="selected">orange</option>
                                          <option>white</option>
                                          <option>purple</option>
                                      </select>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <!-- <div class="invoice-actions-btn">

                        <div class="invoice-action-btn">

                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-send">Save</a>
                                </div>
                                <div class="col-xl-12 col-md-4">
                                    <a href="apps_invoice-preview.html" class="btn btn-dark btn-preview">Preview</a>
                                </div>
                                <div class="col-xl-12 col-md-4">
                                    <a href="javascript:void(0);" class="btn btn-success btn-download">Save</a>
                                </div>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>


        </div>

    </div>
</div>
</div>
