

<style media="screen">
.filepond--drop-label {
  color: #4c4e53;
  font-size: 12px !important;
}

.filepond--label-action {
text-decoration-color: #babdc0;
}

.filepond--panel-root {
background-color: #edf0f4;
}

.filepond--root{
  max-width: 20em;
  margin: 0 auto;
}


</style>


<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Contact Page Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="lock-settings-alert"></div>

                  <div class="form-group form-float">
                      <div class="form-line">
                          <label class="form-label">Contact Banner Image</label>
                          <input type="file" class="filepond" id="contact_banner" name="contact_banner" accept="image/png, image/jpeg, image/gif"/>
                      </div>
                  </div>
                  <br>
                  <form class="lock-settings" method="POST">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="contact_address" name="contact_address" class="form-control" value="<?php echo $sh['config']['contact_address']; ?>">
                            <label class="form-label">Company Contact Address</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="contact_email" name="contact_email" class="form-control" value="<?php echo $sh['config']['contact_email']; ?>">
                            <label class="form-label">Company Contact Email</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="contact_phone" name="contact_phone" class="form-control" value="<?php echo $sh['config']['contact_phone']; ?>">
                            <label class="form-label">Contact Phone Number</label>
                        </div>
                    </div>


                    <div class="form-group">
                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary " id="" >Save</button>
                    </div>

                  </form>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Extral Page Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="page-settings-alert"></div>

                  <div class="form-group form-float">
                      <div class="form-line">
                          <label class="form-label">Extral Page Banner Image</label>
                          <input type="file" class="filepond" id="page_banner" name="page_banner" accept="image/png, image/jpeg, image/gif"/>
                      </div>
                  </div>
                  <br>
                </div>
            </div>
        </div>

        <div id="basic" class="col-lg-4 col-sm-12 pb-2">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <h4>Social Settings</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                  <div class="social-settings-alert"></div>

                  <form class="social-settings" method="POST">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="facebook" name="facebook" class="form-control" value="<?php echo $sh['config']['facebook']; ?>">
                            <label class="form-label">Facebook Page</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="twitter" name="twitter" class="form-control" value="<?php echo $sh['config']['twitter']; ?>">
                            <label class="form-label">Twitter Page</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="instagram" name="instagram" class="form-control" value="<?php echo $sh['config']['instagram']; ?>">
                            <label class="form-label">Instagram</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="youtube" name="youtube" class="form-control" value="<?php echo $sh['config']['youtube']; ?>">
                            <label class="form-label">YouTube Channel</label>
                        </div>
                    </div>


                    <div class="form-group">
                      <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                      <button type="submit" class="btn btn-primary " id="" >Save</button>
                    </div>

                  </form>

                </div>
            </div>
        </div>

    </div>


</div>


<script>
  $(function() {

    // contact page Settings
    var form_lock_settings = $('form.lock-settings');
    form_lock_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_lock_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_lock_settings.find('button').text('Save');
                $('.lock-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.lock-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });


    // Social Settings
    var form_social_settings = $('form.social-settings');
    form_social_settings.ajaxForm({
        url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_social_settings.find('button').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_social_settings.find('button').text('Save');
                $('.social-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.social-settings-alert').removeClass('alert alert-success').empty();
                }, 2000);
            }
        }
    });

  });

</script>

<script type="text/javascript">
  FilePond.registerPlugin(
    // encodes the file as base64 data
    FilePondPluginFileEncode,

    // validates files based on input type
    FilePondPluginFileValidateType,

    // corrects mobile image orientation
    FilePondPluginImageExifOrientation,

    // previews the image
    FilePondPluginImagePreview,

    // resizes the image to fit a certain size
    // FilePondPluginImageResize,

    // applies crop and resize information on the client
    FilePondPluginImageTransform,

    FilePondPluginFilePoster,

    FilePondPluginImageEdit

  );

  FilePond.create(
    document.getElementById('contact_banner'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageCropAspectRatio: '1:1',
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      // stylePanelLayout: 'compact circle',
      // styleLoadIndicatorPosition: 'center bottom',
      // styleButtonRemoveItemPosition: 'center bottom',
      // styleButtonEditItemPosition: 'center bottom',
      allowMultiple: false,
      <?php if($sh['config']['contact_banner'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['contact_banner'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['contact_banner'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['contact_banner'] ?>',
                  },
              },

          },
      ]
    <?php endif; ?>
    }
  );

  FilePond.setOptions({
    server: {
      timeout: 7000,
      process: {
          url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_contact_banner',
          method: 'POST',
          withCredentials: false,
          onload: (response) => {
              var json = (response);
              var obj = JSON.parse(json);
              var status = obj.status;
              if (status == 200) {

                $("html, body").animate({ scrollTop: 0 }, 150);

                setTimeout(function () {
                  window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/site-setting";
                }, 1000);

                $('.lock-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

              }
          },
          onerror: (response) => response.data,
          ondata: (formData) => {
              formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
              return formData;
          },
      },
      remove: (source, load, error) => {

        const request = new XMLHttpRequest();
        request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_contact_banner&img=' + source);

        request.onload = function () {
          if (request.status == 200) {

            $("html, body").animate({ scrollTop: 0 }, 150);

            setTimeout(function () {
                $('.lock-settings-alert').removeClass('alert alert-success').empty();
            }, 2000);

            $('.lock-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Logo Picture Deleted");

            load(request.message);
          } else {

            $('.lock-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

            error('oh no');
          }
        };

        request.send();
      }

    }
  });




  FilePond.create(
    document.getElementById('page_banner'),{
      labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
      imagePreviewHeight: 100,
      // imageResizeTargetWidth: 200,
      // imageResizeTargetHeight: 200,
      allowMultiple: false,
      <?php if($sh['config']['page_banner'] != ""): ?>
      files: [
          {
              // the server file reference
              source: '<?= $sh['config']['page_banner'] ?>',
              // set type to local to indicate an already uploaded file
              options: {
                  type: 'local',
                  file: {
                      name: "<?= $sh['config']['page_banner'] ?>",
                      size: 3001025,
                      type: 'image/jpg',
                  },

                  metadata: {
                      poster: '<?= $sh['config']['site_url']."/".$sh['config']['page_banner'] ?>',
                  },
              },

          },
      ],
    <?php endif; ?>
      server: {
        timeout: 7000,
        process: {
            url: Sh_Ajax_Requests_File() + '?f=admin_setting&s=update_page_banner_image',
            method: 'POST',
            withCredentials: false,
            onload: (response) => {
                var json = (response);
                var obj = JSON.parse(json);
                var status = obj.status;
                if (status == 200) {

                  $("html, body").animate({ scrollTop: 0 }, 150);

                  setTimeout(function () {
                    window.location.href = "<?= $sh['config']['site_url'] ?>/admin-cp/other-settings";
                  }, 1000);

                  $('.page-settings-alert').addClass('alert alert-success').html('<i class="fa fa-check"></i> Settings updated successfully');

                }
            },
            onerror: (response) => response.data,
            ondata: (formData) => {
                formData.append('user_id', '<?= $sh['user']['user_id'] ?>');
                return formData;
            },
        },
        remove: (source, load, error) => {

          const request = new XMLHttpRequest();
          request.open('DELETE', Sh_Ajax_Requests_File() + '?f=admin_setting&s=remove_page_banner_image&img=' + source);

          request.onload = function () {
            if (request.status == 200) {

              $("html, body").animate({ scrollTop: 0 }, 150);

              setTimeout(function () {
                  $('.page-settings-alert').removeClass('alert alert-success').empty();
              }, 2000);

              $('.page-settings-alert').removeClass('alert alert-danger').addClass('alert alert-success').text("Banner image Deleted");

              load(request.message);
            } else {

              $('.page-settings-alert').removeClass('alert alert-success').addClass('alert alert-danger').text("Sorry system could not process your request");

              error('oh no');
            }
          };

          request.send();
        }

      }
    }
  );

</script>
