<div class="layout-px-spacing">
  <div class="row layout-top-spacing">

      <div class="col-xl-8 col-lg-7 col-12">
          <!-- <div class="alert alert-light-primary border-0 notification-alert" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <span class="text-dark">A new version of Cork Admin is available.</span> <a href="javascript:void(0)">Learn more</a> </div> -->
      </div>

      <div class="col-xl-4 col-lg-5 col-12 layout-spacing text-right">

          <!-- <div class="notification-action-btns d-lg-block d-flex justify-content-between flex-sm-row flex-column">
              <button class="btn btn-primary  notification-action-btn mb-sm-0 mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart"><line x1="12" y1="20" x2="12" y2="10"></line><line x1="18" y1="20" x2="18" y2="4"></line><line x1="6" y1="20" x2="6" y2="16"></line></svg> View Statistics </button>
              <button class="btn btn-dark  notification-action-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud mr-1"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg> Download Report </button>
          </div> -->

      </div>

      <!-- General Statistics -->
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
          <div class="widget widget-one_hybrid widget-followers">
              <div class="widget-heading">
                  <div class="w-title">
                      <div class="w-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      </div>
                      <div class="">
                          <p class="w-value"><?= getNumbersOfUserByStatis(" WHERE `active` = '1' AND `account_type` = 'experts'") ?></p>
                          <h5 class="">Experts</h5>
                      </div>
                  </div>
              </div>
              <div class="widget-content">
                  <div class="w-chart">
                      <div id="hybrid_followers"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
          <div class="widget widget-one_hybrid widget-referral">
              <div class="widget-heading">
                  <div class="w-title">
                      <div class="w-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                      </div>
                      <div class="">
                          <p class="w-value"><?= getNumbersOfUserByStatis(" WHERE `active` = '1' AND `account_type` = 'journalists'") ?></p>
                          <h5 class="">Journalists</h5>
                      </div>
                  </div>
              </div>
              <div class="widget-content">
                  <div class="w-chart">
                      <div id="hybrid_followers1"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
              <div class="widget widget-one_hybrid widget-engagement">
                  <div class="widget-heading">
                      <div class="w-title">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                          </div>
                          <div class="">
                              <p class="w-value"><?= getNumbersOfUserByStatis() ?></p>
                              <h5 class="">Users</h5>
                          </div>
                      </div>
                  </div>
                  <div class="widget-content">
                      <div class="w-chart">
                          <div id="hybrid_followers3"></div>
                      </div>
                  </div>
              </div>
          </div>

      <!-- Sectional Statistics -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
          <div class="widget-four">
              <div class="widget-heading">
                  <h5 class="">Statistics by Experts</h5>
              </div>
              <div class="widget-content">
                  <div class="vistorsBrowser">
                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chrome"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="21.17" y1="8" x2="12" y2="8"></line><line x1="3.95" y1="6.06" x2="8.54" y2="14"></line><line x1="10.88" y1="21.94" x2="15.46" y2="14"></line></svg>
                          </div>
                          <div class="w-browser-details">
                              <div class="w-browser-info">
                                  <h6>Active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '1' AND `account_type` = 'experts'") ?></p>
                              </div>
                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>In-active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '2' AND `account_type` = 'experts'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>Pending</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '3' AND `account_type` = 'experts'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                  </div>

              </div>
          </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
          <div class="widget-four">
              <div class="widget-heading">
                  <h5 class="">Statistics by Journalists</h5>
              </div>
              <div class="widget-content">
                  <div class="vistorsBrowser">
                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chrome"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="21.17" y1="8" x2="12" y2="8"></line><line x1="3.95" y1="6.06" x2="8.54" y2="14"></line><line x1="10.88" y1="21.94" x2="15.46" y2="14"></line></svg>
                          </div>
                          <div class="w-browser-details">
                              <div class="w-browser-info">
                                  <h6>Active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '1' AND `account_type` = 'journalists'") ?></p>
                              </div>
                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>In-active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '2' AND `account_type` = 'journalists'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>Pending</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '3' AND `account_type` = 'journalists'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                  </div>

              </div>
          </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
          <div class="widget-four">
              <div class="widget-heading">
                  <h5 class="">Statistics by Users</h5>
              </div>
              <div class="widget-content">
                  <div class="vistorsBrowser">
                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chrome"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="21.17" y1="8" x2="12" y2="8"></line><line x1="3.95" y1="6.06" x2="8.54" y2="14"></line><line x1="10.88" y1="21.94" x2="15.46" y2="14"></line></svg>
                          </div>
                          <div class="w-browser-details">
                              <div class="w-browser-info">
                                  <h6>Active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '1'") ?></p>
                              </div>
                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>In-active</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '2'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                      <div class="browser-list">
                          <div class="w-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                          </div>
                          <div class="w-browser-details">

                              <div class="w-browser-info">
                                  <h6>Pending</h6>
                                  <p class="browser-count"><?= getNumbersOfUserByStatis(" WHERE `active` = '3'") ?></p>
                              </div>

                              <div class="w-browser-stats">
                                  <div class="progress">
                                      <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>

                          </div>

                      </div>

                  </div>

              </div>
          </div>
      </div>

  </div>
</div>
