<?php
  if ( !isset($_GET['id']) || empty($_GET['id']) ) {

  }

  $page_id = Sh_Secure($_GET['id']);

  // get page data by id
  $pageData = getSinglePageData($page_id);

  if(!$pageData){




  }

 ?>


 <div class="layout-px-spacing">

   <form class="" id="page-creator" action="" method="post">
     <div class="row layout-top-spacing">

         <div id="basic" class="col-lg-12 col-sm-12 pb-2">
             <div class="statbox widget box box-shadow">
                 <div class="widget-header">
                     <div class="row">
                         <div class="col-xl-12 col-md-12 col-sm-12">
                             <h4>Edit <?= $pageData['page_title'] ?> Page</h4>
                         </div>
                     </div>
                 </div>
                 <div class="widget-content widget-content-area">

                   <div class="lock-settings-alert"></div>

                     <div class="form-group">
                       <label for="page_title">Page Name</label>
                         <div class="input-group mb-4">
                         <input type="text" id="page_title" value="<?= $pageData['page_title'] ?>" name="page_title" required class="form-control">
                       </div>
                     </div>

                     <div class="form-group">
                       <label for="page_keyword">Page Keywords</label>
                         <div class="input-group mb-4">
                           <input type="hidden" name="page_id" value="<?= $pageData['id'] ?>">
                         <input type="text" id="page_keyword" value="<?= $pageData['page_keyword'] ?>" name="page_keyword" required class="form-control">
                       </div>
                     </div>

                     <div class="form-group">
                       <label for="">Page display location</label>
                       <div class="input-group mb-4s">
                         <select name="page_location" class="form-control" required>
                           <option <?= ($pageData['page_location'] == 1) ? 'selected' : '' ?> value="1">Menu bar Only</option>
                           <option <?= ($pageData['page_location'] == 2) ? 'selected' : '' ?> value="2">Footer bar Only</option>
                           <option <?= ($pageData['page_location'] == 3) ? 'selected' : '' ?> value="3">Both Menu and Footer</option>
                         </select>
                       </div>
                     </div>

                     <div class="form-group">
                       <label for="">Page Status</label>
                       <div class="input-group mb-4s">
                         <select name="status" class="form-control" required>
                           <option <?= ($pageData['status'] == 1) ? 'selected' : '' ?> value="1">Active</option>
                           <option <?= ($pageData['status'] == 0) ? 'selected' : '' ?> value="0">In-Active</option>
                         </select>
                       </div>
                     </div>


                 </div>
             </div>
         </div>

         <div id="basic" class="col-lg-12 col-sm-12 pb-2">
             <div class="statbox widget box box-shadow">
                 <div class="widget-content widget-content-area">

                     <label for="register_type_system">
                       Page Description
                     </label>
                     <div class="form-group">
                       <input type="hidden" value="<?= $pageData['page_description'] ?>" name="page_description" id="page_description" rows="8" cols="80">
                       <div class="form-control" id="editor-container"></div>
                     </div>


                     <div class="form-group">
                       <input type="hidden" name="hash_id" value="<?php echo Sh_CreateSession();?>">
                       <button type="submit" class="btn btn-primary disable_tbn" id="" >Save</button>
                     </div>

                 </div>
             </div>
         </div>

     </div>

   </form>

 </div>


 <script>
   $(function() {

     // $("#page_keyword").tagit();

     // editor configuration
     // Basic
     var toolbarOptions = [
       ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
       ['blockquote'],

       [{ 'header': 1 }, { 'header': 2 }],               // custom button values
       [{ 'list': 'ordered'}, { 'list': 'bullet' }],
       [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
       [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
       [{ 'direction': 'rtl' }],                         // text direction

       [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
       [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

       [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
       [{ 'font': [] }],
       [{ 'align': [] }],

       ['clean']                                         // remove formatting button
     ];

     let myeditor = new Quill('#editor-container', {
       modules: {
         toolbar: toolbarOptions
       },
       placeholder: 'Enter Page Description......',
       theme: 'snow'  // or 'bubble'
     });

     myeditor.root.innerHTML = "<?= $pageData['page_description'] ?>";

     $("#editor-container").on('keypress change click keyup keydown', function(){
       let delta = myeditor.root.innerHTML;
       $("#page_description").val(delta)

     })


     // create page
     var form_page_creator = $('form#page-creator');
     form_page_creator.ajaxForm({
         url: Sh_Ajax_Requests_File() + '?f=page_creator&s=edit_page',
         beforeSend: function() {
             loader(800,0);
             form_page_creator.find('.disable_tbn').attr('disabled', true).text('Please wait..');
         },
         success: function(data) {

             loader(0,300);

             form_page_creator.find('.disable_tbn').attr('disabled', false).text('Save');

             if (data.status == 200) {

               sureNotify(1,data.message);

             }else {

               sureNotify(0,data.message);

             }
         }
     });






   });

 </script>
