<?php
  // get all form data
  $form_id = $sh['pageData']['id'];
  $form_code = $sh['pageData']['form_code'];
  $form_title = $sh['pageData']['title'];
  $form_description = $sh['pageData']['description'];
  $form_data = json_decode($sh['pageData']['formData'], true);

  $fd_count = count($form_data);

 ?>



<div class="container margin_60_40">
     <div class="row justify-content-center">
      <div class="col-lg-8">

        <?php if ($fd_count > 0): ?>

          <form class="" action="" id="<?= $sh['pg_type'] ?>_form" method="post">

          <div class="box_general write_review">
            <h1 class="add_bottom_15"><?= $form_title ?></h1>

            <label class="d-block add_bottom_15"><?= $form_description ?></label>

                <div class="col-lg-12">
                  <div class="" id="errs" role="alert"></div>
                </div>

                <div class="row">

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="hidden" name="user_id" value="<?= $sh['user']['user_id'] ?>">
                    </div>
                  </div>
                  <!-- displahy all form fields -->
                  <?php
                    $lgt = 1;

                    foreach ($form_data as $key => $f_field) {
                      if ($lgt === $fd_count) {
                  ?>
                  <div class="col-md-<?= ($lgt % 2 == 0) ? '6' : '12' ?> add_bottom_25">

                  <?php }else{ ?>

                    <div class="col-md-6 add_bottom_25">

                  <?php } ?>

                      <label><?= Remove_from_String($f_field['name']) ?></label>

                      <?php if ($f_field['type'] == 'text') { ?>
                        <input <?= ($f_field['require'] == true) ? 'required' : '' ?> class="form-control" id="<?= $f_field['name'] ?>" name="<?= $f_field['name'] ?>" type="<?= $f_field['type'] ?>" placeholder="Enter <?= Remove_from_String($f_field['name']) ?>">
                      <?php }elseif ($f_field['type'] == 'textarea') { ?>
                        <textarea <?= ($f_field['require'] == true) ? 'required' : '' ?> class="form-control" id="<?= $f_field['name'] ?>" name="<?= $f_field['name'] ?>" style="height: 180px;" placeholder="Enter <?= Remove_from_String($f_field['name']) ?>"></textarea>
                      <?php }elseif ($f_field['type'] == 'email') { ?>
                        <input <?= ($f_field['require'] == true) ? 'required' : '' ?> class="form-control" id="<?= $f_field['name'] ?>" name="<?= $f_field['name'] ?>" type="<?= $f_field['type'] ?>" placeholder="Enter <?= Remove_from_String($f_field['name']) ?>">
                      <?php }elseif ($f_field['type'] == 'number') { ?>
                        <input <?= ($f_field['require'] == true) ? 'required' : '' ?> class="form-control" id="<?= $f_field['name'] ?>" name="<?= $f_field['name'] ?>" type="<?= $f_field['type'] ?>" placeholder="Enter <?= Remove_from_String($f_field['name']) ?>">
                      <?php }elseif ($f_field['type'] == 'radio') { ?>
                        <select <?= ($f_field['require'] == true) ? 'required' : '' ?> class="form-control" id="<?= $f_field['name'] ?>" name="<?= $f_field['name'] ?>">
                          <?php foreach ($f_field['option'] as $opt) { ?>
                            <option value="<?= $opt ?>"><?= Remove_from_String($opt) ?></option>
                          <?php } ?>
                        </select>
                      <?php } ?>
                  </div>
                <?php $lgt++;  }  ?>

              </div>
            <!-- <div class="form-group">
              <label>Add your photo (optional)</label>
              <div class="fileupload"><input type="file" name="fileupload" accept="image/*"></div>
            </div>

            <div class="form-group">
              <div class="checkboxes float-left add_bottom_15 add_top_15">
                <label class="container_check">Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div> -->

            <div class="form-group">
              <button type="submit" class="btn_1 disable_btn" id="<?= $sh['pg_type'] ?>_btn" name="button">Create <?= ucfirst($sh['pg_type']) ?> Account</button>
            </div>


          </div>

          </form>

        <?php elseif (condition): ?>

          <div class="box_general write_review">
            <h1 class="add_bottom_15"><?= $form_title ?></h1>
            <div class="col-lg-12 alert my-form-error"><?= $sh['lang']['form_not_created'] ?></div>
          </div>

        <?php endif; ?>



      </div>
  </div>
  <!-- /row -->
  </div>
  <!-- /container -->
