
<style>
.hero_single.version_2.full_height{
    height:100vh;
    background:#ededed url(<?= $sh['config']['site_url']."/".$sh['config']['banner_image'] ?>) center center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

</style>
<div class="hero_single version_2 full_height">
  <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.75)" >
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-10">
          <h1><?= $sh['config']['home_banner_title'] ?></h1>
          <p><?= $sh['config']['home_banner_description'] ?></p>

          <form method="post" action="#">
            <?php if($sh['config']['homepage_search_input'] == 1): ?>
            <div class="row no-gutters custom-search-input">
              <div class="col-md-9">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Find a professional...">
                </div>
              </div>
              <div class="col-md-3">
                <input type="submit" value="Find">
              </div>
            </div>
          <?php endif; ?>
            <!-- /row -->
            <div class="search_trends">
              <h5>Trending:</h5>
              <ul>
                <?php $categories = getAllCategoryData("status = 1 ORDER BY RAND()
LIMIT 4");
                  foreach ($categories as $key) {
                ?>
                <li><a href="<?= Sh_Link('search-experts/'.$key['id']) ?>"><?= $key['title'] ?></a></li>
              <?php } ?>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <!-- /row -->
      <a href="#first_section" class="btn_explore"><span class="pulse_bt"><i class="arrow_down"></i></span></a>
    </div>
  </div>
</div>
<!-- /hero_single -->

<div class="bg_gray">
  <div class="container margin_60_40">
    <div class="main_title center">
      <span><em></em></span>
      <h2><?= $sh['config']['category_title'] ?></h2>
      <p><?= $sh['config']['category_description'] ?></p>
    </div>
    <!-- /main_title -->
    <div class="owl-carousel owl-theme categories_carousel">
      <?php
        $categories = getAllCategoryData("status = 1");

        foreach ($categories as $cat) {
          if ($cat['id'] != '1') {
      ?>
        <div class="item_version_2">
            <a href="search-experts/<?= $cat['id'] ?>">
                <figure>
                    <span><?= getNumbersOfUserAttachToCat($cat['id']) ?></span>
                    <img src="<?= $cat['cache_icon_image'] ?>" data-src="<?= $cat['cache_icon_image'] ?>" alt="" class="owl-lazy">
                    <div class="info">
                        <h3><?= $cat['title'] ?></h3>
                    </div>
                </figure>
            </a>
        </div>
      <?php
          }
        }
      ?>

    </div>
    <!-- /carousel -->
  </div>
  <!-- /container -->
</div>

<div class="bg_gray" id="first_section">
    <div class="container margin_60_40">
        <div class="main_title center">
            <span><em></em></span>
            <h2><?= $sh['config']['expert_title'] ?></h2>
            <p><?= $sh['config']['expert_description'] ?></p>
        </div>
        <div class="row">

          <!-- just 6 users here -->
          <?php $getExperts = getExpertsUserData(" AND promote_account = 1 ORDER BY RAND() LIMIT 6");
          foreach ($getExperts as $gEps) {

            $totalNoRatings = ReviewAndRating('total_ratings',$gEps['user_id']);
            $totalRatings = ReviewAndRating('total_by_all_r_cat',$gEps['user_id']);

            if ($totalRatings > 0 && $totalRatings < 4.9) {
              $reviewWord = $sh['lang']['review_rating_poor'];
            }elseif ($totalRatings == 0 || $totalNoRatings == 0) {
              $reviewWord = $sh['lang']['no_review_rating'];
            }elseif ($totalRatings > 4.9 && $totalRatings < 7.5) {
              $reviewWord = $sh['lang']['review_rating_superb'];
            }elseif ($totalRatings > 7.5) {
              $reviewWord = $sh['lang']['review_rating_excellent'];
            }

          ?>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 isotope-item popular">
                <div class="strip">
                    <figure>
                        <!-- <a href="#0" class="wish_bt"><i class="icon_heart"></i></a> -->
                        <img src="<?= $gEps['avatar'] ?>" data-src="<?= $gEps['avatar'] ?>" class="img-fluid lazy" alt="">
                        <a href="<?= Sh_Link($gEps['username']) ?>" class="strip_info">
                            <div class="item_title">
                                <h3><?= GetSingleProfessioanlDataByCol('title',$gEps['professional']) ?>. <?= $gEps['name'] ?></h3>
                                <small><?= $gEps['speciality'] ?> ...</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li><a href="<?= Sh_Link($gEps['username']) ?>" class="tooltip-1" data-toggle="tooltip" data-placement="bottom" title="Contact Experts"><i class="icon_mail"></i></a></li>
                        <li>
                            <div class="score"><span><?= $reviewWord ?><em><?= ($totalNoRatings > 0) ? $totalNoRatings : "0" ?> Reviews</em></span><strong><?= ($totalRatings > 0) ? $totalRatings : "0" ?></strong></div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- /strip grid -->
          <?php } ?>
        </div>
        <!-- /row -->
        <p class="text-center add_top_30"><a href="<?= Sh_Link('search-experts') ?>" class="btn_1 medium">Start Searching</a></p>
    </div>
    <!-- /container -->
</div>
<!-- /bg_gray -->



<div class="bg_gray">
    <div class="container margin_60_40">
        <div class="main_title center add_bottom_10">
            <span><em></em></span>
            <h2><?= $sh['config']['work_title'] ?></h2>
            <p><?= $sh['config']['work_description'] ?></p>
        </div>
        <div class="row justify-content-md-center how_2">
            <div class="col-lg-5 text-center">
                <figure>
                  <iframe width="380" height="370" src="<?= $sh['config']['work_link'] ?>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                  </iframe>
                    <!-- <video width="360" height="380" class="img-fluid lazy" controls="" autoplay="">
                      <source src="https://www.youtube.com/watch?v=b4CYurJKmdE" type="video/mp4">
                    </video> -->
                </figure>
            </div>
            <div class="col-lg-5">
               <ul>
            <li>
                <h3><span>#01.</span> <?= $sh['config']['work_step_1_title'] ?></h3>
                <p><?= $sh['config']['work_step_1_desc'] ?></p>
            </li>
            <li>
                <h3><span>#02.</span> <?= $sh['config']['work_step_2_title'] ?></h3>
                <p><?= $sh['config']['work_step_2_desc'] ?>.</p>
            </li>
            <li>
                <h3><span>#03.</span> <?= $sh['config']['work_step_3_title'] ?></h3>
                <p><?= $sh['config']['work_step_3_desc'] ?></p>
            </li>
        </ul>
                <?php if($sh['config']['show_work_button'] == 1): ?>
                <p class="add_top_30"><a href="<?= Sh_Link('search-experts') ?>" class="btn_1">Start Searching</a></p>
                <?php endif; ?>
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /bg_gray -->

<div class="call_section version_2 lazy" data-bg="url(<?php echo $sh['config']['theme_url'];?>/images/bg_call_section.jpg)">
    <div class="container clearfix">
        <div class="col-lg-5 col-md-6 float-right wow">
            <div class="box_1">
                <div class="ribbon_promo"><span>Free</span></div>
                <h3>Are you a Professional?</h3>
                <p>Join Us to increase your online visibility. You'll have access to even more customers who are looking to professional service or consultation.</p>
                <a href="" class="btn_1">Read more</a>
            </div>
        </div>
    </div>
</div>
<!--/call_section-->

<!-- <div class="popup_wrapper">
  <div class="popup_content newsletter">
    <span class="popup_close">Close</span>
    <div class="row no-gutters">
          <div class="col-md-5 d-none d-md-flex align-items-center justify-content-center">
              <figure><img src="img/newsletter_img.jpg" alt=""></figure>
          </div>
          <div class="col-md-7">
      <div class="content">
        <div class="wrapper">
        <img src="img/logo_sticky.svg" width="120" height="35" alt="">
        <h3>Sign up our newsletter</h3>
        <p>Ne qui aliquam probatus moderatius, ad sint cotidieque qui, sea id cetero laoreet principes.</p>
         <form action="#">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn_1 mt-2 mb-4">Subscribe</button>
         </form>
        </div>
      </div>
          </div>
      </div>
  </div>
</div> -->
