<aside >

  <figure>
    <a href="<?= $sh['config']['site_url'] ?>"><img src="<?php echo $sh['config']['theme_url'];?>/images/logo_sticky.svg" width="155" height="40" alt="" class="logo_sticky"></a>
  </figure>


    <form id="login_user" method="post" class="tag_auth_box">
      <!-- <br><br><br> -->
      <div class="valign tag_auth_animation hidden">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg>
        <?php echo $sh['lang']['welcome_back'] ?>
      </div>

       <div class="errors"></div>
    <div class="access_social">
      <!-- <a href="#0" class="social_bt facebook">Login with Facebook</a>
      <a href="#0" class="social_bt google">Login with Google</a> -->
    </div>
    <div class="divider"><span></span></div>
    <div class="form-group">
      <input type="email" class="form-control" autocomplete="off" autofocus name="username" id="email" placeholder="Email" required>
      <i class="icon_mail_alt"></i>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" autocomplete="off" autofocus name="password" id="password" value="" placeholder="Password" required>
      <i class="icon_lock_alt"></i>
    </div>
    <div class="clearfix add_bottom_30">
      <div class="checkboxes float-left">
        <label class="container_check">Remember me
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
    </div>
    <button type="submit" class="btn_1 full-width mb_5 disable_btn tag_wel_btn"><?php echo $sh['lang']['login']?></button>
    <div class="text-center add_top_10">New to <?= $sh['config']['siteName'] ?>? <strong><a href="register">Sign up!</a></strong></div>
  </form>
  <div class="copy">© <?= Date('Y') ?> <?= $sh['config']['siteName'] ?></div>
</aside>
