<aside>
  <figure>
    <a href="<?= $sh['config']['site_url'] ?>"><img src="img/logo_sticky.svg" width="120" height="35" alt="" class="logo_sticky"></a>
  </figure>
  <!-- <div class="access_social">
      <a href="#0" class="social_bt facebook">Register with Facebook</a>
      <a href="#0" class="social_bt google">Register with Google</a>
    </div> -->
        <!-- <div class="divider"><span></span></div> -->
  <form id="reg_user" method="post" autocomplete="off">

    <div class="valign tag_auth_animation hidden">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg>
      <?php echo $sh['lang']['successfully_joined_label'] ?>
    </div>

    <div class="de elHeadlineWrapper" id="tmp_subheadline-10287-108" data-de-type="headline" data-de-editing="false" data-title="sub-headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" data-gramm="false" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
       <div class="errors"></div>
       <div class="success"></div>
    </div>


    <div class="form-group">
      <select name="cat_id" class="form-control">
        <option value="" >Select Category</option>
        <?php
          $cats = getAllCategoryData('status = 1');
          foreach ($cats as $cat) {
            if ($cat['id'] != '1') {
         ?>
        <option value="<?= $cat['id'] ?>" ><?= $cat['title'] ?></option>
        <?php } } ?>

      </select>
    </div>

    <div class="form-group">
      <select name="professional" class="form-control">
        <option value="" >Select Professional</option>
        <?php
          $prof = getAllProfessionalData('status = 1');
          foreach ($prof as $pro) {
         ?>
        <option value="<?= $pro['id'] ?>" ><?= $pro['title'] ?></option>
        <?php } ?>

      </select>
    </div>

    <div class="form-group">
      <input class="form-control" autocomplete="off" autofocus required type="text" name="first_name" id="first_name" placeholder="First Name">
      <i class="icon_pencil-edit"></i>
    </div>

    <div class="form-group">
      <input autocomplete="off" autofocus required type="hidden" value="<?= "user_".Sh_GenerateKey(4, 6, false, false, true, false) ?>" class="form-control" name="username" id="user_n">
      <input class="form-control" autocomplete="off" autofocus required type="text" name="last_name" id="last_name" placeholder="Last Name">
      <i class="icon_pencil-edit"></i>
    </div>

    <div class="form-group">
      <input autocomplete="off" autofocus required type="email" class="form-control" name="email" placeholder="Email Address" id="email">
      <i class="icon_mail_alt"></i>
    </div>

    <div class="form-group">
      <input autocomplete="off" autofocus required type="text" class="form-control" name="phone_num" placeholder="Phone Number" id="phone_num">
      <i class="icon_phone"></i>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" autocomplete="off" name="password" id="password" placeholder="Password">
      <i class="icon_lock_alt"></i>
      <?php if ($sh['config']['password_complexity_system'] == 1) { ?>
        <ul class="list-unstyled helper-text elAlign_left" style="color: red;">
          <li class="length"><?php echo $sh['lang']['least_characters']; ?></li>
          <li class="lowercase"><?php echo $sh['lang']['contain_lowercase']; ?></li>
          <li class="uppercase"><?php echo $sh['lang']['contain_uppercase']; ?></li>
          <li class="special"><?php echo $sh['lang']['number_special']; ?></li>
        </ul>
      <?php } ?>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" autocomplete="off" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
      <i class="icon_lock_alt"></i>
    </div>

    <div id="pass-info" class="clearfix"></div>
    <button type="submit" id="reg_btn" class="btn_1 full-width mb_5 disable_btn tag_wel_btn"><?php echo $sh['lang']['register']?></button>
    <div class="text-center add_top_10">Already have an acccount? <strong><a href="<?= $sh['config']['site_url'] ?>">Sign In</a></strong></div>
  </form>
  <div class="copy">© <?= Date('Y') ?> <?= $sh['config']['siteName'] ?></div>
</aside>
