<form id="frmSearch">

  <div class="filters_full element_to_stick">
    <input type="hidden" name="query" value="<?= $sh['query'] ?>">
      <div class="container clearfix">
          <div class="switch-field">
          <input type="radio" id="all" name="listing_filter" value="all" checked data-filter="*" class="selected">
          <label for="all">All</label>
          <input type="radio" id="popular" name="listing_filter" value="popular" data-filter=".popular">
          <label for="popular">Popular</label>
          <input type="radio" id="latest" name="listing_filter" value="latest" data-filter=".latest">
          <label for="latest">Latest</label>
      </div>
      <div class="search_bar_list">
          <input type="text" class="form-control search_by" id="search_by" name="search_by" placeholder="Search for experts...">
      </div>
      <a class="btn_search_mobile btn_filters" data-toggle="collapse" href="#collapseSearch"><i class="icon_search"></i></a>
      </div>
      <div class="collapse filters_2" id="collapseFilters">
        <div class="container margin_detail">
          <div class="row">

          </div>
          <!-- /row -->
      </div>
      </div>
      <!-- /filters -->
        <div class="collapse" id="collapseSearch">
            <div class="search_bar_list">
                <input type="text" class="form-control search_by" id="search_by" name="search_by_mobile" placeholder="Search for experts...">
            </div>
        </div>
      <!-- /collapseSearch -->
  </div>
  <!-- /filters_full -->

  <div class="container margin_30_40">


      <div class="" id="expertsList">


      </div>


  <!-- /container -->
  </div>
</form>
