<div class="row isotope-wrapper" id="experts-list">
<?php


  $name = "";
  $queryCondition = "";
  $paramType = "";
  $paramValue = array();


  $orderBy = "username";
  $order = "asc";

  if ($order == "asc") {
      $nextOrder = "desc";
  }

  $href = 'index.php';

  $perPage = 1;
  $page = 2;
  if (isset($_POST['pagination_offset'])) {
      $page = $_POST['pagination_offset'];
  }
  $start = ($page - 1) * $perPage;

  if ($start < 0)
      $start = 0;


  $conditionA = " AND (`first_name` LIKE '%$name%' OR `last_name` LIKE '%$name%' ) ORDER BY ".$orderBy." ".$order;

  $conditionB = $conditionA . " limit " . $start . "," . $perPage;


  $getExperts = getExpertsUserData($conditionB);


  if (!empty($getExperts)) {
      $count = count(getExpertsUserData($conditionA));

      $getExperts["perpage"] = showperpage($count, $perPage, $href);
  }

  foreach ($getExperts as $k => $gEps) {

    if (is_numeric($k)) {

    $totalNoRatings = ReviewAndRating('total_ratings',$gEps['user_id']);
    $totalRatings = ReviewAndRating('total_by_all_r_cat',$gEps['user_id']);

    if ($totalRatings > 0 && $totalRatings < 4.9) {
      $reviewWord = $sh['lang']['review_rating_poor'];
    }elseif ($totalRatings == 0 || $totalNoRatings == 0) {
      $reviewWord = $sh['lang']['no_review_rating'];
    }elseif ($totalRatings > 4.9 && $totalRatings < 7.5) {
      $reviewWord = $sh['lang']['review_rating_superb'];
    }elseif ($totalRatings > 7.5) {
      $reviewWord = $sh['lang']['review_rating_excellent'];
    }


  ?>
  <!-- popular or  latest -->

<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 isotope-item popular">
    <div class="strip">
        <figure>
            <a href="#0" class="wish_bt"><i class="icon_heart"></i></a>
            <img src="img/lazy-placeholder.png" data-src="<?= $gEps['avatar'] ?>" class="img-fluid lazy" alt="">
            <a href="<?= Sh_Link($gEps['username']) ?>" class="strip_info">
                <div class="item_title">
                    <h3><?= GetSingleProfessioanlDataByCol('title',$gEps['professional']) ?>. <?= $gEps['name'] ?></h3>
                    <small><?= $gEps['speciality'] ?> ...</small>
                </div>
            </a>
        </figure>
        <ul>
            <li><a href="<?= Sh_Link($gEps['username']) ?>" class="tooltip-1" data-toggle="tooltip" data-placement="bottom" title="Contact Experts"><i class="icon_mail"></i></a></li>
            <li>
                <div class="score"><span><?= $reviewWord ?><em><?= ($totalNoRatings > 0) ? $totalNoRatings : "0" ?> Reviews</em></span><strong><?= ($totalRatings > 0) ? $totalRatings : "0" ?></strong></div>
            </li>
        </ul>
    </div>
</div>

<!-- /strip grid -->
<?php
  }
}
?>
</div>

<?php if (isset($getExperts["perpage"])) { ?>
<div class="pagination_fg">

    <?php echo $getExperts["perpage"]; ?>

</div>
<?php } ?>
