<div class="container-fluid">


  <div id="logo">
    <a href="<?= $sh['config']['site_url'] ?>">
      <img src="<?= $sh['config']['site_logo'] ?>" width="140" height="35" alt="" class="logo_normal">
      <img src="<?= $sh['config']['site_logo'] ?>" width="120" height="35" alt="" class="logo_sticky">
    </a>
  </div>

  <?php
  	if ($sh['loggedin'] == true) {
  		echo Sh_LoadPage('header/loggedin-header');
  	} else {
  		echo Sh_LoadPage('header/main-header');
  	}
  ?>

  <!-- /top_menu -->
  <?php echo Sh_LoadPage('header/menu-list'); ?>
</div>
