<ul id="top_menu" class="drop_user">
  <li>
    <div class="dropdown user clearfix">
        <a href="#" data-toggle="dropdown">
            <figure>
              <img src="<?= $sh['user']['avatar'] ?>" alt="">
            </figure><?php echo $sh['user']['first_name']; ?>
        </a>
        <div class="dropdown-menu">
            <div class="dropdown-menu-content">
                <ul>
                  <?php if( Sh_IsAdmin() ) { ?>
                    <li><a href="<?php echo $sh['config']['site_url'] . '/admin-cp' ?>"><i class="icon_desktop"></i>Admin</a></li>
                  <?php } ?>
                  <li><a href="<?= Sh_Link($sh['user']['username']) ?>"><i class="icon_cog"></i>My Profile</a></li>
                  <li><a href="#0"><i class="icon_mail"></i>Messages</a></li>
                  <li><a href="<?php echo Sh_Link('logout'); ?>"><i class="icon_key"></i>Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /dropdown -->
  </li>
</ul>
