<ul id="top_menu">

  <?php if($sh['config']['login_type_system'] == 1){ ?>
    <li><a href="#sign-in-dialog" id="sign-in" class="btn_access">Log In</a></li>
  <?php }else{ ?>
    <li><a href="login" class="btn_access">Log In</a></li>
  <?php } ?>

  <?php if($sh['config']['register_type_system'] == 1){ ?>
    <li><a href="#sign-up-dialog" id="sign-up" class="btn_access green">Register</a></li>
  <?php }else{ ?>
    <li><a href="register" class="btn_access green">Register</a></li>
  <?php } ?>

</ul>
