<a href="#0" class="open_close">
  <i class="icon_menu"></i><span>Menu</span>
</a>
<nav class="main-menu">
  <div id="header_menu">
    <a href="#0" class="open_close">
      <i class="icon_close"></i><span>Menu</span>
    </a>
    <a href="<?= $sh['config']['site_url'] ?>"><img src="<?= $sh['config']['site_logo'] ?>" width="120" height="35" alt=""></a>
  </div>
  <ul>

    <li class="submenu">
      <a href="<?= Sh_Link('') ?>" class="show-submenu">Home</a>
    </li>

    <li class="submenu">
      <a href="<?= Sh_Link('search-experts') ?>" class="show-submenu">Experts LookUp</a>
    </li>

    <?php
      $menulinks = getAllPageListData(" (`page_location` = 1 OR `page_location` = 3) AND `status` = 1");
      foreach ($menulinks as $mlk) :
    ?>
    <li class="submenu">
      <a href="<?= Sh_Link($mlk['slug']) ?>" class="show-submenu"><?= $mlk['page_title'] ?></a>
    </li>
  <?php endforeach; ?>
    <!-- <li class="submenu">
      <a href="#0" class="show-submenu">Other Pages</a>
      <ul>
        <li><a href="admin_section/index.html" target="_blank">Admin Dashboard</a></li>
        <li><a href="404.html">404 Error</a></li>
        <li><a href="help.html">Help and Faq</a></li>
        <li><a href="modal-login.html">Modal Login</a></li>
        <li><a href="modal-popup.html">Modal Advertise</a></li>
        <li><a href="modal-newsletter.html">Modal Newsletter</a></li>
        <li><a href="pricing-tables-1.html">Pricing Tables 1</a></li>
        <li><a href="pricing-tables-2.html">Pricing Tables 2</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="coming_soon/index.html" target="_blank">Coming Soon</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="icon-pack-1.html">Icon Pack 1</a></li>
      </ul>
    </li> -->
  </ul>
</nav>
