<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-6">
      <h3 data-target="#collapse_2">Partners</h3>
      <div class="collapse dont-collapse-sm links" id="collapse_2">
        <ul class="footer-selector">
  						<li>
  								<img src="<?= $sh['config']['partner1_image'] ?>" data-src="<?= $sh['config']['partner1_image'] ?>" alt="" class="lazy loaded" data-was-processed="true" width="174"  height="100">
  						</li>

              <li>
  								<img src="<?= $sh['config']['partner2_image'] ?>" data-src="<?= $sh['config']['partner2_image'] ?>" alt="" class="lazy loaded" data-was-processed="true" width="174"  height="100">
  						</li>
  			</ul>
      </div>
    </div>


    <div class="col-lg-3 col-md-6">
      <?php
        $menulinks = getAllPageListData(" (`page_location` = 2 OR `page_location` = 3) AND `status` = 1");
        if(count($menulinks) > 0){ ?>
      <h3 data-target="#collapse_1">Quick Links</h3>
      <div class="collapse dont-collapse-sm links" id="collapse_1">
        <ul>

            <?php

              foreach ($menulinks as $mlk) :
          ?>
            <li>
              <a href="<?= Sh_Link($mlk['slug']) ?>"><?= $mlk['page_title'] ?></a>
            </li>
            <?php endforeach; ?>
        </ul>
      </div>
    <?php } ?>


    </div>
    <div class="col-lg-2 col-md-6">
      <h3 data-target="#collapse_2">Categories</h3>
      <div class="collapse dont-collapse-sm links" id="collapse_2">
        <ul>
          <?php
            $categories = getAllCategoryData("status = 1 LIMIT 4");

            foreach ($categories as $cat) {
          ?>
          <li><a href="<?= Sh_Link('search-experts/'.$cat['id']) ?>"><?= $cat['title'] ?></a></li>
        <?php } ?>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <h3 data-target="#collapse_4">Keep in touch</h3>

      <div id="message_errors"></div>
      <div id="message_success"></div>

      <div class="collapse dont-collapse-sm" id="collapse_4">
        <div id="newsletter">
          <form method="post" id="submitnewsletter_form">
            <div class="form-group">
              <input type="email" name="email_newsletter" id="email_newsletter" required class="form-control" placeholder="Your email">
              <button type="submit" id="submit-newsletter"><i class="arrow_carrot-right"></i></button>
            </div>
          </form>
        </div>
        <div class="follow_us">
          <ul>
            <?php if($sh['config']['twitter'] != ""){ ?>
            <li><a href="<?= $sh['config']['twitter'] ?>"><img src="http://www.ansonika.com/prozim/img/twitter_icon.svg" data-src="http://www.ansonika.com/prozim/img/twitter_icon.svg" alt="" class="lazy"></a></li>
            <?php } ?>

            <?php if($sh['config']['facebook'] != ""){ ?>
            <li><a href="<?= $sh['config']['facebook'] ?>"><img src="http://www.ansonika.com/prozim/img/facebook_icon.svg" data-src="http://www.ansonika.com/prozim/img/facebook_icon.svg" alt="" class="lazy"></a></li>
            <?php } ?>

            <?php if($sh['config']['instagram'] != ""){ ?>
            <li><a href="<?= $sh['config']['instagram'] ?>"><img src="http://www.ansonika.com/prozim/img/instagram_icon.svg" data-src="http://www.ansonika.com/prozim/img/instagram_icon.svg" alt="" class="lazy"></a></li>
            <?php } ?>

            <?php if($sh['config']['youtube'] != ""){ ?>
            <li><a href="<?= $sh['config']['youtube'] ?>"><img src="http://www.ansonika.com/prozim/img/youtube_icon.svg" data-src="http://www.ansonika.com/prozim/img/youtube_icon.svg" alt="" class="lazy"></a></li>
            <?php } ?>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /row-->
  <hr>
  <div class="row add_bottom_25">
    <div class="col-lg-6">
      <ul class="footer-selector clearfix">
						<li>
								<img src="<?= $sh['config']['site_logo'] ?>" data-src="<?= $sh['config']['site_logo'] ?>" alt="" class="lazy loaded" data-was-processed="true"  height="35">
						</li>
			</ul>
    </div>
    <div class="col-lg-6">
      <ul class="additional_links">
        <li><a href="#0">Terms and conditions</a></li>
        <li><a href="#0">Privacy</a></li>
        <li><span><?= $sh['config']['site_footer'] ?></span></li>
      </ul>
    </div>
  </div>
</div>
